#options-fullsize.modal.modal--select-optns.fade(tabindex='-1', role='dialog', aria-hidden='true', data-bs-backdrop="static")
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-header
                h2.product-title Customize your Indian Creek Panel Amish Bed:
            .modal-body
                #optgroup-3
                    .product-customize-form
                        h6.product-customize-subtitle
                            strong.me-1 Choose 1:
                            |  Fabric
                            a.more.ps-3.ms-3.border-start.openFullSize(href='#') Open full-sized previews
                        .product-includes.warning.mb-5
                            p.text-dark
                                | Please note that the stain or paint colors shown may not appear the same on all computer monitors. Actual results on your furniture may also vary due to natural variations in the color, grain, and texture of the wood. You may call or email to request stain samples.
                        #fabric-full-size-container
                        #fabric-full-size.product-customize-list.fabric-gallery
                            .fabric-gallery__item(data-src="img/fabric/fabric-01.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-101" name="fabric")
                                    label.product-option--label(for="fabric-101")
                                        img(src="img/fabric/fabric-01.jpg", alt="#").img-fluid
                                        p.name 4-10 dove

                            .fabric-gallery__item(data-src="img/fabric/fabric-02.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-102" name="fabric" checked)
                                    label.product-option--label(for="fabric-102")
                                        img(src="img/fabric/fabric-02.jpg", alt="#").img-fluid
                                        p.name(data-title="1-49 Gallery") 1-49 Gallery

                            .fabric-gallery__item(data-src="img/fabric/fabric-03.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-104" name="fabric")
                                    label.product-option--label(for="fabric-104")
                                        img(src="img/fabric/fabric-03.jpg", alt="#").img-fluid
                                        p.name(data-title="1-49 Gallery") 1-49 Gallery

                            .fabric-gallery__item(data-src="img/fabric/fabric-04.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-105" name="fabric")
                                    label.product-option--label(for="fabric-105")
                                        img(src="img/fabric/fabric-04.jpg", alt="#").img-fluid
                                        p.name(data-title="1-49 Gallery") 1-49 Gallery

                            .fabric-gallery__item(data-src="img/fabric/fabric-05.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-106" name="fabric")
                                    label.product-option--label(for="fabric-106")
                                        img(src="img/fabric/fabric-05.jpg", alt="#").img-fluid
                                        p.name(data-title="1-49 Gallery") 1-49 Gallery

                            .fabric-gallery__item(data-src="img/fabric/fabric-06.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-107" name="fabric")
                                    label.product-option--label(for="fabric-107")
                                        img(src="img/fabric/fabric-06.jpg", alt="#").img-fluid
                                        p.name(data-title="1-49 Gallery") 1-49 Gallery

                            .fabric-gallery__item(data-src="img/fabric/fabric-07.jpg", data-sub-html=".product-option.option-stain")
                                .product-option.option-stain
                                    input( type="radio" id="fabric-108" name="fabric")
                                    label.product-option--label(for="fabric-108")
                                        img(src="img/fabric/fabric-07.jpg", alt="#").img-fluid
                                        p.name(data-title="1-49 Gallery") 1-49 Gallery

                        <!-- If we need navigation buttons -->
                        .swiper-button-prev
                        .swiper-button-next

                        a.closeFullSize(href="#") View Standard Previews
            hr
            .modal-footer.row
                .col-12.col-lg-8.offset-lg-2
                    .pagination
                        .pagination-inner
                            a.pagination-arrow.prev.inactive(href='#')
                                span
                            ul
                                li #[a.inactive(href='#') 1]
                                li #[a(href='#') 2]
                                li #[a(href='#') 3]
                                li #[a(href='#') 4]
                                li #[a(href='#') 5]
                                li #[a(href='#') 6]
                                li ...
                                li #[a(href='#') 21]
                            a.pagination-arrow.next(href='#')
                                span

