#shipping_options2.modal.modal--shipping-opns.customize_popup.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        .modal-wrapper
          .modal-wrapper-left
            h4.modal-wrapper-title.mb-md-5 Shipping Options for Indian Creek Panel Amish Bed
            hr
            ul.modal-options-list
              li.d-flex.flex-row
                .d-flex.flex-column.w-75
                  .form-check.custom-radio
                    input#customRadio1.form-check-input(type='radio', name='customRadio', checked)
                    label.form-check-label.modal-wrapper-subtitle(for='customRadio1') (Combined) Standard curbside delivery
                  p.mb-0.ps-4 With a handcrafted wood kitchen set mealtimes will become the special bonding time you’ve always dreamed of. Solidly constructed fan back chairs are optionally.
                .d-flex.justify-content-end.align-items-center.w-25
                  p.text-brown #[strong $137.00]
              li.d-flex.flex-row
                .d-flex.flex-column.w-75
                  .form-check.custom-radio
                    input#customRadio2.form-check-input(type='radio', name='customRadio')
                    label.form-check-label.modal-wrapper-subtitle(for='customRadio2') (Combined) Inside delivery with setup
                  p.mb-0.ps-4 Solidly constructed fan back chairs are optionally stained in 2 tones, creating natural wood and black kitchen chairs with custom contoured seats. The natural and black kitchen table features elegantly curved table legs, and is optionally an expandable kitchen table with self storing leaves.
                .d-flex.justify-content-end.align-items-center.w-25
                  p.text-brown #[strong $137.00]
            .information
              p.mb-1 Information about delivery and shipping:
              p.mb-1 #[a.more.combined_shipping(href='#') What is combined shipping]
              p.mb-1 #[a.more.how_long_shipping(href='#') How long does it usually takes]
          .modal-wrapper-right
            .py-3.px-4.text-dark.border-bottom
              | Shipping prices calculated for zip code:
              b 18567
              a.edit.ms-1(href='#', data-bs-toggle='modal', data-bs-target='#shipping_options1')
                i.fa.fa-pencil
                |  Change
            .py-3.px-4
              p
                span.text-dark Selected shipping option:
                br
                strong Standard curbside delivery
              p
                span.text-dark Combined shipping:
                br
                strong.text-brown Yes
                |  (no items to combine in your cart)
              a.btn.btn-default.d-block.text-uppercase(href="#") Save
              a.btn.btn-outline.d-block.text-uppercase(href="#") Cancel
          .combined_shipping_overflow.text_overflow.px-5.py-3
            a.back(href='#')
                i.fa.fa-chevron-left
                |  back
            h4.modal-inner-title What is Combined Shipping
            p Cabinfield warrants to the original consumer purchaser that this polyethylene patio furniture product is free of defects in workmanship and materials. The warranty period is twenty (20) years of residential use, with exceptions on certain parts as explained below, from the date of sale.
            p This warranty does not cover damage caused by unauthorized service or repair; alteration or abuse, normal wear and tear on materials, or any attempt to use the product in a manner or for a purpose other than for which it is intended. Cabinfield will repair or, at its option, replace the defective product without charge. Should Cabinfield choose to replace the product, and the product is discontinued, a substitute product of similar function and equal or greater value will be made. Polyethylene may scratch during normal use, fade slightly from exposure to sunlight, or stain after prolonged contact with other substances. These conditions are not defects and are not covered under this warranty. Stainless steel fasteners are warranted to not fail structurally for the applicable warranty period if maintained according to the Care and Maintenance document. Swivels are warranted to not fail structurally for five (5) years of residential use. This warranty does not cover rusted fasteners and swivels, or structural failure due to rusted fasteners and swivels, resulting from improper maintenance. Cushions are warranted for a period of one (1) year of residential use. Compression of cushions is not considered a defect. Cabinfield makes no warranties other than those which are expressly described herein. Cabinfield extends no implied warranty of merchantability or of fitness for a particular purpose, and disclaims all liability for indirect or consequential damages, including, but not limited to, lost profits or other economic or commercial losses. Some states do not allow the exclusion or limitation of indirect or consequential damages; therefore, the above limitation may not apply to you. The sole remedy provided in this warranty is repair or replacement of this product. Any cost of shipping and handling will be paid by you.
          .how_long_shipping_overflow.text_overflow.px-5.py-3
            a.back(href='#')
                i.fa.fa-chevron-left
                |  back
            h4.modal-inner-title How long does it usually takes
            p text
          .img_overflow_fade
