#customize_popup5.modal.modal--shipping-opns.customize_popup.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-body
                button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-wrapper
                    .modal-wrapper-left.p-md-4
                        p.text-dark
                            b Cut Size measurements of pillows:
                            |  Standard size Pillow measures 20 in x 26 in. Queen size pillow measures 20 in x 30 in. King size pillow measures 20 in x 36 in  size.
                        img.img-fluid.mb-3(src='img/product/tmp_product.jpg', alt='#')
                        p.text-dark Keeps you Cool - Our Ultra Soft Proprietary Bamboo Polyester Blend Fabric is designed to help regulate your temperature and keep you cool. - The Shredded Memory Foam allows far more air circulation compared to standard memory foam.
                        img.img-fluid(src='img/product/tmp_product.jpg', alt='#')

                    .modal-wrapper-right
                        div#opt123123123123
                            .p-md-4.text-dark
                                h5.text-black.mb-0 Pick one
                                span Selected:
                                span.text-black  Option Two
                            .d-flex.flex-column.p-md-4
                                form.product-customize-form.border-none
                                    ul.product-customize-list
                                        li.product-option.mb-2.w-100
                                            input( type="radio" id="opt-01" name="opts" checked)
                                            label.w-100(for="opt-01") Option One
                                                span.ms-1 $46
                                        li.product-option.mb-2.w-100
                                            input( type="radio" id="opt-02" name="opts")
                                            label.w-100(for="opt-02") Option Two
                                                span.ms-1 $92
                                        li.product-option.mb-2.w-100
                                            input( type="radio" id="opt-03" name="opts")
                                            label.w-100(for="opt-03") Option Three
                                                span.ms-1 $156
                            .d-flex.flex-column.p-md-4
                                a.btn.btn-default.d-block.text-uppercase(href='#') Save #[span +92$]
                                a.btn.btn-outline.d-block.text-uppercase(href='#', data-bs-dismiss='modal', aria-label='Close') x cancel







