<!--modal calculate-->
#modal--calculate.modal.modal--calculate(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-md(role='document')
        form.form.modal-content.p-4
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .form-group.w-100.mb-0
                    h4.text-center.modal-title Calculate Shipping
                    p.mb-0.text-center Please enter zip code to see shipping charges
            .modal-body
                .form-group.row
                    .col-sm-2.d-flex.align-content-center
                        label(for='myZIP') My zip
                    .col-sm-4
                        input#myZIP.form-control(type='text')
                .form-group
                    label Delivery:
                .form-group
                    .checkbox.custom_checkbox.mb-3
                        input#myZIP0(type='checkbox' name='myZIP' value='' checked="checked")
                        label.text-dark.mb-0(for='myZIP0') Standard curbside delivery
                .form-group
                    .checkbox.custom_checkbox
                        input#myZIP1(type='checkbox' name='myZIP' value='')
                        label.text-dark.mb-0(for='myZIP1') Inside delivery with set up
            .modal-footer
                .form-group
                    button.btn.btn-warning.text-uppercase(type='submit')
                        strong Calculate and add to cost
<!--modal calculate end-->

