#customize-popup-9.modal.customize_popup.gallery.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        .modal-wrapper
          .modal-wrapper-left.p-md-4
            .d-flex.justify-content-between.mb-3
              h6.text-dark
                span Search results for "OCS -"
              p.text-uppercase 
                a(href="#").text-uppercase 
                  i.fa.fa-trash.mr-1
                  | reset search
            form.product-customize-form
              ul.product-customize-list
                li.product-option.option-hboard
                  input#OCS-01(type='radio', name='OCS')
                  label(for='OCS-01',data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span.name OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-02(type='radio', name='OCS')
                  label(for='OCS-02',data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span.name OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-03(type='radio', name='OCS')
                  label(for='OCS-03', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-04(type='radio', name='OCS')
                  label(for='OCS-04', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-05(type='radio', name='OCS')
                  label(for='OCS-05', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-06(type='radio', name='OCS', checked='')
                  label(for='OCS-06', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-07(type='radio', name='OCS')
                  label(for='OCS-07', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-08(type='radio', name='OCS')
                  label(for='OCS-08', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-09(type='radio', name='OCS', checked='')
                  label(for='OCS-09', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-10(type='radio', name='OCS')
                  label(for='OCS-10', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
          .modal-wrapper-right
            .d-felx.p-md-4.text-dark.border-bottom
              h5.text-black.mb-0 Hardware
              .selected.mb-3
                span.text-dark.mb-3 Selected:  
                  span.text-black.mr-2 OCS-101 S-2
                a.edit(href='#')
                  i.fa.fa-pencil
              a.btn.btn-default.d-block.text-uppercase(href='#') Apply
              a.btn.btn-outline.d-block.text-uppercase(href='#', data-dismiss='modal', aria-label='Close') x cancel
            .d-felx.p-md-4.text-dark
              a.choose_hershbergers_hardware.more(href='#')
                | Choose hardware from Hershberger’s retail catalog

          .img_overflow.text-center
            .inner_wrapper
              .title_wrapper
                a.back(href='#')
                  i.fa.fa-chevron-left
                  |  Back
                span.title
                a.select(href='#') Select
              img.main_img.img-fluid(src='#', alt='#')
          .hershbergers_hardware_overflow
            .inner_wrapper.mb-5
              .title_wrapper
                a.back(href='#')
                  i.fa.fa-chevron-left
                  |  Back
                h4.modal-title.text-center Select from the Hershberger’s Hardware Retail Catalog
            .row.stages
              .col-md-4
                .stages-img
                  img.img-fluid(src='img/svg/pdf-icon.svg', alt='#')
                .stages-title
                  span.stage 1.
                  | Open retail catalog
                  br
                  a(href='#').text-underline Click here to open catalog
              .col-md-4
                .stages-img
                  img.img-fluid(src='img/svg/hardware-icon.svg', alt='#')
                .stages-title
                  span.stage 2.
                  | Select hardware from the PDF catalog
              .col-md-4
                .stages-img
                  img.img-fluid(src='img/product/catalog-check-icon.png', alt='#')
                .stages-title
                  span.stage 3.
                  | Enter hardware number below and press APPLY
                  .input-group.my-3
                    input.form-control(type='text', name='hardware_number', placeholder='Number')
                    .input-group-append
                      a.btn.btn-default(href='#') Apply

          .img_overflow_fade