<!--modal #motor_freight_shipping-->
#motor_freight_shipping.modal.modal--infopopup.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-md(role='document')
    .modal-content
      .modal-body
        p.modal-subtitle Important information
        h4.text-center.modal-title Motor freight shipping
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        p.text-black Cabinfield warrants to the original consumer purchaser that this polyethylene patio furniture product is free of defects in workmanship and materials. The warranty period is twenty (20) years of residential use, with exceptions on certain parts as explained below, from the date of sale.
        p.text-black This warranty does not cover damage caused by unauthorized service or repair; alteration or abuse, normal wear and tear on materials, or any attempt to use the product in a manner or for a purpose other than for which it is intended. Cabinfield will repair or, at its option, replace the defective product without charge. Should Cabinfield choose to replace the product, and the product is discontinued, a substitute product of similar function and equal or greater value will be made. Polyethylene may scratch during normal use, fade slightly from exposure to sunlight, or stain after prolonged contact with other substances. These conditions are not defects and are not covered under this warranty. Stainless steel fasteners are warranted to not fail structurally for the applicable warranty period if maintained according to the Care and Maintenance document. Swivels are warranted to not fail structurally for five (5) years of residential use. This warranty does not cover rusted fasteners and swivels, or structural failure due to rusted fasteners and swivels, resulting from improper maintenance. Cushions are warranted for a period of one (1) year of residential use. Compression of cushions is not considered a defect. Cabinfield makes no warranties other than those which are expressly described herein. Cabinfield extends no implied warranty of merchantability or of fitness for a particular purpose, and disclaims all liability for indirect or consequential damages, including, but not limited to, lost profits or other economic or commercial losses. Some states do not allow the exclusion or limitation of indirect or consequential damages; therefore, the above limitation may not apply to you. The sole remedy provided in this warranty is repair or replacement of this product. Any cost of shipping and handling will be paid by you.
<!--modal motor_freight_shipping end-->

