#customize_popup7.modal.customize_popup.gallery.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        .modal-wrapper
          .modal-wrapper-left.p-md-4
            .d-flex.justify-content-between.mb-3
              h6.text-dark
                span Search results for "OCS -"
              p.text-uppercase 
                a(href="#").text-uppercase 
                  i.fa.fa-trash.mr-1
                  | reset search
            form.product-customize-form
              ul.product-customize-list
                li.product-option.option-hboard
                  input#OCS-01(type='radio', name='OCS')
                  label(for='OCS-01',data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span.name OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-02(type='radio', name='OCS')
                  label(for='OCS-02',data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span.name OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-03(type='radio', name='OCS')
                  label(for='OCS-03', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-04(type='radio', name='OCS')
                  label(for='OCS-04', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-05(type='radio', name='OCS')
                  label(for='OCS-05', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-06(type='radio', name='OCS', checked='')
                  label(for='OCS-06', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-07(type='radio', name='OCS')
                  label(for='OCS-07', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-08(type='radio', name='OCS')
                  label(for='OCS-08', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-09(type='radio', name='OCS', checked='')
                  label(for='OCS-09', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
                li.product-option.option-hboard
                  input#OCS-10(type='radio', name='OCS')
                  label(for='OCS-10', data-big-img='img/product/furniture_big.jpg')
                    .enlarge
                      i.fa.fa-search-plus
                      | enlarge
                    img.img-fluid(src='img/product/furniture_1.jpg', alt='#')
                    span OCS-101 S-2
          .modal-wrapper-right
            .d-felx.p-md-4.text-dark.border-bottom
              h5.text-black.mb-3 Hardware
              form.header-search.flex-row-reverse.w-100.m-0.mb-3
                input.form-control(type='search', name='search', placeholder='Search by number', aria-label='Search')
                button.btn.btn-outline-primary(type='submit')
                  i.fa.fa-search
              a.catalog(href="#")
                i.fa.fa-file-pdf-o
                | Browse Hershberger’s Hardware Retail Catalog
            .d-flex.flex-column.p-md-4
              span.text-dark.mb-3 Selected: 
                span.text-black OCS-101 S-2
              a.btn.btn-default.d-block.text-uppercase(href='#') Apply
              a.btn.btn-outline.d-block.text-uppercase(href='#', data-dismiss='modal', aria-label='Close') x cancel
          .img_overflow.text-center
            .inner_wrapper
              .title_wrapper
                a.back(href='#')
                  i.fa.fa-chevron-left
                  |  Back
                span.title
                a.select(href='#') Select
              img.main_img.img-fluid(src='#', alt='#')
          .img_overflow_fade




              
              

