#customize_popup1.modal.modal--shipping-opns.customize_popup.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        .modal-wrapper
          .modal-wrapper-left.p-md-4
            p.text-dark
              b Cut Size measurements of pillows:
              |  Standard size Pillow measures 20 in x 26 in. Queen size pillow measures 20 in x 30 in. King size pillow measures 20 in x 36 in  size.
            img.img-fluid.mb-3(src='img/product/tmp_product.jpg', alt='#')
            p.text-dark Keeps you Cool - Our Ultra Soft Proprietary Bamboo Polyester Blend Fabric is designed to help regulate your temperature and keep you cool. - The Shredded Memory Foam allows far more air circulation compared to standard memory foam.
            img.img-fluid(src='img/product/tmp_product.jpg', alt='#')

          .modal-wrapper-right
            div#opt123123123123
              .p-md-4.text-dark.border-bottom
                h5.text-black.mb-0
                  b 16" x 16" Pillow(s)
                span + $23 per pillow
              +input-number('Quantity:', 'quantity', 'quantity' , '3' , '46$')
              .d-flex.flex-column.p-3
                a.btn.btn-order.d-block.text-uppercase(href='#') Save
                a.btn.btn-outline.d-block.text-uppercase(href='#', data-dismiss='modal', aria-label='Close') cancel







