<!--modal zip enter-->
#zip_enter.modal.modal--zip.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-sm(role='document')
    .modal-content
      .modal-body
        h4.text-center.modal-title Delivery ZIP Code
        button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        p.text-center Enter your delivery zip code for more information about combined delivery and shipping charges
        form.form.modal--zip-form
          .mb-3
            input.form-control(type="text" name="zip" minlength="5" maxlength="5" placeholder="8●●●●")
          .mb-3.d-flex
            button.btn.btn-default.w-100(type='submit') Save My ZIP Code
          p.text-center.mb-0 Or #[a(href='#') Sign In] with your Cabinfield account
        .modal-footer
<!--modal zip enter end-->
