#assembly_quote.modal.modal--shipping-opns.assembly_quote.customize_popup.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        .modal-wrapper
          .modal-wrapper-left.mb-3
            h4.modal-wrapper-title.mb-md-5 Quote request for assembled delivery of Carolina Crown Amish Gazebo
            p Solidly constructed fan back chairs are optionally stained in 2 tones, creating natural wood and black kitchen chairs with custom contoured seats. The natural and black kitchen table features elegantly curved table legs, and is optionally an expandable kitchen table with self storing leaves.
            hr
            form.form.row
              .col-lg-6.col-sm-12
                .mb-4
                  label.col-form-label.col-form-label-sm Your name
                  input.form-control(type='email', name='your-name')
                .mb-3
                  label.col-form-label.col-form-label-sm Email address
                  input.form-control(type='email', name='your-mail')
                .d-flex.justify-content-between.align-items-center
                  .w-50.me-1.mb-0
                    label.col-form-label.col-form-label-sm Zip-code
                    input.form-control(type='number', name='zip_code', placeholder='●●●●●')
                  .w-50.ms-1.mb-0
                    label.col-form-label.col-form-label-sm Phone (optional)
                    input.form-control(type='text', name='phone', placeholder='(●●●) ●●●●●')
              .col-lg-6.col-sm-12
                .mb-4
                  label.col-form-label.col-form-label-sm Comment (optional)
                  textarea.form-control(name='comment', rows="5")
                .w-100.mb-0.mt-1
                  button.btn.btn-warning.d-block.w-100(type='submit') Send request

          .modal-wrapper-right
            .option-selected.px-3.py-md-5
              p #[strong Options selected:]
              ul.option-selected-list
                li Bed size:
                  span Queen (64"W x 86"L)
                li Headboard Style:
                  span Adessa
                li Set:
                  span Full Bed
                li Wood:
                  span Quartersawn White Oak
                li Wood stain:
                  span OCS-225 Mission Maple
                li Nail Head Style:
                  span Antique Silver
                li Bed size:
                  span Queen (64"W x 86"L)
                li Headboard Style:
                  span Adessa
                li Set:
                  span Full Bed
                li Wood:
                  span Quartersawn White Oak
                li Wood stain:
                  span OCS-225 Mission Maple
                li Nail Head Style:
                  span Antique Silver
