#mainimage_popup.modal.fade.modal--mainimage(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h3.h3.text-center.text-dark.w-100
                    .text
            .modal-body.row
                .col-1
                    .d-flex.h-100.justify-content-center.align-items-center
                        a.btn.px-1.prev_img(href='#')
                            i.fa.fa-chevron-left
                .col-10
                    .mainimage-img.m-auto
                        img#pdp-zoom(src='#', alt='#')
                .col-1
                    .d-flex.h-100.justify-content-center.align-items-center
                        a.btn.px-1.next_img(href='#')
                            i.fa.fa-chevron-right

                //.title.mb-3
                //
                //    span.mx-3

            .modal-footer
                .d-flex.flex-row.align-items-center.justify-content-center
                    a.btn.btn-outline-warning.mx-1.zoom-out(href="#", data-zoom="#pdp-zoom")
                        i.fa.fa-minus
                    a.btn.btn-outline-warning.mx-1.zoom-in(href="#", data-zoom="#pdp-zoom")
                        i.fa.fa-plus

        //.modal-content
        //
        //    .modal-body.p-0
        //        button.close(type='button', data-dismiss='modal', aria-label='Close')
        //            span(aria-hidden='true') ×
        //        .mainimage-content-wrap
        //            .mainimage-img
        //                img(src='#', alt='#')
        //            .mainimage-content
        //                .title.mb-3
        //                    a.prev_img(href='#')
        //                        i.fa.fa-chevron-left
        //                    span.mx-3
        //                    a.next_img(href='#')
        //                        i.fa.fa-chevron-right
        //                .text
