#customize_popup_info.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content.p-4
            button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .modal-header.px-0
                h4.modal-title Shown small and large pillows
            .modal-body
                //loaded from DB
                .modal-content-loaded
                    p Small: 13" x 13"
                    p Large: 17" x 17"
                    p
                        img(src='img/product/tmp_product.jpg', alt='#')
                    p Optional pillow(s) will come in the same fabric or leather as selected for the furniture.
                //end of loaded from DB
            .modal-footer






