#assembly_quote_request_sent.modal.modal--infopopup.fade.customize_popup.shipping_options.assembly_quote.request_sent(tabindex='-1', role='dialog')
  .modal-dialog.modal-dialog-centered.modal-md(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.text-center.modal-title Quote request sent
        p.text-center.text-black Your quote for assembled delivery of Indian Greek Amish Gazebo will be ready in 3-5 business days. You will recieve notification by email as it will be ready.
        h5.modal-title-second.mb-3 Your quote request for assembled delivery
        .row.mb-3
          .col-sm-5.offset-md-1
            .option-selected
              ul.option-selected-list
                li Name: 
                  span John Doe
                li Email: 
                  span john.doe@gmail.com
                li Zip code: 
                  span 193962
                li Phone: 
                  span (345) 4356543
                li Comment:
                  br
                  span please assemble it in a shape of a giant kitten
          .col-sm-5
            .option-selected
              ul.option-selected-list
                li Bed size: 
                  span Queen (64"W x 86"L)
                li Headboard Style: 
                  span Adessa
                li Set: 
                  span Full Bed
                li Wood: 
                  span Quartersawn White Oak
                li Wood stain: 
                  span OCS-225 Mission Maple
                li Nail Head Style: 
                  span Antique Silver
                li Bed size: 
                  span Queen (64"W x 86"L)
                li Headboard Style: 
                  span Adessa
                li Set: 
                  span Full Bed
                li Wood: 
                  span Quartersawn White Oak
                li Wood stain: 
                  span OCS-225 Mission Maple
                li Nail Head Style: 
                  span Antique Silver
        p.text-center
          a(href='#') Re-send quote request
