extends ../main-template

block title
    | Page not found

block content
    main.content
        .container.px-0
            section.card.card-404.p-md-5.p-3.w-100

                h2.card-title.mb-5 Oops! The requested resource can't be found.
                p.mb-5 You can try using the search field below or browse the links to find the category the page should be in.

                .row.px-0.mb-5
                    .col-md-6.col-sm-12
                        form.form-search
                            input.form-control(type='search', name="search", placeholder='Search our store', aria-label='Search')
                            button.btn.btn-outline-primary(type='submit')
                                i.fa.fa-search

                p
                    a.btn-why(href="/") Return home
