extends ../main-template

block title
	| Cabinfield About page

block content
	main.content
		<!--About-->
		include ../components/_about-new
		<!--About end-->
		<!--Review section-->
		include ../layout/_review-section
		<!--Review section end-->
