extends ../main-template

block title
	| Cabinfield shopping cart

block content
	main.content
		<!-- Cart section-->
		include ../components/_cart-section
		<!-- Cart section end-->
		<!-- Review section-->
		include ../layout/_review-section
		<!-- Review section end-->