extends ../main-template
block title
	| Cabinfield Order Placed

block content
	main.content
		<!-- Cart edit address section-->
		include ../components/_cart-thank-you
		<!-- Cart edit address section end-->
