extends ../cart-edit-section-template

block title
    | Cabinfield cart review and pay

block content
    main.content
        <!-- Cart review and pay section-->
        include ../components/_cart-review-and-pay
        <!-- Cart review and pay end-->
