extends ../main-template

block title
	| Cabinfield Category LV - 1

block content
	+breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#']])
	main.content.pt-lg-0
		.container
			h1.text-center.mb-0 Beds & Headboards
			p.lead.text-dark.text-center.mx-auto Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
		<!--Category list inner page -->
		include ../layout/_category-list-innerpage
		<!--Category list inner page end-->
		<!--Related products-->
		include ../layout/_related-products
		<!--Related products end-->
		<!--Related products-->
		include ../layout/_related-products
		<!--Related products end-->
		<!--Review section-->
		include ../layout/_review-section
		<!--Review section end-->