extends ../main-template
block title
	| Cabinfield Checkout Information

block content
	main.content
		<!-- Cart edit address section-->
		include ../components/_cart-checkout-info
		<!-- Cart edit address section end-->
