extends ../style-template

block title
    | Cabinfield Category LV - 0

block content
    +breadcrumbs([['Bedrooms', '#'], ['Shop Collections', '#'], ['SHOP Series', '#']])
    main.content.pt-lg-0
        .container.mb-5
            .d-flex.flex-row.justify-content-between
                h1.text-left.text-dark.text-bold Bed Room Collections
                a.btn.btn-lg.btn-warning.ml-auto(href="#") Shop by furniture piece
        <!--Widgets for inner page-->
        include ../layout/_collections-widgets
        <!--Widgets for inner page end-->

