extends ../main-template

block title
	| Cabinfield FAQ page

block content
	main.content
		<!--terms-section-->
		include ../components/_faq
		<!--terms-section-->
		<!--Review-section-->
		include ../layout/_review-section
		<!--Review-section end-->