extends ../gift-form-template

block title
    | Cabinfield Gift Certificate

block content
    main.content
        <!--Gift form 01-->
        include ../layout/_buy-certificate
        <!--Gift form 01 end-->
