extends ../gift-form-template

block title
    | Cabinfield Gift Certificate

block content
    main.content.p-0
        <!--Gift form 01-->
        include ../layout/_buy-thanks
        <!--Gift form 01 end-->
