extends ../main-template

block title
    | Cabinfield Help Center

block content
    main.content
        +breadcrumbs([['Help Center', '#']])
        <!--help-section-->
        include ../components/_help
        <!--help-section-->
