extends ../main-template

block title
	| Cabinfield Home page

block content
	main.content
		include ../layout/_home-block
		<!--Widgets-->
		include ../layout/_home-icon-widgets
		<!--Widgets end-->
		include ../layout/_home-product-block
		<!--Related products-->
		include ../layout/_related-products-new
		<!--Related products end-->
		include ../layout/_review-section-new
		include ../layout/_signup-action
