extends ../main-template

block title
	| Cabinfield Home page

block content
	main.content
		include ../layout/_home-slider
		<!--Widgets-->
		include ../layout/_home-widgets
		<!--Widgets end-->
		<!--Related products-->
		include ../layout/_related-products
		<!--Related products end-->