extends ../main-template

block title
    | Cabinfield Kitchen LV - 0

block content
    +breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#']])
    main.content.pt-lg-0
        .container
            h1.text-center Kitchen
        <!--Category list -->
        include ../layout/_category-list
        <!--Category list end-->
        <!--Widgets for kitchen page-->
        include ../layout/_kitchen-widgets-lv0
        <!--Widgets for kitchen page end-->
        <!--Review section-->
        include ../layout/_review-section
        <!--Review section end-->
