extends ../main-template

block title
	| Cabinfield Living Room LV - 0

block content
	+breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#']])
	main.content.pt-lg-0
		.container
			h1.text-center Living Room
		<!--Category list -->
		include ../layout/_category-list
		<!--Category list end-->
		<!--Widgets Living Room page-->
		include ../layout/_living-room-widgets-lv0
		<!--Widgets Living Room page end-->
		<!--Review section-->
		include ../layout/_review-section
		<!--Review section end-->