extends ../main-template

block title
    | Cabinfield shopping cart

block content
    main.content
        <!-- Cart edit address section-->
        include ../components/_order-samples-thank-you
        <!-- Cart edit address section end-->
