extends ../main-template

block title
	| Cabinfield Outdoor LV - 0

block content
	+breadcrumbs([['Outdoor', '#'], ['', '']])
	main.content.pt-lg-0
		.container
			h1.text-center Outdoor
		<!--Category list -->
		include ../layout/_category-list
		<!--Category list end-->
		<!--Widgets for Outdoor page-->
		include ../layout/_outdoor-widgets-lv0
		<!--Widgets for Outdoor page end-->
		<!--Review section-->
		include ../layout/_review-section
		<!--Review section end-->