extends ../main-template
block title
	| Cabinfield Payment Information

block content
	main.content
		<!-- Cart edit address section-->
		include ../components/_cart-payment-info
		<!-- Cart edit address section end-->
