extends ../product-options-template
block title
    | Product page

block content
    +breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#'], ['Platform beds', '#']])
    main.content.pt-lg-0
        .container
            form.header-search.d-flex.d-lg-none
                input.form-control(type='search', name="search", placeholder='Search our store', aria-label='Search')
                button.btn.btn-outline-primary(type='submit')
                    i.fa.fa-search
        <!--Product overview-->
        include ../components/_product-new
        <!--Product end-->
        <!--Product features tabs-->
        include ../layout/_product-features-tabs
        <!--Product features tabs end-->
        <!--Related products-->
        include ../layout/_related-products
        <!--Related products end-->

        <!--Product customize-->
        //include ../components/_product-customize
        <!--Product customize end-->

        <!--Related products-->
        //include ../layout/_related-products
        <!--Related products end-->
        <!--Related products-->
        //include ../layout/_related-products
        <!--Related products end-->
        <!--Top product section-->
        include ../components/_top-section-product-select
        <!--Top product section end-->



