extends ../product-template-v3

block title
	| Product page

block content
	main.content.pt-lg-0
		+breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#'],['Platform bed', '#']])
		<!--Product-v3 overview-->
		include ../components/_product-v3
		<!--Product-v3 end-->
		<!--Related products-->
		include ../layout/_related-products-without-descr
		<!--Related products end-->
		<!--Product features-->
		include ../layout/_product-features
		<!--Product features end-->
		<!--Product customize-->
		include ../components/_product-customize
		<!--Product customize end-->
		<!--Product reviews-->
		include ../layout/_product-reviews
		<!--Product reviews end-->
		<!--Related products-->
		include ../layout/_related-products
		<!--Related products end-->
		<!--Top product section v3-->
		include ../components/_top-section-v3
		<!--Top product section v3 end-->


		
