extends ../product-template-v1

block title
    | Product page

block content
    nav(aria-label='breadcrumb')
        .container.px-0
            ul.breadcrumb
                li.breadcrumb-item
                    a(href='index.html')
                        i.fa.fa-home
                li.breadcrumb-item
                    a(href='#')  Bedrooms
                li.breadcrumb-item
                    a(href='#')  Beds & Headboards
                li.breadcrumb-item Platform bed


    main.content.pt-lg-0
        <!--Product-v1 overview-->
        include ../components/_product-v1
        <!--Product-v1 end-->
        <!--Related products-->
        include ../layout/_related-products-without-descr
        <!--Related products end-->
        <!--Product features-->
        include ../layout/_product-features
        <!--Product features end-->
        <!--Product customize-->
        include ../components/_product-customize
        <!--Product customize end-->
        <!--Product reviews-->
        include ../layout/_product-reviews
        <!--Product reviews end-->
        <!--Related products-->
        include ../layout/_related-products
        <!--Related products end-->
        <!--Top product section-->
        include ../components/_top-section-v1
        <!--Top product section end-->



