extends ../main-template

block title
	| Product page

block content
	+breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#'],['Platform bed', '#']])
	main.content.pt-lg-0
		<!--Product overview-->
		include ../components/_product
		<!--Product end-->
		<!--Related products-->
		include ../layout/_related-products-4-items
		<!--Related products end-->
		<!--Product features-->
		include ../layout/_product-features
		<!--Product features end-->
		<!--Product customize-->
		include ../components/_product-customize
		<!--Product customize end-->
		<!--Product reviews-->
		include ../layout/_product-reviews
		<!--Product reviews end-->
		<!--Related products-->
		include ../layout/_related-products
		<!--Related products end-->
		<!--Top product section-->
		include ../components/_top-section
		<!--Top product section end-->


		
