extends ../product-customization-template

block title
	| Product customization page

block content
	main.content.pt-0
		<!--Top product section product-edit-->
		include ../layout/_top-section-product-edit
		<!--Top product section product-edit end-->
		<!--Product customization product edit page-->
		include ../components/_product-customization-product-edit-page.pug
		<!--Product customization product edit page end-->
		<!--Product-edit overview-->
		include ../components/_product-edit
		<!--Product-edit end-->


		
