extends ../product-customization-template

block title
	| Product customization page

block content
	main.content.pt-lg-0
		<!--Top product section product-customization-->
		include ../layout/_top-section-customization
		<!--Top product section product-customization end-->
		<!--Product customization page-->
		include ../components/_product-customization-page
		<!--Product customization page end-->



