extends ../product-customization-template-test
block title
    | Product page

block content
    +breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#'], ['Platform beds', '#']])
    main.content.pt-lg-0

        <!--Product overview-->
        include ../modal/_modal-product-fullzise
        <!--Product end-->



