extends ../product-requestquote-template

block title
	| Product page

block content
	main.content.pt-lg-0
		+breadcrumbs([['Bedrooms', '#'], ['Beds & Headboards', '#'],['Platform bed', '#']])
		<!--Product-requestquote overview-->
		include ../layout/_product-requstquote
		<!--Product-requestquote end-->
		<!--Related products-->
		include ../layout/_related-products-without-descr
		<!--Related products end-->
		<!--Product features-->
		include ../layout/_product-features
		<!--Product features end-->
		<!--Product customize-->
		include ../components/_product-customize
		<!--Product customize end-->
		<!--Product reviews-->
		include ../layout/_product-reviews
		<!--Product reviews end-->
		<!--Related products-->
		include ../layout/_related-products
		<!--Related products end-->
		<!--Top product section requestquote-->
		include ../components/_top-section-requestquote
		<!--Top product section requestquote end-->


		
