extends ../main-template

block title
    | Cabinfield Promotions

block content
    main.content
        <!--Promotions-->
        include ../layout/_promotions
        <!--Promotions end-->
        <!--Related products-->
        include ../layout/_related-products
        <!--Related products end-->
