extends ../register-template

block title
    | Register page

block content
    main.content.pt-md-0
        <!--register-form-->
        include ../components/_register-form
        <!--register-form end-->



