extends ../main-template

block title
    | Cabinfield Rustic & Live Edge LV - 0

block content
    +breadcrumbs([['Rustic & Live Edge', '#'], ['', '']])
    main.content.pt-lg-0
        .container
            h1.text-center Rustic & Live Edge
        <!--Category list -->
        include ../layout/_category-list
        <!--Category list end-->
        <!--Widgets for Rustic page-->
        include ../layout/_rustic-widgets-lv0
        <!--Widgets for Rustic page end-->
        <!--Review section-->
        include ../layout/_review-section
        <!--Review section end-->
