extends ../main-template

block title
    | Cabinfield Cart Shipping Information

block content
    main.content
        <!-- Cart edit address section-->
        include ../components/_cart-shipping-information
        <!-- Cart edit address section end-->
