extends ../register-template

block title
    | Register page

block content
    main.content.pt-0
        .register-logo
            img(src="img/general/cabinfield_logo.png" alt="logo")
        <!--Sign up-form-->
        include ../components/_sign-up-form
        <!--Sign up-form end-->



