extends ../style-template

block title
	| Cabinfield Category LV - 0

block content
	+breadcrumbs([['Bedrooms', '#'], ['Shop Collections', '#'],['SHOP Series', '#']])
	main.content.pt-lg-0
		.container.mb-5
			h1.text-left.text-dark.text-bold Mission Bedroom Series

		<!--Widgets for inner page-->
		include ../layout/_style-widgets
		<!--Widgets for inner page end-->

