extends ../main-template

block title
    | Cabinfield terms page

block content
    main.content.pt-lg-0
        <!--terms-section-->
        include ../components/_terms
        <!--terms-section-->
        <!--Review-section-->
        include ../layout/_review-section
        <!--Review-section end-->
