extends ../main-template

block title
    | Cabinfield testimonials page

block content
    +breadcrumbs([['Help Center', '#']])
    main.content.pt-lg-0
        <!--Testimonials-->
        include ../components/_testimonials
        <!--Testimonials end-->
