extends ../main-template

block title
    | Cabinfield wishlist page

block content
    main.content
        +breadcrumbs([['Wishlist', '#']])
        <!--Wishlist-section-->
        include ../components/_wishlist
        <!--Wishlist-section end-->
