extends ../main-template

block title
    | Cabinfield wishlist page

block content
    +breadcrumbs([['Wishlist', '#']])
    main.content
        <!--Wishlist-section-->
        include ../components/_wishlist
        <!--Wishlist-section end-->
