.btn {
    padding: .2rem .75rem;
    
    &-order {
        position: relative;
        color: $white;
        background: url(../img/general/order_button.png) no-repeat center;
        background-size: 110%;
        text-transform: uppercase;
        border-radius: 2px;
        box-shadow: inset 0 -3px 0 0 rgba(143, 31, 0, 0.21), inset 0 2px 0 0 rgba(255, 205, 175, 0.51), 0 1px 0 0 rgba(132, 25, 0, 0.19);
        
        &.btn-lg {
            min-width: 247px;
            height: 2.75rem;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.3125rem;
            padding: .675rem 1rem;
            @include media-breakpoint-down(lg) {
                min-width: 200px;
                box-shadow: inset 0 0 0 0 rgba(143, 31, 0, 0.21), inset 0 0 0 0 rgba(255, 205, 175, 0.51), 0 0 0 0 rgba(132, 25, 0, 0.19);
            }
        }
        
        &.btn-sm {
            background-size: cover;
            min-width: 134px;
            padding: .675rem .5rem;
            font-family: "Open Sans", sans-serif;
            font-size: 0.875rem;
            font-weight: bold;
            letter-spacing: 0.2px;
            line-height: 1;
            text-align: center;
            box-shadow: inset 0 -3px 0 0 rgba(143, 31, 0, 0.21), inset 0 2px 0 0 rgba(255, 205, 175, 0.51), 0 0 0 0 rgba(132, 25, 0, 0.19);
            
        }
        
        &:hover,
        &:focus {
            color: $white;
            opacity: .7;
        }
        
        .fa {
            position: absolute;
            font-size: inherit;
            color: inherit;
            z-index: 50;
            left: 1rem;
            top: .65rem;
            display: block;
        }
    }
    
    &-warning {
        position: relative;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 2px;
        
        .fa {
            position: absolute;
            font-size: inherit;
            color: inherit;
            z-index: 50;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            display: block;
        }
    }
    
    &-lg {
        height: 2.75rem;
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.3125rem;
        padding: .675rem 1rem;
        text-transform: uppercase;
    }
    
    &-outline-primary {
        box-shadow: inset 0 -3px 0 0 #DADCE3, inset 0 2px 0 0 #FFFFFF;
        
        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
    
    .prev,
    .next {
        background: none;
        border-radius: 0;
        color: $brown !important;
    }
    
    &-arrow {
        color: $brown !important;
        height: 45px;
        padding: 0;
        width: 25px;
        border: 1px solid $slick-border-color;
        border-radius: 2px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    
    &-assembly {
        display: flex;
        word-wrap: break-word;
        text-transform: uppercase;
        align-items: center;
        width: 158px;
        color: $brown !important;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 1.1rem;
        text-align: center;
        border: 1px solid $brown;
        border-radius: 2.2px;
        white-space: inherit;
        padding: 4px 0;
    }
    
    &-default {
        color: $white;
        border: 1px solid $bodrer-color-default;
        border-radius: 3px;
        background-color: $bkg-color-default;
        box-shadow: inset 0 -3px 0 0 $link-color, inset 0 2px 0 0 $default-bo-shadow-color;
        
        &.btn-lg {
            height: auto;
            min-height: 50px;
            padding: 1rem;
            font-size: 1.3125rem;
            line-height: 1.75rem;
        }
    }
    
    &-explore {
        color: $text-dark;
        border-color: $text-dark;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.5625rem;
        border-radius: 0;
        
        &:after {
            margin-left: 20px;
            content: "\f105";
            font-family: "FontAwesome";
            font-size: 1rem;
            display: inline-block;
        }
        
        &:hover,
        &:focus {
            cursor: pointer;
            color: $black;
            border-color: $black;
        }
    }
}

.btn-filled {
    color: $white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 1.0625rem;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    width: 106px;
    border: 1px solid rgba(164, 72, 43, 0.44);
    border-radius: 2px;
    background-color: #D6815F;
    box-shadow: inset 0 -3px 0 0 rgba(143, 31, 0, 0.21), inset 0 2px 0 0 rgba(255, 205, 175, 0.51), 0 1px 0 0 rgba(132, 25, 0, 0.19);
    
    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.7;
        color: $white;
    }
}

#to_top {
    transition: none !important;
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 70px;
    height: 70px;
    padding: 5px;
    z-index: 10;
    font-weight: bold;
    color: $link-color;
    
    &:before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        border: 1px solid $link-color;
        transform: rotate(45deg);
        left: 0;
        top: 0;
        border-radius: 3px;
        background: $white;
        z-index: -1;
    }
    
    .fa {
        text-align: center;
        display: block;
        transform: rotate(-90deg);
        font-size: 21px;
        font-weight: bold;
    }
    
    span {
        font-family: "Open Sans", sans-serif;
        font-size: 0.8125rem;
        text-align: center;
        display: block;
        text-transform: uppercase;
    }
    
    &:hover,
    &:active {
        opacity: 0.7;
    }
    
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}

.btn-outline-blue {
    border: 1px solid #879DBC;
    border-radius: 2px;
    display: inline-block;
    margin: 12px 0;
    padding: .2rem .75rem;
    color: #778DAB;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    
    &.btn-lg {
        font-size: 17px;
        height: 2.75rem;
        font-weight: 700;
        line-height: 1.3125rem;
        padding: .675rem 1rem;
    }
}

.btn-discount {
    display: inline-block;
    border: 1px solid $brown;
    border-radius: 2px;
    background: transparent;
    color: $brown !important;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.2px;
    height: 37px;
    width: auto;
    text-align: center;
    text-decoration: none;
    min-width: 120px;
    text-transform: uppercase;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 37px
}

.btn-order {
    display: inline-block;
    border: 1px solid rgba(164, 72, 43, 0.44);
    box-shadow: inset 0 -1px 0 0 rgba(143, 31, 0, 0.21), inset 0 1px 0 0 rgba(255, 205, 175, 0.51), 0 1px 0 0 rgba(132, 25, 0, 0.19);
    background: #D6815F url(../img/general/order_button.png) no-repeat center;
    background-size: cover;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 2.2px;
    padding: 11px;
    height: 37px;
    width: auto;
    text-align: center;
    text-decoration: none;
    
    &.btn-lg {
        font-size: 17px;
    }
}

.btn-outline-warning {
    border: 2px solid $brown;
    border-radius: 2px;
}
.btn-collection {
    display: inline-block;
    width: 100%;
    background: #FBFAF9;
    border: 1px solid #E5DFDD;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    color: #918483;
    padding: 10px;
    border-radius: 0;
    &:after {
        content: "\f105";
        font-family: FontAwesome;
        padding-left: .5rem;
        font-style: 13px;
    }
}
