.cart {
	.card {
		&-title {
			font-size: 0.875rem;
			color: $black;
		}
		
		.price_wrapper {
			font-size: 0.875rem;
			margin-bottom: 1rem;
		}
		
		.price {
			color: $brown;
		}
		
		.btn {
			text-transform: uppercase;
		}
	}
}

.card.card--styles {
	margin-bottom: 2rem;
	
	.card-body {
		padding: 1.8rem 2.4rem;
	}
	
	.card-title {
		font-family: $font-family-base;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 16px;
		text-align: center;
		margin: 0 auto 22px;
		
		span {
			text-align: center;
			position: relative;
			
			&:before,
			&:after {
				width: 25px;
				height: 1px;
				content: "";
				position: absolute;
				display: block;
				top: 50%;
				transform: translateY(50%);
				background: $border-color;
			}
			
			&:before {
				left: -40px;
			}
			
			&:after {
				right: -40px;
			}
		}
		
	}
	
	p {
		line-height: 1.66;
		text-align: center;
	}
	
	.btn-warning {
		display: inline-block;
		margin: 0 auto;
		padding: 8px 10px;
		width: 230px;
		font-size: 1rem;
		
	}
}

.card.card-404 {
	background: #f8f6f7;
	background-size: contain;
	border: 10px solid #f0eced;
	min-height: 39.625rem;
	position: relative;
	overflow: hidden;
	padding: 1rem 1.5rem;
	margin-bottom: 2rem;
	
	& > * {
		z-index: 2;
	}
	
	&:after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		max-width: 1026px;
		max-height: 452px;
		bottom: -13px;
		top: auto;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% 100%;
		z-index: 1;
		left: auto;
		right: 0;
		background-image: url(../img/why/Living_collection.svg);
	}
}
