.filters,
.custom_checkbox {
    padding-left: 26px;
    cursor: pointer;
    position: relative;
    
    label {
        cursor: pointer;
        font-size: .875rem;
        line-height: 1rem;
        cursor: pointer;
        margin-bottom: 0;
    }
    
    input[type="checkbox"] ,
    input[type="radio"] {
        display: none;
    }
    
    input[type="radio"] + label:before,
    input[type="checkbox"] + label:before {
        content: "";
        width: 13px;
        height: 13px;
        top: 1px;
        position: absolute;
        left: 0;
        border: $border-width solid #D6CDCA;
        border-radius: $border-radius;
    }
		input[type="radio"]:checked + label:after,
    input[type="checkbox"]:checked + label:after {
        position: absolute;
        cursor: pointer;
        content: "\f00c";
        font-family: $font-awesome;
        font-size: 9px;
        width: 13px;
        height: 13px;
        left: 3px;
        top: 0;
        color: $primary;
    }
}

.custom_checkbox.checkbox_big input[type="radio"] + label:before ,
.custom_checkbox.checkbox_big input[type="checkbox"] + label:before {
    top: 4px;
    height: 19px;
    width: 19px;
}
.custom_checkbox.checkbox_primary {
    input[type="radio"] + label:before ,
    input[type="checkbox"] + label:before {
        width: 19px;
        height: 19px;
    }
    
    input[type="radio"] + label:after ,
    input[type="checkbox"] + label:after {
        font-size: $font-size-sm;
    }
    
    input[type="radio"]:checked + label:after ,
    input[type="checkbox"]:checked + label:after {
        color: $primary;
    }
}

.custom_checkbox.checkbox_big input[type="radio"]:checked + label:after ,
.custom_checkbox.checkbox_big input[type="checkbox"]:checked + label:after {
    font-size: 12px !important;
    left: 3px;
    top: 5px;
}
.custom_radio {
    padding-left: 26px;
    cursor: pointer;
    position: relative;
    
    label {
        cursor: pointer;
        justify-content: flex-start;
    }
    
    input[type="radio"] {
        display: none;
    }
    
    input[type="radio"] + label:before {
        content: "";
        width: 13px;
        height: 13px;
        top: 3px;
        position: absolute;
        left: 0;
        border: $border-width solid #D6CDCA;
        border-radius: 50%;
        box-shadow: inset 0 2px 0 0 #F4F2F2;
    }
    
    input[type="radio"]:checked + label:after {
        position: absolute;
        cursor: pointer;
        content: "\f00c";
        font-family: $font-awesome;
        font-size: 9px;
        left: 2px;
        top: 4px;
        color: #C5593B;
        border-radius: 50%;
    }
}
