/*faq*/
.faq {
	p {
		font-size: 1rem;
		color: $dark;
		a {
			color: $brown;
		}
	}
	.accordion {
		&-button {
			color: $dark;
			padding: 1rem 0 0.5rem;
			position: relative;
			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				display: block;
				width: 12px;
				height: 1px;
				background-color: $brown;
				background-image: none;
			}
			&:before {
				transform: translateY(-50%);
			}
			&:after {
				transform: translateY(-50%) rotate(0deg);
			}
			
			&.collapsed {
				color: $brown;
				background: none;
				&:after {
					transform: translateY(-50%) rotate(270deg);
				}
			}
			
			&:not(.collapsed) {
				background: none;
				box-shadow: none;
				color: $dark;
			}
			&:focus {
				border-color: $brown;
				box-shadow: none;
			}
		}
		&-item {
			border-color: $brown;
			border-width: 0.5px;
		}
	}
}


