.gift {
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    
    &-form {
        width: 100%;
        max-width: 750px;
        padding: 2.25rem 0;
        
        &-grey {
            background: #F9F9F9;
        }
        
        &-row {
            display: flex;
            width: 100%;
            
            &.amount_section {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border: 6px solid $form-border-color;
                padding: 30px;
                background: url(../img/general/amount-bg.png) no-repeat center bottom;
                background-size: cover;
                margin-bottom: 1.5rem;
                position: relative;
                
                > label.amount-label {
                    position: relative;
                    
                    &:after {
                        content: "$";
                        display: block;
                        position: absolute;
                        right: -25px;
                        color: #908686;
                        font-size: 13px;
                        line-height: 16px;
                        @include media-breakpoint-down(sm) {
                            right: auto;
                            left: 14px;
                            bottom: -25px;
                        }
                    }
                }
                
                > input.amount-number {
                    padding-left: 20px;
                }
                
                > input::placeholder {
                    color: #908686;
                    font-family: "Open Sans", sans-serif;
                    font-size: 13px;
                    line-height: 16px;
                }
                
                > label {
                    width: 150px;
                    color: $label-color;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 16px;
                    margin-right: 5px;
                }
                
                > .form-text {
                    position: absolute;
                    bottom: 10px;
                    left: 46%;
                    color: $label-color;
                    font-family: "Open Sans", sans-serif;
                    font-size: 13px;
                    line-height: 16px;
                    @include media-breakpoint-down(sm) {
                        left: 30px;
                    }
                }
                
                > .form-control,
                > .bootstrap-select {
                    max-width: 210px;
                    color: $label-color;
                    @include media-breakpoint-down(sm) {
                        max-width: 100%;
                    }
                    
                    > .dropdown-toggle {
                        padding: .35rem .65rem;
                    }
                    
                    > .dropdown-toggle::after {
                        border-top: .3em solid $label-color;
                    }
                }
                
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
        
        &-section {
            width: 100%;
            border: 1px solid $product-main-border;
            padding: 2.25rem 2.5rem;
            background: #F9F9F9;
            
            label.col-form-label {
                margin-bottom: 0;
                padding: .2rem 1px;
            }
            
            .form-control {
                padding: .19rem .75rem;
            }
            
            .form-group {
                margin-bottom: 1rem;
            }
        }
        
        .certificate_example {
            display: block;
            text-align: right;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 0.25rem;
            
            &.more:after {
                padding: 0 .25rem;
            }
        }
        
        .back {
            min-width: 138px;
        }
        
        .next.btn-order {
            min-width: 238px;
        }
    }
    
    &-title {
        padding: 4px;
        color: $text-dark;
        font-weight: bold;
        font-size: 26px;
        margin-bottom: 1.3125rem;
    }
    
    input::placeholder {
        color: #EFE9E7;
    }
    
    &-checkout {
        .gift-form-section {
            padding: 1.5rem 2.5rem;
            background: #F9F9F9;
            
            .col-form-label {
                font-family: "Open Sans", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: .25rem;
            }
        }
        
        .col-form-label.sec_code {
            position: absolute;
            top: -28px;
        }
        
        .border-b-dashed {
            padding-bottom: .5rem;
            margin-bottom: .5rem;
        }
        
        .bootstrap-select > .dropdown-toggle {
            padding: .38rem .65rem;
            
            &:after {
                border-top: .3em solid $label-color;
            }
        }
        
        .form-address {
            margin-top: 5px;
            
            .col-form-label {
                margin-bottom: 0;
            }
            
            .form-group {
                margin-bottom: .25rem;
            }
        }
        
        input.street-addr::placeholder {
            color: #918483;
            font-size: 13px;
            line-height: 16px;
        }
    }
    
    &-thanks {
        .gift-form {
            padding: 4rem 0;
        }
        
        &-title {
            margin-top: -3rem;
            font-family: $font-family-base;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            margin-bottom: 0;
        }
        
        &-descr {
            max-width: 380px;
            margin: 0 auto;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 25px;
            color: $text-dark;
            
            p {
                color: inherit;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
            }
            
            .thank_you {
                font-weight: bold;
                font-size: 17px;
                line-height: 23px;
                color: $text-dark;
            }
        }
    }
}
