.home-slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    
    &-list {
        display: block;
        list-style: none;
        margin-bottom: 2rem;
    }
    
    &-item {
        width: 100%;
        padding: 3rem 4rem;
        min-height: 390px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            outline: 1px solid $white;
            outline-offset: -12px;
            background: rgba($black, .5);
            z-index: 1;
        }
        
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
    
    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 280px;
        height: 100%;
        position: relative;
        z-index: 15;
        
        &.block-center {
            margin: 0 auto;
            text-align: center;
        }
        
        &.block-left {
            margin-right: auto;
        }
        
        &.block-right {
            margin-left: auto;
        }
        
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
            padding: 3rem;
            margin: auto;
            text-align: center;
            .text-dark {
                color: $white !important;
            }
            
            p {
                max-width: 50%;
                text-align: center;
                margin: 0 auto 10px;
            }
        }
        @include media-breakpoint-down(sm) {
            p {
                max-width: 70%;
            }
        }
    }
    
    &-title {
        font-family: "Playfair Display", sans-serif;
        font-size: 2.125rem;
        font-weight: 400;
        line-height: 2.875rem;
        margin-bottom: 1rem;
    }
    
    p {
        font-family: "Open Sans", sans-serif;
        font-size: 1.125rem;
        line-height: 1.625rem;
        margin-bottom: 1.5rem;
    }
    
    .slick-dots {
        li {
            margin: 0;
            & + li {
                margin-left: 10px;
            }
        }
        @include media-breakpoint-down(md) {
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}
