.product {
    overflow: hidden;
    margin-bottom: 1.9rem;
    
    &-info {
        width: 100%;
        text-align: left;
        
        &-title {
            font-family: $font-family-base;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 1.188rem;
            text-transform: uppercase;
            padding-bottom: 3px;
            margin-bottom: 2rem;
            border-bottom: 1px solid $border-color;
        }
    }
    
    &-title {
        font-family: $font-family-base;
        font-size: 1.0625rem;
        font-weight: 600;
        line-height: 1.4375rem;
    }
    
    &--edit {
        .product-right-title {
            font-size: 1.125rem;
            line-height: 1.3;
            font-weight: 600;
            font-family: $font-family-base;
            margin-bottom: 5px;
        }
        
        .product-rating {
            border-bottom: 0;
        }
    }
    
    &-left {
        display: flex;
        width: 54%;
        align-self: flex-start;
        flex-wrap: wrap;
        @include media-breakpoint-down(md) {
            width: 100%;
            margin-bottom: 1rem;
        }
        @include media-breakpoint-down(sm) {
            //flex-direction: column-reverse;
        }
        &-top {
            width: 100%;
            display: flex;
            flex-direction: column;
            order: 0;
            @include media-breakpoint-up(lg) {
                order: 0;
            }
        }
    }
    
    &-right {
        display: flex;
        width: 50%;
        flex-direction: column;
        padding-left: 2.2rem;
        @include media-breakpoint-down(md) {
            width: 100%;
            padding-left: 0;
        }
        
        &-title {
            color: $black;
            font-family: $font-family-base;;
            font-size: 1.875rem;
            line-height: 1;
            padding: 0;
            font-weight: 700;
            text-align: left;
            margin-bottom: .15rem;
        }
        
        .product-number {
            font-weight: 400;
            @include media-breakpoint-down(md) {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #514646;
            }
        }
        
        .product-rating {
            //padding: .2rem 0 .8rem;
        }
        
        .product-price-value {
            margin-bottom: 2px;
        }
        
        .product-price-shipping > span {
            font-size: 15px;
            &.small {
                font-size: 0.8125rem;
            }
        }
        
        &-btns {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 5px .9rem 0;
            margin-bottom: 19px;
            
            .btn {
                height: 37px;
                min-width: 180px;
                font-size: 14px;
                padding: 0 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-weight: 700;
            }
            
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                .btn {
                    margin-bottom: 1rem;
                }
            }
        }
        
        p {
            letter-spacing: 0.4px;
        }
    }
    
    &-overview {
        margin-bottom: 21px;
    }
    
    &-photo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        @include media-breakpoint-down(lg) {
            order: 3;
            flex-direction: row;
            width: 100%;
        }
        &-carousel {
            display: flex;
            flex-direction: column;
            width: 110px;
            margin-right: 10px;
            height: 100%;
            position: relative;
            @include media-breakpoint-down(lg) {
                flex-direction: row;
                height: 80px;
                width: 100%;
                //padding: 0 60px;
                margin: 0 auto;
                ul {
                    overflow: hidden;
                    z-index: 4;
                }
                .slick-initialized {
                    min-width: 100%;
                }
            }
        }
        
        .item {
            border: 2px solid $product-border-color;
            width: 110px;
            height: 110px;
            margin-bottom: 8px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            outline: none !important;
            cursor: pointer;
            position: relative;
            
            &.selected {
                border: 2px solid $brown;
            }
            
            @include media-breakpoint-down(lg) {
                width: 80px;
                height: 80px;
            }
        }
        
        &-controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 110px;
            align-items: flex-end;
            overflow: hidden;
            box-sizing: border-box;
            
            .btn {
                position: static;
                width: 54px;
                height: 29px;
                transform: translate(0, 0);
            }
            
            @include media-breakpoint-down(lg) {
                width: 0;
                height: 0;
                .btn {
                    z-index: 5;
                    position: absolute;
                    transform: translateY(-50%);
                }
                .slick-prev {
                    left: 0;
                    &:focus,&:hover {
                        background: $white;
                    }
                }
                .slick-next {
                    right: 0;
                    &:focus,&:hover {
                        background: $white;
                    }
                }
            }
        }
        
        &-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid $product-main-border;
            max-width: 450px;
            img {
                max-width: 100%;
                height: auto;
                margin: 0;
            }
            .zoom {
                display: block;
                flex-direction: column;
                width: 100%;
                height: auto;
                position: relative;
                .zoom-inner {
                    position: absolute;
                    left: 1rem;
                    bottom: 1rem;
                    color: $white;
                    border-radius: 1rem;
                    padding: .25rem .75rem;
                    text-transform: uppercase;
                    font-size: 0.825rem;
                    background: rgba($black, .25);
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .fa {
                    margin-right: .5rem;
                }
            }
            .title {
                margin-bottom: 0;
                padding: 0.75rem 1rem;
                font-size: 0.8125rem;
                line-height: 1rem;
            }
            @include media-breakpoint-down(lg) {
                max-width: 100%;
                margin-bottom: 1rem;
                order: 2;
            }
        }
        &-main.product-photo-main--new {
            position: relative;
            overflow: hidden;
            &:before ,
            &:after {
                display: block;
                width: 134px;
                height: 32px;
                position: absolute;
                right: -10px;
                top: 0;
                z-index: 20;
            }
            &:before {
                content: "";
                background: $primary;
                transform: skewX(30deg);
            }
            &:after {
                content: "NEW!";
                text-align: center;
                vertical-align: middle;
                color: $white;
                font-size: 14px;
                line-height: 32px;
                font-family: $font-family-base;
                font-weight: 700;
            }
        }
    }
    
    &-assembly {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 406px;
        margin-left: 15px;
        border: 1px solid $product-main-border;
        padding: 12px 12px 12px 16px;
        background: #FBFAF9 url(../img/product/assembly.png) no-repeat center bottom;
        background-size: contain;
        margin-bottom: 4px;
        
        img {
            width: 30%;
        }
        
        p {
            height: 40px;
            width: 160px;
            color: $text-dark;
            font-family: $font-family-base;;
            font-size: 0.9375rem !important;
            line-height: 1.25rem !important;
            margin-bottom: 0;
        }
    }
    
    span {
        color: $black;
        font-family: $font-family-base;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 100;
    }
    
    &-rating {
        width: 100%;
        //margin: 0 0 .5rem;
        //padding: .5rem 0;
        //border-bottom: 1px dashed $product-main-border;
    }
    
    p {
        color: $black;
        font-size: 0.8125rem;
        line-height: 1.1875rem;
    }
    
    .small {
        font-size: 13px;
    }
    
    &-selected-option {
        display: flex;
        flex-direction: row;
        text-align: right;
        margin-bottom: 1rem;
        
        img {
            width: 36px;
            height: 36px;
            border-radius: 4px;
            margin-top: 0;
            margin-left: 5px;
        }
        
        h6 {
            font-size: 12px;
            font-family: $font-family-base;
            padding-top: 5px;
        }
    }
    
    &-selected-text {
        text-align: right;
        line-height: 1.2;
    }
    .product-rating a{
        font-size: 13px;
    }
}

.product-includes {
    color: $product-brown-text !important;
    position: relative;
    padding-left: 68px;
    font-size: .8125rem;
    line-height: 1.17rem;
    
    p {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 5px;
    }
    
    &:before {
        position: absolute;
        display: block;
        left: 4px;
        top: 0;
        content: "";
        width: 50px;
        height: 50px;
        background: url(../img/svg/pictureinfo-icon.svg) no-repeat center;
        background-size: contain;
    }
    
    &.warning:before {
        background: url(../img/svg/stainwarning-icon.svg) no-repeat center;
    }
    
    a {
        color: $link-color;
    }
}

.product-discount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #E5DFDD;
    background-color: #FBFAF9;
    padding: 15px 20px;
    
    span {
        font-family: $font-family-base;;
        color: #514646;
        font-size: 15px;
        line-height: 24px;
    }
    
    .product-price-value {
        color: $brown;
        font-size: 0.9375rem;
        font-weight: 600;
        margin: 0;
        border: 0;
    }
}

.seal-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    a {
        display: block;
        width: 58px;
        height: 58px;
        position: relative;
        z-index: 1;
        
        &:hover,
        &:focus {
            cursor: pointer;
            opacity: .8;
        }
    }
    a + a {
        margin-left: 1rem;
    }
    .seal {
        width: 58px;
        height: 58px;
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {
        margin-top: 0;
        .seal,
        a {
            width: 75px;
            height: 75px;
        }
    }
    @include media-breakpoint-down(sm) {
        height: 100px;
        margin-top: 0;
        margin-bottom: 20px;
        align-items: center;
        border-top: 1px solid $border-color;
    }
}

.price_by_request {
    text-transform: uppercase;
    color: $text-dark;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.125rem;
    padding-left: 40px;
    position: relative;
    
    &:before {
        content: '\f0f6';
        position: absolute;
        font-family: FontAwesome;
        font-weight: normal;
        width: 34px;
        font-size: 34px;
        display: block;
        left: 0;
        top: 12px;
    }
    
    &:after {
        content: '\f1ec';
        position: absolute;
        font-family: FontAwesome;
        font-weight: normal;
        width: 20px;
        font-size: 20px;
        display: block;
        left: 15px;
        top: 18px;
        padding: 2px;
        border-radius: 3px;
        background: #f7f6f6;
    }
}

.product-assembly {
    @include media-breakpoint-down(sm) {
        margin: 0;
    }
    
    &--full {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 4px solid #F2F2F2;
        padding: 1rem 1rem 1rem 170px;
        background: #FBFAF9 url(../img/product/assembly.png) no-repeat left bottom;
        background-size: contain;
        margin-bottom: 3rem;
        @include media-breakpoint-down(md) {
            padding: 1rem 1rem 1rem 100px;
            background-size: 15%;
        }
        @include media-breakpoint-down(sm) {
            padding: 1rem;
        }
        
        h6 {
            font-family: "PT Serif";
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 27px;
            color: $text-dark;
        }
        
        p {
            width: auto;
            height: auto;
            color: $text-dark;
            font-family: "Helvetica";
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 0;
        }
        
        .btn-assembly {
            word-wrap: unset;
            width: auto;
            padding: 8px 1rem;
            font-family: "Helvetica";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid $brown;
            @include media-breakpoint-down(md) {
                width: 200px;
            }
        }
    }
    
}
.fabric-gallery-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 800px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 10;
    &.inactive {
        position: absolute;
        z-index: -100;
        top: -200%;
        height: 0;
        min-height: 0;
        max-height: 0;
    }
    .item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 264px;
        min-height: 168px;
        max-height: 300px;
        margin-bottom: 1rem;
        margin-right: 10px;
        
        img {
            width: 264px;
            height: 264px;
        }
        .enlarge {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            text-align: center;
            background: $blue;
            .fa {
                color: $white;
            }
        }
        &:hover {
            cursor: pointer;
            .enlarge {
                display: flex;
                z-index: 10;
                cursor: pointer;
            }
        }
        &.selected {
            .title {
                font-weight: 700;
            }
        }
    }
    .description {
        height: 0;
        opacity: 0;
        display: none;
    }
    input {
        display: none;
    }
    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: .18rem .25rem;
        width: 100%;
        margin: 0 auto;
        font-family: $font-family-base;;
        color: #000;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #d6cdca;
    }
    
}
.lightgallery-content-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: $white;
    z-index: -1;
    &.active {
        z-index: 10;
        height: 100%;
        position: relative;
    }
    .prev_img,
    .next_img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: $brown;
        transform: translateY(-50%);
        line-height: 0;
        cursor: pointer;
        top: 300px;
        padding: 0;
        height: 45px;
        width: 17px;
        font-size: 17px;
        border: 1px solid #ded8d5;
        border-radius: 2px;
        background-color: #fff;
        font-family: $font-awesome;
        &.inactive {
            color: $blue;
            opacity: .7;
            pointer-events: none;
        }
    }
    .prev_img {
        left: 0;
        right: auto;
    }
    .next_img {
        left: auto;
        right: 0;
    }
    .lightgallery-img {
        width: 100%;
        margin: 0 auto;
        max-width: 555px;
        min-height: 190px;
        img {
            width: 100%;
        }
    }
    .description {
        width: 100%;
        max-width: 555px;
        margin: 1rem auto;
        display: block;
        padding: 1rem;
        border-top: 1px solid #cc7654;
        border-bottom: 1px solid #cc7654;
    }
    .closeFabricFullsize {
        text-align: center;
        margin-top: 2rem;
    }
}
