.product-filters{
  margin-top: 20px;
  &-list{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $product-main-border;
    list-style: none;
    padding-bottom: 21px;
    margin-bottom: 21px;
    &,li{
      position: relative;
    }
    li {
      margin-bottom: 2px;
      position: relative;
      line-height: 0;
      overflow: hidden;
    }
    input[type="checkbox"]:checked + label {
      color: $brown;
    }
    label {
      color: #000;
      font-size: 0.8125rem;
      line-height: 1rem;
      cursor: pointer;
      margin-top: -2px;
    }
    &:last-child{
      border-bottom: 0;
    }
  }
  &-title{
    color: $footer-copy-color;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
    font-weight: bold;
    line-height: 1.125rem;
    margin-bottom: 13px;
  }
  .product-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
    li{
      width: 25%;
      box-sizing: border-box;
      @media (max-width: 1200px) {
        width: 33%;
      }
      @include media-breakpoint-down(md){
        width: 50%;
      }
      @include media-breakpoint-down(sm){
        width: 100%;
        & + li{
          border-top: 1px dashed #ccc;
        }
      }
    }
    .card{
      display: flex;
      max-width: 180px;
      border: 0;
      padding:0;
      @include media-breakpoint-down(sm){
        max-width: 100% ;
        margin: 0 auto;

      }
      &-img-top{
        margin-bottom: 10px;
      }
      &-body{
        padding: 0;
      }
    }
    &--collections{
      li{
        width: 100%;
      }
      .card{
        flex-direction: row;
        max-width: 100%;
        display: flex;
        margin-bottom: 2rem;
        @include media-breakpoint-down(md){
          flex-direction: column;
          min-height: 40rem ;
          flex-wrap: nowrap;
          .card-img{
            width: 100%;
            min-height: 20rem;
            position: inherit;
          }
          .card-body{
            width: 100%;
            border: 6px solid #F2EBE9;
            flex: auto;

            margin-bottom: 0;

          }
        }
      }
      .card-img{
        width: 60%;
        background-size: cover;
        border-radius: 0;
      }
      .card-body{
        width: 40%;
        border: 6px solid #F2EBE9;
        border-left: 0;
        padding: 40px 55px 40px 40px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: $black;
        a{color: $brown;}
        p{
          margin-bottom: 8px;
        }
        ul,
        li{
          list-style-type: initial !important;
          list-style-image: inherit;
          list-style-position: initial;
          font-style: inherit;
          font-weight: inherit;
          font-family: inherit;
          font-size: inherit;
          line-height: 21px;
          color: $black;
        }
      }
      .card-title{
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        color: $black;
        margin-bottom: 26px;
      }
      p{
        a{
          color: $brown;
        }
      }
      ul{
        margin-bottom: 2rem;
        padding-left: 6px;
      }
    }
    .btn-warning,
    a.btn-warning{
      color: $white;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      padding: .375rem .75rem;
      width: 100%;
    }
  }
  .pagination{
    margin-top: 40px;
  }
}
