.product-features {
    font-family: "Helvetica", sans-serif;
    padding-top: .25rem;

    .product-title {
        font-family: "Helvetica", sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        padding-left: 12px;
        margin-bottom: 19px;
    }

    .product-features-list ul {
        padding-left: 20px;

        li {
            font-size: 0.8125rem;
            line-height: 21px;
            color: $black;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 1.4rem;
        }
    }

    .product-features-list,
    ul li,
    .product-features-list ul,
    .product-features-list ul li {
        list-style-type: inherit;
    }

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .more {
        font-weight: 600;
    }

    &-nav {
        background: $product-option-shadow-color;
        border-bottom: 3px solid $blue;

        .nav-link {
            font-size: 0.875rem;
            min-width: 188px;
            text-transform: uppercase;
            font-weight: 700;
            color: $text-dark;
            text-align: center;
            margin-bottom: -4px;
            border-width: 3px;
            border-radius: 0;
        }
        .nav-link.active {
            border-color: $blue $blue $white;
        }
        .nav-link:focus,
        .nav-link:hover {
            background: $blue;
            color: $white;
            border-color: $blue;
        }
    }
    .tab-pane {
        padding: 2rem 0;
        .product-title {
            display: inline-block;
            font-size: 0.875rem;
            padding: 0 0.75rem;
        }
        .border-bottom {
            border-bottom-color: $dark;
        }
    }
}
