.product-reviews {
	margin-bottom: 2rem;
	
	.product-title {
		margin-bottom: 34px;
		padding: 0 8px;
	}
	
	&-list {
		padding: 0 10px;
	}
	
	.avg_rating {
		.stars-rating {
			justify-content: flex-start;
		}
	}
}

.product-review {
	position: relative;
	padding-left: 58px;
	padding-top: 6px;
	@include media-breakpoint-down(md) {
		padding-left: 0;
	}
	
	.avatar {
		text-align: center;
		display: block;
		position: absolute;
		left: 1px;
		top: 0;
		border: $border-width solid #ded9d6;
		border-radius: 50%;
		width: 42px;
		height: 42px;
		overflow: hidden;
		
		.fa {
			font-family: $font-awesome;
			color: #ded9d6;
			text-align: center;
			font-size: 42px;
			margin: 4px auto 0;
		}
	}
	
	.name {
		display: flex;
		flex-direction: row;
		font-size: $font-size-sm;
		font-weight: 600;
		line-height: 18px;
		margin-bottom: 3px;
		
		.stars-rating {
			margin-left: .5rem;
		}
		
		@include media-breakpoint-down(md) {
			padding-left: 58px;
		}
	}
	
	.tagline {
		color: #918483;
		font-size: 12px;
		line-height: 10px;
		font-weight: 400;
		margin-bottom: 12px;
		@include media-breakpoint-down(md) {
			padding-left: 58px;
		}
	}
	
	.text {
		font-size: $font-size-sm;
		font-style: italic;
		line-height: 19px;
		
		&:before {
			content: '\f10d';
			font-family: $font-awesome;
			font-style: initial;
			color: #ded9d6;
			width: 24px;
			height: 24px;
			font-size: 24px;
			position: absolute;
			margin: 5px 14px 0 -37px;
		}
		
		@include media-breakpoint-down(md) {
			&:before {
				display: none;
			}
		}
	}
	
	.via {
		color: $label-color;
		font-size: 12px;
		line-height: 17px;
		font-weight: 400;
		margin-left: auto;
	}
}
