.signup_section{
    .signup-action{
        padding:4em 0;
        h5{
            font-size:1.4em;
            color: $text-dark;
            line-height:1.2em;
            margin-bottom:2em;
            font-weight:700;
            
        }
        .btn{
            padding:14px 50px;
        }
    }
}