.wishlist {
    .option-selected li {
        margin-bottom: 0.25rem;
    }
    
    .actions {
        @include media-breakpoint-down(sm) {
            flex-direction: row;
            justify-content: space-between;
            a,button {
                padding: 0;
                margin: 0;
                border: 0;
            }
        }
    }
    
}

.wishlist-item {
    h6 {
        font-family: $font-family-base;
    }
    
    .values {
        margin-bottom: 14px;
        color: $label-color;
        line-height: 1.4375rem;
        font-size: 0.8125rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        &:first-child {
            margin-top: 52px;
            @include media-breakpoint-down(sm) {
                margin-top: 1rem;
            }
        }
        
        @include media-breakpoint-down(md) {
            display: flex;
            justify-content: flex-end;
            text-align: right;
        }
        
        span {
            font-size: 0.8125rem;
        }
        
        .values_inline_label {
            display: inline-block;
            margin-right: 8px;
            font-size: 0.8125rem;
        }
        
       
        
        .price {
            color: $brown;
            font-size: 1.125rem;
            font-weight: 600;
            
            &.price_shipping {
                font-size: 0.8125rem;
            }
        }
    }
    
    a:not(.btn) {
        font-size: 0.8125rem;
    }
    .actions > a ,
    .actions > button {
        font-size: .75rem;
    }
    .actions {
        @include media-breakpoint-down(sm) {
            flex-direction: row;
            justify-content: space-between;
            a,button {
                padding: 0;
                margin: 0;
                border: 0;
            }
        }
    }
    .more {
        padding-top: 5px;
    }
    
    .extended_price {
        color: $text-dark;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        position: relative;
        //margin-bottom: .5rem;
        text-align: right;
    }
}

.product-selected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include media-breakpoint-down(sm) {
        align-items: flex-start;
        margin-bottom: 1rem;
    }
    
    .product-selected-text,
    .product-selected-option {
        @include media-breakpoint-down(sm) {
            width: 100%;
            justify-content: flex-end;
        }
    }
    
    .product-selected-option h6 {
        text-transform: uppercase;
    }
    .img-fluid {
        max-width: 50%;
        @include media-breakpoint-down(sm){
            max-width: 100%;
        }
    }
}

.cart-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    
    @include media-breakpoint-down(sm) {
        position: relative;
        display: block;
        h1 {
            margin: 0 auto;
        }
    }
    
    h1 {
        display: inline-flex;
        margin-bottom: 0;
        padding: 0;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        
        .fa {
            font-size: inherit;
            line-height: inherit;
            margin-right: .5rem;
        }
    }
    
    .back {
        position: absolute;
        left: 0;
        font-family: $font-family-base;
        font-style: normal;
        font-weight: 600;
        font-size: $font-size-sm;
        line-height: 19px;
        text-transform: uppercase;
        @include media-breakpoint-down(sm) {
            position: relative;
            display: block;
            margin-bottom: 1rem;
        }
    }
}
