doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        meta(name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1")
        meta(property="og:image" content="path/to/image.jpg")
        meta(name="keywords" content="")
        link(rel="icon" href="img/favicon/favicon.ico")
        link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
        meta(name="theme-color" content="#000")
        link(rel="stylesheet" type='text/css' href="fonts/fonts.css")
        link(rel="stylesheet" type='text/css' href="css/main.min.css")

        title
            block title
    body
        <!--HEADER-->
        include components/_mixin
        include layout/header-v1
        <!--HEADER END-->
        <!--CONTENT-->
        block content
        <!--CONTENT END-->
        <!--FOOTER-->
        include layout/footer
        <!--FOOTER END-->
        <!--MODAL-->
        include modal/_modal-customize-popup-5
        include modal/_modal-customize-popup-11
        include modal/_modal-mainimage-popup
        include modal/_modal-sign-in
        include modal/_modal-zip
        include modal/_modal-subscribe
        include modal/_modal-care-instructions
        include modal/_modal-freight-shipping
        include modal/_modal-customize-fullsize
        <!--MODAL END-->
        script(src="js/jquery.js")
        script(src="js/libs.min.js")
        script(src="js/main.js")

