section.gift
    .gift-form
        .gift-title Buy Gift Certificate
        .amount_section
            label.col-form-label.mb-0.py-0 Gift certificate amount:
            select.selectpicker.form-control
                option(value='1', selected='selected') Select amount
                option(value='1') $10,000
                option(value='2') $8,000
                option(value='3') $5,000
                option(value='4') $3,000
                option(value='5') $2,000
                option(value='6') $1,000
                option(value='7') $500
                option(value='8') $300
                option(value='9') $200
                option(value='10') $100
                option(value='11') $50
                option(value='12') Custom
            .from.form_section
                .row
                    .col-lg-6
                        .form-group
                            label.col-form-label Your name
                            input.form-control(type='text', name='')
                        .form-group
                            label.col-form-label Recipient’s email address
                            input.form-control(type='text', name='')
                        .form-group
                            label.col-form-label Re-type recipient’s email address
                            input.form-control(type='text', name='')
                    .col-lg-6
                        .form-group
                            label.col-form-label Recipient’s name
                            input.form-control(type='text', name='')
                        .form-group
                            label.col-form-label Message
                            textarea.form-control(name='')
                        a.certificate_example(href='#', data-toggle='modal', data-target='#certificate_example') See example of gift certificate
                .button_section.d-flex.justify-content-between
                    button.back.flat_bg(type='button') Back
                    button.next.btn-order(type='button') Proceed to checkout
