section.gift.gift-thanks
    .gift-form
        .container.text-center
            .col-md-8.offset-md-2.col-sm-8.p-0
                img.img-fluid(src="img/general/welcome.png", alt="#")
                h1.gift-thanks-title Gift Certificate Sent
                .gift-thanks-descr
                    p.thank_you Thank you for shopping!
                    p.mb-4 Recipient will recive an email with the gift card with certificate number
                    p
                        button.next.btn-order(type='button') Continue shopping
