section.category.category--innerpage
    .container
        ul.category-list
            li #[a( href="#") Panel Beds]
            li #[a( href="#") Spindle Beds]
            li #[a( href="#") Post Beds]
            li #[a( href="#") Platform Beds]
            li #[a( href="#") Storage Beds]
            li #[a( href="#") Bookcase Beds]
            li #[a( href="#") Upholstered Beds]
            li #[a( href="#") Murphy Beds]
            li #[a( href="#") Conopy Beds]
            li #[a( href="#") Sleigh Beds]
            li #[a( href="#") Bunkbeds]
            li #[a( href="#") Daybeds]
            li #[a( href="#") Slat Beds]
            li #[a( href="#") Browse All]
        hr
