section.widgets.widgets-inner
    .container
        .row
            <!--widget Bedroom Furniture Sets-->
            .col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/bedroom-furniture-sets.png');")
                    .card-img-overlay
                        h5.card-title Bedroom Furniture Sets
                        p.card-text.mb-md-4 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Bedroom Furniture Sets end-->
            <!--widget Beds & Headboards-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/beds-headboards.png');")
                    .card-img-overlay
                        h5.card-title Beds & Headboards
                        p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Beds & Headboards end-->
            <!--widget Bedroom Storage Pieces-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/bedroom-storage.png');")
                    .card-img-overlay
                        h5.card-title Bedroom Storage Pieces
                        p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Bedroom Storage Pieces end-->
            <!--widget Blanket Boxes & Hope Chests-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/blanket-boxes.png');")
                    .card-img-overlay
                        h5.card-title Blanket Boxes & Hope Chests
                        p.card-text.mb-md-3 DDescription for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Blanket Boxes & Hope Chests end-->
            <!--widget Bedroom Accessories-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/bedroom-accessories.png');")
                    .card-img-overlay
                        h5.card-title Bedroom Accessories
                        p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Bedroom Accessories end-->
            <!--widget Quick Ship Beds-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/quickship-beds.png');")
                    .card-img-overlay
                        h5.card-title Quick Ship Beds
                        p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Quick Ship Beds end-->
            <!--widget SHOP BEDROOM-->
            .col-lg-6.col-md-12
                .card.card--shopstyle.mb-3
                    img.card-img(src='img/widgets/bedroom-collection.png', alt='#')
                    .card-img-overlay
                        h5.card-title Shop Bedroom
                        .shop_by
                            a(href='#') By Style
                            a(href='#') By Collection

            <!--widget SHOP BEDROOM end-->

