section.category
    .container
        ul.category-list
            li #[a( href="#") Bedroom Furniture Sets]
            li #[a( href="#") Quick Ship Bedroom]
            li #[a( href="#") Bedroom Storage Pieces]
            li #[a( href="#") Bedroom Accessories]
            li #[a( href="#") Beds & Headboards]
            li #[a( href="#") Storage Chests & Boxes]
        .shop_by.mx-auto.mb-5
            .title
                span Shop Bedroom
            a(href='#') By Style
            a(href='#') By Collection
