section.about
    .container
        .row.mb-3
            .col-lg-6.offset-lg-3.col-md-12
                img.img-fluid(src="img/general/welcome.png", alt="#")
                h1.about-main-title Cabinfield Gift Certificate
        .row
            .col-md-4.offset-md-2.col-sm-12
                h6.about-title I want to buy gift certificate
                p A good place to tell how awesome it is to buy a gift  certificate and how happy the recipient will be. Tell the details, gift certificate do not expires and etc.
                    | Recipient will recive an email with the gidt card with certificate number.
                    a.more.text-brown(href="#",data-toggle="modal",data-target="#certificate_example") See example
                p
                    a.btn.btn-order.buy_gift_certificate(href="/gift-certificate-02.html") Buy gift certificate
            .col-md-4.col-sm-12
                h6.about-title I want to claim gift certificate
                p Information about how to claim cabinfield gift certificate. We do not charge your credit card until we are ready to ship your order. If you are ordering a gazebo or an item that is customized by staining.
                .d-flex.flex-column.mt-3.mb-0
                    p.mb-0 Check gift-certificate balance
                    form.form-group.form-group-apply.row
                        .col-sm-8.pr-0
                            input.form-control(type='text', name='', placeholder="Enter gift certificate code")
                        .col-sm-4
                            a.btn.btn-outline-primary(href='#') View ballance
