section.widgets
    // Widgets
    .container
        .row.px-0.product-widget-area
            // widget Bedrooms
            .col-lg-4.col-md-6.product
                a(href='#')
                    .card.card-border-dark.text-dark
                        .card-img(style="background-image: url('img/homepage/product/bedrooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Bedrooms
                            p Discover what dreams are made of. With Amish bedroom furniture, genuine comfort and artisanal design merge for a space that is as personal as it is attractive. 

            // widget Bedrooms end
            // widget Kitchen & Dining Room
            .col-lg-4.col-md-6.product
                a(href='#')
                    .card.card-border-dark.text-dark
                        .card-img(style="background-image: url('img/homepage/product/kitchen.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Kitchen & Dining Room
                            p Create the ideal backdrop to cozy family memories with Amish dining room sets. Functionality and aesthetics combine for a room that is warm and inviting.
            // widget Kitchen & Dining Room end
            
            // widget Living Room & Entertainment
            .col-lg-4.col-md-6.product
                a(href='#')
                    .card.card-border-white
                        .card-img(style="background-image: url('img/homepage/product/living.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title.text-white Living Room & Entertainment
                            p.text-white Discover what dreams are made of. With Amish bedroom furniture, genuine comfort and artisanal design merge for a space that is as personal as it is attractive. 
            // widget Living Room & Entertainment end
            
            // widget Office
            .col-lg-4.col-md-6.product
                a(href='#')
                    .card.card-border-dark.text-dark
                        .card-img(style="background-image: url('img/homepage/product/office.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Office
                            p Design a workspace that inspires productivity. With Amish wood furniture, a thoughtful blend of form, function, and comfort allow for successful work days.
            // widget Office end
            // widget Outdoor
            .col-lg-4.col-md-6.product
                a(href='#')
                    .card.card-border-white
                        .card-img(style="background-image: url('img/homepage/product/outdoor.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title.text-white Outdoor
                            p.text-white Absorb nature’s beauty and connect with the great outdoors. Your outdoor space will become your favorite place with Amish outdoor furniture that is both durable and eco-friendly.
            // widget Outdoor end
            // widget Rustics & Live Edge
            .col-lg-4.col-md-6.product
                a(href='#')
                    .card.card-border-white.text-dark
                        .card-img(style="background-image: url('img/homepage/product/rustics.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Rustics & Live Edge
                            p Introduce a rural warmth and add texture, color, and character to your space. Designed by nature, rustic furniture is as authentic as it gets.
            // widget Rustics & Live Edge end
// Widgets end
