section.widgets.widgets-icon
    // Widgets
    .container
        .row.px-3.my-4
            <!--widget Why Cabinfield?-->
            .card.card-why.py-5.card-choice
                h2.card-title.text-center.mb-5.underdash Cabinfield. Your Natural Choice.
                ul.choice-list.clearfix
                    li
                        img(src="img/choice/extensive.png" srcset="img/choice/extensive@2x.png" alt="Extensive Collection")
                        h4 Extensive Collection
                        p From Mission to rustic and everything in between, discover the styles you’ll love coming home to.
                    li
                        img(src="img/choice/quality.png" srcset="img/choice/quality@2x.png" alt="Heirloom Quality")
                        h4 Heirloom Quality
                        p Handcrafted from solid wood with careful attention to detail, promising years of faithful use.
                    li
                        img(src="img/choice/affordable.png" srcset="img/choice/affordable@2x.png" alt="Affordable Elegance")
                        h4 Affordable Elegance
                        p Shipped directly to you from our Amish artisans, avoiding merchandising and inventory costs.
                    li
                        img(src="img/choice/custom.png" srcset="img/choice/custom@2x.png" alt="Custom Options")
                        h4 Custom Options
                        p Customizable features so you get distinct furnishings that reflect your personal style.
                    li
                        img(src="img/choice/trusted.png" srcset="img/choice/trusted@2x.png" alt="Trusted Source")
                        h4 Trusted Source
                        p National distributor since 2005, with an A+ Better Business Bureau rating and thousands of delighted customers.
                    li
                        img(src="img/choice/service.png" srcset="img/choice/service@2x.png" alt="Eco-Friendly")
                        h4 Stellar Service
                        p Superior customer service and support for a seamless stress-free buying experience.

                p.mx-auto
                    a.btn.btn-outline-dark.uppercase.mb-0(href="#")
                        | Learn More 
                        br
                        | About Us
            <!--widget Why Cabinfield? end-->
            
        // Widgets end
