<!--HOME SLIDER-->
section.home-block
    .container
        figure.inner-border(style="background-image: url('img/home-block/amish-furniture.jpg');")
            div.text.text-white.col-md-5
                p.moto Authenticity. Beauty. Craftsmanship.
                h2.heading Fine Amish Furniture You'll Treasure for a Lifetime
                p #[a(href="#").btn.btn-warning.uppercase shop now]
                    
<!--HOME SLIDER END-->
