section.widgets.widgets--new
    // Widgets
    .container
        .row.px-0
            // widget Bedrooms
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/bedrooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Bedrooms
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Bedrooms end
            // widget Kitchen & Dining Room
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/kitch-dinn-rooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Kitchen & Dining Room
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Kitchen & Dining Room end
            // widget Office
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/office.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Office
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Office end
            // widget Living Room & Entertainment
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/kitch-dinn-rooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Living Room & Entertainment
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Living Room & Entertainment end
            // widget Outdoor
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/outdoor.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Outdoor
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Outdoor end
            // widget Rustics & Live Edge
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/rustic.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Rustics & Live Edge
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Rustics & Live Edge end
// Widgets end
