<!--HOME SLIDER-->
section.home-slider
	.container
		ul.home-slider-list
			li.home-slider-item(style="background-image: url('img/main-slider/bedroom@2x.jpg');")
				.home-slider-inner.block-center
					h1.home-slider-title.text-dark Bedroom Furniture
					p.text-dark Treasure the comfort and durability of heirloom quality Amish bedroom furniture
					p #[a(href="#").btn.btn-lg.btn-order Shop now]
			li.home-slider-item(style="background-image: url('img/main-slider/discounted@2x.jpg');")
				.home-slider-inner.block-center
					h1.home-slider-title.text-dark Discounted Items
					p.text-dark Find great deals for your home, without compromising on quality, with Amish furniture discounts
					p #[a(href="#").btn.btn-lg.btn-order Shop now]
			li.home-slider-item(style="background-image: url('img/main-slider/playset@2x.jpg');")
				.home-slider-inner.block-left
					h1.home-slider-title.text-white Playsets
					p.text-white Give the gift of imagination with an Amish wood playset the kids will love
					p #[a(href="#").btn.btn-lg.btn-order Shop now]
			li.home-slider-item(style="background-image: url('img/main-slider/rustic@2x.jpg');")
				.home-slider-inner.block-right
					h1.home-slider-title.text-white Rustic Furniture
					p.text-white Fall in love with ruggedly romantic Amish rustic furniture for your home or country cabin
					p #[a(href="#").btn.btn-lg.btn-order Shop now]
<!--HOME SLIDER END-->
