section.widgets.widgets--new
    // Widgets
    .container
        .row.px-3
            <!--widget Why Cabinfield?-->
            .card.card-why
                h2.card-title.text-center.mb-5 Why Cabinfield?
                ul.why-list
                    li
                        img(src="img/why/01.png" srcset="img/why/01@2x.png" alt="Amish hand-crafted Wood furniture")
                        p Amish hand-crafted custom made solid wood furniture
                    li
                        img(src="img/why/02.png" srcset="img/why/02@2x.png" alt="Distributor 2005")
                        p National distributor since 2005
                    li
                        img(src="img/why/03.png" srcset="img/why/03@2x.png" alt="A+ rating")
                        p Better Business Bureau's A+ rating
                    li
                        img(src="img/why/05.png" srcset="img/why/05@2x.png" alt="Eco-Friendly")
                        p Eco-Friendly Optimized
                p.mx-auto.mb-md-5.text-center Learn more about Cabinfield, amish craftsmen-ship, and our easy online ordering process
                p.mx-auto
                    a.btn-why.mb-0(href="#") About Us
            <!--widget Why Cabinfield? end-->
        .row.px-0
            // widget Bedrooms
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/bedrooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Bedrooms
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Bedrooms end
            // widget Kitchen & Dining Room
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/kitch-dinn-rooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Kitchen & Dining Room
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Kitchen & Dining Room end
            // widget Office
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/office.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Office
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Office end
            // widget Living Room & Entertainment
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/kitch-dinn-rooms.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Living Room & Entertainment
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Living Room & Entertainment end
            // widget Outdoor
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/outdoor.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Outdoor
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Outdoor end
            // widget Rustics & Live Edge
            .col-lg-6.col-md-12
                a(href='#')
                    .card.card-border-white.text-white
                        .card-img(style="background-image: url('img/homepage/rustic.png');")
                        .card-img-overlay.py-4.text-center
                            h5.card-title Rustics & Live Edge
                            p.card-text
                                | Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            // widget Rustics & Live Edge end
// Widgets end
