section.widgets.widgets--homepage
  .container
    .row
      .col-lg-9.col-md-12
        .row.px-0
          <!--widget Bedrooms-->
          .col-lg-6.col-md-12
            .card.card-border-white.text-white.mb-3
              .card-img(style="background-image: url('img/homepage/bedrooms.png');")
              .card-img-overlay.py-4.text-center
                h5.card-title #[a(href="#") Bedrooms]
                p.card-text Discover Amish #[a(href="#") bedroom furniture] in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
          <!--widget Bedrooms end-->
          <!--widget Kitchen & Dining Room-->
          .col-lg-6.col-md-12
            .card.card-border-white.text-white.mb-3
              .card-img(style="background-image: url('img/homepage/kitch-dinn-rooms.png');")
              .card-img-overlay.py-4.text-center
                h5.card-title Kitchen & Dining Room
                p.card-text Discover Amish #[a(href="#") bedroom furniture] in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
          <!--widget Kitchen & Dining Room end-->
          <!--widget Office-->
          .col-lg-6.col-md-12
            .card.card-border-dark.text-dark.mb-3
              .card-img(style="background-image: url('img/homepage/office.png');")
              .card-img-overlay.py-4.text-center
                h5.card-title Office
                p.card-text Discover Amish #[a(href="#") bedroom furniture] in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
          <!--widget Office end-->
          <!--widget Living Room & Entertainment-->
          .col-lg-6.col-md-12
            .card.card-border-white.text-white.mb-3
              .card-img(style="background-image: url('img/homepage/kitch-dinn-rooms.png');")
              .card-img-overlay.py-4.text-center
                h5.card-title Living Room & Entertainment
                p.card-text Discover Amish #[a(href="#") bedroom furniture] in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
          <!--widget Living Room & Entertainment end-->
          <!--widget Outdoor-->
          .col-lg-6.col-md-12
            .card.card-border-white.text-white.mb-3
              .card-img(style="background-image: url('img/homepage/outdoor.png');")
              .card-img-overlay.py-4.text-center
                h5.card-title Outdoor
                p.card-text Discover Amish #[a(href="#") bedroom furniture] in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
          <!--widget Outdoor end-->
          <!--widget Rustics & Live Edge-->
          .col-lg-6.col-md-12
            .card.card-border-dark.text-dark.mb-3
              .card-img(style="background-image: url('img/homepage/rustic.png');")
              .card-img-overlay.py-4.text-center
                h5.card-title Rustics & Live Edge
                p.card-text Discover Amish #[a(href="#") bedroom furniture] in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
          <!--widget Rustics & Live Edge end-->
      .col-lg-3.col-md-12
        .row.px-3
          <!--widget Why Cabinfield?-->
          .card.card-why.px-3.py-4.text-dark.mb-3
            h5.card-title.text-center.mb-0 Why Cabinfield?
            hr
            ul.card-why-list
              li #[p Amish hand-crafted custom made solid wood furniture]
              li #[p National distributor since 2005]
              li #[p Better Business Bureau's A+ rating]
              li #[p Shipping directly to your home]
              li #[p Eco-Friendly #[br] Optimized]
          <!--widget Why Cabinfield? end-->
          <!--widget REVIEWS-->
          .card.card-review.mb-3
            ul.card-review-list
              li
                <!--rating mixin is in components => _mixin.pug -->
                +rating("80" , "4.0")
                <!--rating mixin is in components => _mixin.pug -->
                h6.card-title.text-center.text-black Average Customers Review
                h6.card-subtitle.text-center.text-dark based on 345 reviews
                hr.my-4.mx-auto.border.border-warning.w-25
                p.card-review-text.text-black Everything went great with my order. I think we had it 2 days after I ordered it. We love it. Thanks again.
                p.text-end.text-brown Brayan H.
              li
                <!--rating mixin is in components => _mixin.pug -->
                +rating("60" , "3.0")
                <!--rating mixin is in components => _mixin.pug -->
                h6.card-title.text-center.text-black Average Customers Review
                h6.card-subtitle.text-center.text-dark based on 345 reviews
                hr.my-4.mx-auto.border.border-warning.w-25
                p.card-review-text.text-black Everything went great with my order. I think we had it 2 days after I ordered it. We love it. Thanks again.
                p.text-end.text-brown Brayan H.
            .card-controls
              button.btn.review-prev
                i.fa.fa-chevron-left
              button.btn.review-prev
                i.fa.fa-chevron-right
          <!--widget REVIEWS end-->
