section.widgets.widgets-inner
  .container
    .row
      <!--widget Dining Room Furniture Sets-->
      .col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/dining-sets.png');")
          .card-img-overlay
            h5.card-title Dining Room Furniture Sets
            p.card-text.mb-md-4 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Dining Room Furniture Sets end-->
      <!--widget Dining Tables-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
         .card-img(style="background-image: url('img/widgets/dining-tables.png');")
          .card-img-overlay
            h5.card-title Dining Tables
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Dining Tables end-->
      <!--widget Dining Chairs & Seating-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
         .card-img(style="background-image: url('img/widgets/dining-chairs.png');")
          .card-img-overlay
            h5.card-title Dining Chairs & Seating
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it. 
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Dining Chairs & Seating end-->
      <!--widget Dining Storage Pieces-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
         .card-img(style="background-image: url('img/widgets/dining-storage.png');")
          .card-img-overlay
            h5.card-title Dining Storage Pieces
            p.card-text.mb-md-3 DDescription for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Dining Storage Pieces end-->
      <!--widget Kitchen Storage Pieces-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
         .card-img(style="background-image: url('img/widgets/kitchen-storage.png');")
          .card-img-overlay
            h5.card-title Kitchen Storage Pieces
            p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widgetKitchen Storage Pieces end-->
      <!--widget Bars & Wine Storage-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
         .card-img(style="background-image: url('img/widgets/bars-wine.png');")
          .card-img-overlay
            h5.card-title Bars & Wine Storage
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Bars & Wine Storage end-->
       <!--widget Breakfast Nooks-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
         .card-img(style="background-image: url('img/widgets/breakfast-nooks.png');")
          .card-img-overlay
            h5.card-title Breakfast Nooks
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Breakfast Nooks end-->
      <!--widget SHOP BEDROOM-->
      .col-lg-6.col-md-12
        .card.card--shopstyle.mb-3
          img.card-img(src='img/widgets/bedroom-collection.png', alt='#')
          .card-img-overlay
            h5.card-title Shop Bedroom
            .shop_by
              a(href='#') By Style
              a(href='#') By Collection

      <!--widget SHOP BEDROOM end-->
    
            