section.widgets.widgets-inner
    .container
        .row
            <!--widget Living Room Sets-->
            .col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/living-sets.png');")
                    .card-img-overlay
                        h5.card-title Living Room Sets
                        p.card-text.mb-md-4 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Living Room Sets end-->
            <!--widget Accent Tables-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/accent-tables.png');")
                    .card-img-overlay
                        h5.card-title Accent Tables
                        p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Accent Tables end-->
            <!--widget Dining Chairs & Seating-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/dining-chairs.png');")
                    .card-img-overlay
                        h5.card-title Dining Chairs & Seating
                        p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Dining Chairs & Seating end-->
            <!--widget Curios & Display Cabinets-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/curios-cabinets.png');")
                    .card-img-overlay
                        h5.card-title Curios & Display Cabinets
                        p.card-text.mb-md-3 DDescription for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Curios & Display Cabinets end-->
            <!--widget TV Stands & Entertainment Centers-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/TV-stands.png');")
                    .card-img-overlay
                        h5.card-title TV Stands & Entertainment Centers
                        p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget TV Stands & Entertainment Centers end-->
            <!--widget Entryway & Mudroom-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/entryway-mudroom.png');")
                    .card-img-overlay
                        h5.card-title Entryway & Mudroom
                        p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Entryway & Mudroom end-->
            <!--widget Hallway Furniture & Benches-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/hallway.png');")
                    .card-img-overlay
                        h5.card-title Hallway Furniture & Benches
                        p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Hallway Furniture & Benches end-->
            <!--widget Gun Cabinets-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/gun-cabinets.png');")
                    .card-img-overlay
                        h5.card-title Gun Cabinets
                        p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Gun Cabinets end-->
            <!--widget Quick Ship Entertainment-->
            .col-lg-6.col-md-12
                .card.card-border-dark.text-black.mb-3
                    .card-img(style="background-image: url('img/widgets/quickship-entertainment.png');")
                    .card-img-overlay
                        h5.card-title Quick Ship Entertainment
                        p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
                        .card-footer
                            a(href="#").btn.btn-explore explore
            <!--widget Quick Ship Entertainment end-->
            <!--widget SHOP LIVING ROOM & ENTERTAINMENT-->
            .col-lg-6.col-md-12
                .card.card--shopstyle.mb-3
                    img.card-img(src='img/widgets/living-collection.png', alt='#')
                    .card-img-overlay
                        h5.card-title SHOP LIVING ROOM & ENTERTAINMENT
                        .shop_by
                            a(href='#') By Style
                            a(href='#') By Collection

            <!--widget SHOP LIVING ROOM & ENTERTAINMENT end-->
    
            