nav.navbar.navbar-expand-lg
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#header_navbar', aria-controls='header_navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #header_navbar.collapse.navbar-collapse
       ul.nav
            li #[a(href='#').nav-link Bedrooms]
                .nav-submenu
                    a.close-submenu(href="#")
                        i.fa.fa-close
                    .nav-submenu_inner
                        .row
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Bedroom Furniture Sets
                                ul.nav.nav_level2
                                    li #[a(href='#') Mission]
                                    li #[a(href='#') Contemporary]
                                    li #[a(href='#') Traditional]
                                    li #[a(href='#') Eclectic]
                                    li #[a(href='#') Rustic]
                                    li #[a(href='#') Live Edge]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Beds & Headboards
                                ul.nav.nav_level2
                                    li #[a(href='#') Panel Beds]
                                    li #[a(href='#') Spindle ]
                                    li #[a(href='#') Post ]
                                    li #[a(href='#') Platform ]
                                    li #[a(href='#') Storage ]
                                    li #[a(href='#') Bookcase ]
                                    li #[a(href='#') Upholstered ]
                                    li #[a(href='#') Murphy ]
                                    li #[a(href='#') Canopy ]
                                    li #[a(href='#') Sleigh ]
                                    li #[a(href='#') ]
                                    li #[a(href='#') ]
                                    li #[a(href='#') Slat ]
                                    li #[a(href='#') View ]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Bedroom Storage Pieces
                                ul.nav.nav_level2
                                    li #[a(href='#') Armoires & Wardrobes]
                                    li #[a(href='#') Dressers]
                                    li #[a(href='#') Chest of Drawers]
                                    li #[a(href='#') Mule Chests]
                                    li #[a(href='#') Lingerie Chests]
                                    li #[a(href='#') Nightstands]
                                    li #[a(href='#') Bedroom Media Consoles]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Storage Chests & Boxes
                                ul.nav.nav_level2
                                    li #[a(href='#') Blanket Boxes & Hope  Chests]
                                    li #[a(href='#') Steamer Trunks]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Bedroom Accessories
                                ul.nav.nav_level2
                                    li #[a(href='#') Bedroom Benches]
                                    li #[a(href='#') Jewelry Armoires]
                                    li #[a(href='#') Cheval & Jewelry Mirrors]
                                    li #[a(href='#') Vanities & Dressing Tables]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Quick Ship Bedroom
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                    .nav-submenu_bottom
                        .title
                            | Shop Bedrooms
                            a(href='#') by Style
                            |  or
                            a(href='#') by Collection
                        img.nav-bottom-img(src='img/menus/BedroomsMenu_Image.png', alt='Bed rooms menu image')
            li #[a(href='#').nav-link Kitchen & Dining Room]
                .nav-submenu
                    a.close-submenu(href="#")
                        i.fa.fa-close
                    .nav-submenu_inner
                        .row
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Dining Room Sets
                                ul.nav.nav_level2
                                    li #[a(href='#') Mission]
                                    li #[a(href='#') Contemporary]
                                    li #[a(href='#') Traditional]
                                    li #[a(href='#') Rustic]
                                    li #[a(href='#') Live Edge]
                                    li #[a(href='#') Art Deco]
                                    li #[a(href='#') Legacy World]
                                    li #[a(href='#') Eclectic]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Dining Tables
                                ul.nav.nav_level2
                                    li #[a(href='#') Leg Tables]
                                    li #[a(href='#') Single Pedestal Tables]
                                    li #[a(href='#') Double Pedestal Tables]
                                    li #[a(href='#') Pub Tables]
                                    li #[a(href='#') Trestle Tables]
                                    li #[a(href='#') Leaf Tables]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Dining Chairs & Seating
                                ul.nav.nav_level2
                                    li #[a(href='#') Dining Chairs]
                                    li #[a(href='#') Dining Benches]
                                    li #[a(href='#') Bar Stools & Counter Chairs]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Dining Storage Pieces
                                ul.nav.nav_level2
                                    li #[a(href='#') Hutches]
                                    li #[a(href='#') Corner Hutches]
                                    li #[a(href='#') Buffets & Sideboards]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Kitchen Storage Pieces
                                ul.nav.nav_level2
                                    li #[a(href='#') Cabinets & Cupboards]
                                    li #[a(href='#') Pie Safes & Jelly Cabinets]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Bars & Wine Storage
                                ul.nav.nav_level2
                                    li #[a(href='#') Bar Cabinets & Wine Racks]
                                    li #[a(href='#') Home Bars & Bar Furniture]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Kitchen Islands
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Breakfast Nooks
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                    .nav-submenu_bottom
                        .title
                            | Shop Kitchen & Dining Room
                            a(href='#') by Style
                            |  or
                            a(href='#') by Collection
                        img.nav-bottom-img(src='img/menus/KitchenMenu_Image.png', alt='KitchenMenu')
            li #[a(href='#').nav-link Living Room & Intertament]
                .nav-submenu
                    a.close-submenu(href="#")
                        i.fa.fa-close
                    .nav-submenu_inner
                        .row
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Living Room Sets
                                ul.nav.nav_level2
                                    li #[a(href='#') Mission]
                                    li #[a(href='#') Contemporary]
                                    li #[a(href='#') Eclectic]
                                    li #[a(href='#') Rustic]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Accent Tables
                                ul.nav.nav_level2
                                    li #[a(href='#') Coffee Tables]
                                    li #[a(href='#') End Tables]
                                    li #[a(href='#') Sofa Tables]
                                    li #[a(href='#') Console Tables]
                                    li #[a(href='#') Lift-top Tables]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Living Room Seating
                                ul.nav.nav_level2
                                    li #[a(href='#') Sofas]
                                    li #[a(href='#') Loveseats]
                                    li #[a(href='#') Recliners]
                                    li #[a(href='#') Rocking Chairs]
                                    li #[a(href='#') Gliders]
                                    li #[a(href='#') Living Room Chairs]
                                    li #[a(href='#') Futons]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Curios & Display Cabinets
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') TV Stands & Entertainment Centers
                                ul.nav.nav_level2
                                    li #[a(href='#') TV Consoles & Media Stands]
                                    li #[a(href='#') Hutch & Tower Media Units]
                                    li #[a(href='#') Wall Units]
                                    li #[a(href='#') Fireplace Media Stands & Wall Units]
                                    li #[a(href='#') Corner Media Stands & Wall Units]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Entryway & Mudroom
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Hallway Furniture & Benches
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Gun Cabinets
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Quick Ship Entertainment
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                    .nav-submenu_bottom
                        .title
                            | Shop Living Room & Entertainment
                            a(href='#') by Style
                            |  or
                            a(href='#') by Collection
                        img.nav-bottom-img(src='img/menus/LivingRoomMenu_image.png', alt='LivingRoomMenu')
            li #[a(href='#').nav-link Office]
                .nav-submenu
                    a.close-submenu(href="#")
                        i.fa.fa-close
                    .nav-submenu_inner
                        .row
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Office Furniture Sets
                                ul.nav.nav_level2
                                    li #[a(href='#') Mission]
                                    li #[a(href='#') Contemporary]
                                    li #[a(href='#') Traditional]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Desks & Tables
                                ul.nav.nav_level2
                                    li #[a(href='#') Executive Desks]
                                    li #[a(href='#') Partner Desks]
                                    li #[a(href='#') L-Shaped Desks]
                                    li #[a(href='#') U-Shaped Desks]
                                    li #[a(href='#') Hutch Top Desks]
                                    li #[a(href='#') Roll Top Desks]
                                    li #[a(href='#') Secretary Desks]
                                    li #[a(href='#') Standing Desks]
                                    li #[a(href='#') Writing Desks]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Conference Tables
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Office Storage Pieces
                                ul.nav.nav_level2
                                    li #[a(href='#') Bookcases]
                                    li #[a(href='#') Credenzas]
                                    li #[a(href='#') Filing Cabinets]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Desk Chairs
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Workbenches
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                    .nav-submenu_bottom
                        .title
                            | Shop Office
                            a(href='#') by Style
                            |  or
                            a(href='#') by Collection
                        img.nav-bottom-img(src='img/menus/OfficeMenu_image.png', alt='OfficeMenu')
            li #[a(href='#').nav-link Outdoor]
                .nav-submenu
                    a.close-submenu(href="#")
                        i.fa.fa-close
                    .nav-submenu_inner
                        .row
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Gazebos & Outdoor Structures
                                ul.nav.nav_level2
                                    li #[a(href='#') Gazebos]
                                    li #[a(href='#') Cabanas]
                                    li #[a(href='#') Pergolas & Pavilions]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Outdoor Lounge & Dining Furniture Sets
                                ul.nav.nav_level2
                                    li #[a(href='#') Patio Lounge Sets]
                                    li #[a(href='#') Bar Sets]
                                    li #[a(href='#') Pub Sets]
                                    li #[a(href='#') Dining Sets]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Desks & Tables
                                ul.nav.nav_level2
                                    li #[a(href='#') Executive Desks]
                                    li #[a(href='#') Partner Desks]
                                    li #[a(href='#') L-Shaped Desks]
                                    li #[a(href='#') U-Shaped Desks]
                                    li #[a(href='#') Hutch Top Desks]
                                    li #[a(href='#') Roll Top Desks]
                                    li #[a(href='#') Secretary Desks]
                                    li #[a(href='#') Standing Desks]
                                    li #[a(href='#') Writing Desks]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Outdoor Lounge Furniture
                                ul.nav.nav_level2
                                    li #[a(href='#') Bar Stools & Pub Chairs]
                                    li #[a(href='#') Bars]
                                    li #[a(href='#') Dining Benches]
                                    li #[a(href='#') Dining Chairs]
                                    li #[a(href='#') Dining Tables]
                                    li #[a(href='#') Picnic Tables]
                                    li #[a(href='#') Buffets & Sideboards]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Specialty Playsets
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Outdoor & Garden Decor
                                ul.nav.nav_level2
                                    li #[a(href='#') Lighthouses]
                                    li #[a(href='#') Windmills]
                                    li #[a(href='#') Bridges]
                                    li #[a(href='#') Arbors]
                                    li #[a(href='#') View All]
                    .nav-submenu_bottom.no_bg
                        img.nav-bottom-img(src='img/menus/OutdoorMenu_image.png', alt='OutdoorMenu')
            li #[a(href='#').nav-link Rustics & Leve Edge]
                .nav-submenu
                    a.close-submenu(href="#")
                        i.fa.fa-close
                    .nav-submenu_inner
                        .row
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Rustic & Live Edge Bedroom
                                ul.nav.nav_level2
                                    li #[a(href='#') Bedroom Sets]
                                    li #[a(href='#') Beds & Headboards]
                                    li #[a(href='#') Armoires & Wardrobes]
                                    li #[a(href='#') Dressers]
                                    li #[a(href='#') Chest of Drawers]
                                    li #[a(href='#') Mule Chests]
                                    li #[a(href='#') Lingerie Chests]
                                    li #[a(href='#') Nightstands]
                                    li #[a(href='#') Bedroom Media Consoles]
                                    li #[a(href='#') Bedroom Accessoires]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Rustic & Live Edge Kitchen and Dining Room
                                ul.nav.nav_level2
                                    li #[a(href='#') Dining Room Sets]
                                    li #[a(href='#') Dining Tables]
                                    li #[a(href='#') Dining Chairs & Seating]
                                    li #[a(href='#') Dining Storage Pieces]
                                    li #[a(href='#') Kitchen Storage Pieces]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Rustic & Live Edge Living Room and Entertainment
                                ul.nav.nav_level2
                                    li #[a(href='#') Seating Collections]
                                    li #[a(href='#') Accent Tables]
                                    li #[a(href='#') TV Stands & Entertainment Centers]
                                    li #[a(href='#') Entryway & Mudroom]
                                    li #[a(href='#') Hallway Furniture & Benches]
                                    li #[a(href='#') Gun Cabinets]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Rustic & Live Edge Office
                                ul.nav.nav_level2
                                    li #[a(href='#') Office Furniture Sets]
                                    li #[a(href='#') Desks & Tables]
                                    li #[a(href='#') Conference Tables]
                                    li #[a(href='#') Office Storage Pieces]
                                    li #[a(href='#') View All]
                            .col-sm-6.col-md-3
                                a.title.text-left(href='#') Rustic Outdoor
                                ul.nav.nav_level2
                                    li #[a(href='#') Gazebos & Outdoor Structures]
                                    li #[a(href='#') Outdoor Lounge & Dining Furniture Sets]
                                    li #[a(href='#') Outdoor Lounge ]
                                    li #[a(href='#') Outdoor Dining ]
                                    li #[a(href='#') View All]
                                a.title.text-left(href='#') Quick Ship Rustic & Live Edge
                                ul.nav.nav_level2
                                    li #[a(href='#') View All]
                    .nav-submenu_bottom
                        .title
                            | Shop Rustic & Live Edge
                            a(href='#') by Style
                            | or
                            a(href='#') by Collection
                        img.nav-bottom-img(src='img/menus/RusticMenu_image.png', alt='RusticMenu')
