nav#mobile-menu
    ul
        li
            a(href='#') Bedrooms
            ul
                li
                    a(href="#") Shop by collection
                    ul
                        li #[a(href='#') Mission]
                        li #[a(href='#') Contemporary]
                        li #[a(href='#') Traditional]
                        li #[a(href='#') Eclectic]
                        li #[a(href='#') Rustic]
                        li #[a(href='#') Farmhouse]
                        li #[a(href='#') Quick Ship Bedroom Furniture Sets]
                        li #[a(href='#') Live Edge]
                        li #[a(href='#') View All]
                li
                    a(href="#") Shop by furniture piece
                    ul
                        li #[a(href='#') Panel Beds]
                        li #[a(href='#') Spindle Beds]
                        li #[a(href='#') Post Beds]
                        li #[a(href='#') Platform Beds]
                        li #[a(href='#') Storage Beds]
                        li #[a(href='#') Bookcase Beds]
                        li #[a(href='#') Upholstered Beds]
                        li #[a(href='#') Murphy Beds]
                        li #[a(href='#') Canopy Beds]
                        li #[a(href='#') Sleigh Beds]
                        li #[a(href='#') Bunkbeds]
                        li #[a(href='#') Daybeds]
                        li #[a(href='#') Slat Beds]
                        li #[a(href='#') Quick Ship Beds & Headboards]
                        li #[a(href='#') View All]
                li
                    a(href="#") Shop by quick ship
                    ul
                        li #[a(href='#') Armoires & Wardrobes]
                        li #[a(href='#') Dressers]
                        li #[a(href='#') Chest of Drawers]
                        li #[a(href='#') Lingerie Chests]
                        li #[a(href='#') Mule Chests]
                        li #[a(href='#') Nightstands]
                        li #[a(href='#') Bedroom Media Consoles]
                        li #[a(href='#') Quick Ship Bedroom Storage Pieces]
                        li #[a(href='#') View All]
        li
            a(href='#') Kitchen & Dining Room
            ul
                li #[a(href='#') 1]
                li #[a(href='#') 2]
                li #[a(href='#') 3]
                li #[a(href='#') 4]

        li
            a(href='#') Living Room & Entertainment
            ul
                li #[a(href='#') 1]
                li #[a(href='#') 2]
                li #[a(href='#') 3]
                li #[a(href='#') 4]
        li
            a(href='#') Office
            ul
                li #[a(href='#') 1]
                li #[a(href='#') 2]
                li #[a(href='#') 3]
                li #[a(href='#') 4]
        li
            a(href='#') Outdoor
            ul
                li #[a(href='#') 1]
                li #[a(href='#') 2]
                li #[a(href='#') 3]
                li #[a(href='#') 4]
        li
            a(href='#') Rustics & Live Edge
            ul
                li #[a(href='#') 1]
                li #[a(href='#') 2]
                li #[a(href='#') 3]
                li #[a(href='#') 4]
        li


