ul.nav.navbar-nav
    // Standard dropdown
    li.dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Bedrooms
        .dropdown-menu.multi-column.columns-2
            .row
                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]

                .col-sm-6
                    ul.multi-column-dropdown
                       li #[a(href="#") Farmhouse]
                       li #[a(href="#") Reclaimed Barnwoood]
                       li #[a(href="#") Rustic Hickory Designs]
                       li #[a(href="#") Rustic Log Designs]
                       li #[a(href="#") Live Edge]
            .dropdown-menu-btm Shop Bedrooms by
                a(href="#")  furniture piece
                | or shop
                a(href="#") discounted
    li.dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Kitchen & Dining Room
        .dropdown-menu.multi-column.columns-2
            .row
                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]

                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
            .dropdown-menu-btm Shop Bedrooms by
                a(href="#") furniture piece
                | or shop
                a(href="#") discounted
    li.dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Living Room & Intertament
        .dropdown-menu.multi-column.columns-2
            .row
                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]

                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
            .dropdown-menu-btm Shop Bedrooms by
                a(href="#") furniture piece
                | or shop
                a(href="#") discounted
    li.dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Office
        .dropdown-menu.multi-column.columns-2
            .row
                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]

                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
            .dropdown-menu-btm Shop Bedrooms by
                a(href="#") furniture piece
                | or shop
                a(href="#") discounted
    li.dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Outdoor
        .dropdown-menu.multi-column.columns-2
            .row
                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]

                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
            .dropdown-menu-btm Shop Bedrooms by
                a(href="#") furniture piece
                | or shop
                a(href="#") discounted
    li.dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Rustics & Leve Edge
        .dropdown-menu.multi-column.columns-2
            .row
                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]

                .col-sm-6
                    ul.multi-column-dropdown
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
            .dropdown-menu-btm Shop Bedrooms by
                a(href="#") furniture piece
                | or shop
                a(href="#") discounted

