ul.nav.navbar-nav
    // Standard dropdown
    li.dropdown
        .dropdown-toggle
            | Bedrooms
        .dropdown-menu
            .dropdown-menu-left
                .nav-submenu
                    p.nav-subtitle Shop by Style
                    ul.nav-submenu-list
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
                .nav-submenu
                    p.nav-subtitle Shop by Furniture Piece
                    ul.nav-submenu-list
                        li #[a(href="#") Bedroom Sets]
                        li #[a(href="#") Beds & Headboards]
                        li #[a(href="#") Bedroom Storage Pieces]
                        li #[a(href="#") Storage Chests & Boxes]
                        li #[a(href="#") Bedroom Accessories]
                .nav-submenu
                    p.nav-subtitle Shop by Quick Ship
                    ul.nav-submenu-list
                        li #[a(href="#") Quick Ship Beds]
                        li #[a(href="#") Quick Ship Furniture Sets]

            .dropdown-menu-right
                .nav-pictures
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-01.png")
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-02.png")
    li.dropdown
        .dropdown-toggle
            | Kitchen & Dining Room
        .dropdown-menu
            .dropdown-menu-left
                .nav-submenu
                    p.nav-subtitle Shop by Style
                    ul.nav-submenu-list
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
                .nav-submenu
                    p.nav-subtitle Shop by Furniture Piece
                    ul.nav-submenu-list
                        li #[a(href="#") Bedroom Sets]
                        li #[a(href="#") Beds & Headboards]
                        li #[a(href="#") Bedroom Storage Pieces]
                        li #[a(href="#") Storage Chests & Boxes]
                        li #[a(href="#") Bedroom Accessories]
                .nav-submenu
                    p.nav-subtitle Shop by Quick Ship
                    ul.nav-submenu-list
                        li #[a(href="#") Quick Ship Beds]
                        li #[a(href="#") Quick Ship Furniture Sets]

            .dropdown-menu-right
                .nav-pictures
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-01.png")
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-02.png")
    li.dropdown
        .dropdown-toggle
            | Living Room & Entertainment
        .dropdown-menu
            .dropdown-menu-left
                .nav-submenu
                    p.nav-subtitleShop by Style
                    ul.nav-submenu-list
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
                .nav-submenu
                    p.nav-subtitle Shop by Furniture Piece
                    ul.nav-submenu-list
                        li #[a(href="#") Bedroom Sets]
                        li #[a(href="#") Beds & Headboards]
                        li #[a(href="#") Bedroom Storage Pieces]
                        li #[a(href="#") Storage Chests & Boxes]
                        li #[a(href="#") Bedroom Accessories]
                .nav-submenu
                    p.nav-subtitle Shop by Quick Ship
                    ul.nav-submenu-list
                        li #[a(href="#") Quick Ship Beds]
                        li #[a(href="#") Quick Ship Furniture Sets]

            .dropdown-menu-right
                .nav-pictures
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-01.png")
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-02.png")

    li.dropdown
        .dropdown-toggle
            | Office
        .dropdown-menu
            .dropdown-menu-left
                .nav-submenu
                    p.nav-subtitle Shop by Style
                    ul.nav-submenu-list
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
                .nav-submenu
                    p.nav-subtitle Shop by Furniture Piece
                    ul.nav-submenu-list
                        li #[a(href="#") Bedroom Sets]
                        li #[a(href="#") Beds & Headboards]
                        li #[a(href="#") Bedroom Storage Pieces]
                        li #[a(href="#") Storage Chests & Boxes]
                        li #[a(href="#") Bedroom Accessories]
                .nav-submenu
                    p.nav-subtitle Shop by Quick Ship
                    ul.nav-submenu-list
                        li #[a(href="#") Quick Ship Beds]
                        li #[a(href="#") Quick Ship Furniture Sets]

            .dropdown-menu-right
                .nav-pictures
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-01.png")
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-02.png")

    li.dropdown
        .dropdown-toggle
            | Outdoor
        .dropdown-menu
            .dropdown-menu-left
                .nav-submenu
                    p.nav-subtitle Shop by Style
                    ul.nav-submenu-list
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
                .nav-submenu
                    p.nav-subtitle Shop by Furniture Piece
                    ul.nav-submenu-list
                        li #[a(href="#") Bedroom Sets]
                        li #[a(href="#") Beds & Headboards]
                        li #[a(href="#") Bedroom Storage Pieces]
                        li #[a(href="#") Storage Chests & Boxes]
                        li #[a(href="#") Bedroom Accessories]
                .nav-submenu
                    p.nav-subtitle Shop by Quick Ship
                    ul.nav-submenu-list
                        li #[a(href="#") Quick Ship Beds]
                        li #[a(href="#") Quick Ship Furniture Sets]

            .dropdown-menu-right
                .nav-pictures
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-01.png")
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-02.png")

    li.dropdown
        .dropdown-toggle
            | Rustic & Live Edge
        .dropdown-menu
            .dropdown-menu-left
                .nav-submenu
                    p.nav-subtitle Shop by Style
                    ul.nav-submenu-list
                        li #[a(href="#") Mission]
                        li #[a(href="#") Contemporary]
                        li #[a(href="#") Traditional]
                        li #[a(href="#") Eclectic]
                        li #[a(href="#") Rustic Sophisticates]
                        li #[a(href="#") Rough Sawn Elegence]
                        li #[a(href="#") Farmhouse]
                        li #[a(href="#") Reclaimed Barnwoood]
                        li #[a(href="#") Rustic Hickory Designs]
                        li #[a(href="#") Rustic Log Designs]
                        li #[a(href="#") Live Edge]
                .nav-submenu
                    p.nav-subtitle Shop by Furniture Piece
                    ul.nav-submenu-list
                        li #[a(href="#") Bedroom Sets]
                        li #[a(href="#") Beds & Headboards]
                        li #[a(href="#") Bedroom Storage Pieces]
                        li #[a(href="#") Storage Chests & Boxes]
                        li #[a(href="#") Bedroom Accessories]
                .nav-submenu
                    p.nav-subtitle Shop by Quick Ship
                    ul.nav-submenu-list
                        li #[a(href="#") Quick Ship Beds]
                        li #[a(href="#") Quick Ship Furniture Sets]

            .dropdown-menu-right
                .nav-pictures
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-01.png")
                    a(href="#")
                        img.img-fluid(src="img/general/nav-img-02.png")


