section.widgets.widgets-inner
  .container
    .row
      <!--widget Office Furniture Sets-->
      .col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/office-sets.png');")
          .card-img-overlay
            h5.card-title Office Furniture Sets
            p.card-text.mb-md-4 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Office Furniture Sets end-->
      <!--widget Desks & Tables-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/desks-tables.png');")
          .card-img-overlay
            h5.card-title Desks & Tables
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Desks & Tables end-->
      <!--widget Conference Tables-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/conference-tables.png');")
          .card-img-overlay
            h5.card-title Conference Tables
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it. 
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Conference Tables end-->
      <!--widget Office Storage Pieces-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/office-storage.png');")
          .card-img-overlay
            h5.card-title Office Storage Pieces
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Office Storage Pieces end-->
      <!--widget Desk Chairs-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/desk-chairs.png');")
          .card-img-overlay
            h5.card-title Desk Chairs
            p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Desk Chairs end-->
      <!--widget Workbenches-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/workbenches.png');")
          .card-img-overlay
            h5.card-title Workbenches
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Workbenches end-->
      <!--widget SHOP LIVING ROOM & ENTERTAINMENT-->
      .col-lg-6.col-md-12
        .card.card--shopstyle.mb-3
          img.card-img(src='img/widgets/office-collection.png', alt='#')
          .card-img-overlay
            h5.card-title SHOP LIVING ROOM & ENTERTAINMENT
            .shop_by
              a(href='#') By Style
              a(href='#') By Collection

      <!--widget SHOP LIVING ROOM & ENTERTAINMENT end-->
    
            