section.widgets.widgets-inner
  .container
    .row
      <!--widget Gazebos & Outdoor Structures-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/gazebos-structures.png');")
          .card-img-overlay
            h5.card-title Gazebos & Outdoor Structures
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Gazebos & Outdoor Structures end-->
      <!--widget Outdoor Lounge & Dining Furniture Sets-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/outdoor-sets.png');")
          .card-img-overlay
            h5.card-title Outdoor Lounge & Dining Furniture Sets
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it. 
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Outdoor Lounge & Dining Furniture Sets end-->
      <!--widget Outdoor Lounge Furniture-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/outdoor-lounge.png');")
          .card-img-overlay
            h5.card-title Outdoor Lounge Furniture
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Outdoor Lounge Furniture end-->
      <!--widget Outdoor Dining Furniture-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/outdoor-dining.png');")
          .card-img-overlay
            h5.card-title Outdoor Dining Furniture
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Outdoor Dining Furniture end-->
      <!--widget Specialty Playsets-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/specialty-playsets.png');")
          .card-img-overlay
            h5.card-title Specialty Playsets
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Specialty Playsets end-->
      <!--widget Outdoor & Garden Decor-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/outdoor-garden.png');")
          .card-img-overlay
            h5.card-title Outdoor & Garden Decor
            p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Outdoor & Garden Decor end-->
            