.product-photo
  .product-photo-carousel
    ul
      li.item.selected(style='background-image: url(img/product/tmp_product.jpg);', data-big-img='img/product/tmp_product.jpg', data-title='1 Drawer Dresser shown with optional mirror')
      li.item(style='background-image: url(img/product/0nM3srCBso.jpg);', data-big-img='img/product/0nM3srCBso.jpg', data-title='2 Drawer Dresser shown with optional mirror')
      //li.item(style='background-image: url(img/product/R2hSOu8nsm.jpg);', data-big-img='img/product/R2hSOu8nsm.jpg', data-title='3 Drawer Dresser shown with optional mirror')
      //li.item(style='background-image: url(img/product/rW7GwEdO13.jpg);', data-big-img='img/product/rW7GwEdO13.jpg', data-title='4 Drawer Dresser shown with optional mirror')
      //li.item(style='background-image: url(img/product/WTr0ZgXRKA.jpg);', data-big-img='img/product/WTr0ZgXRKA.jpg', data-title='5 Drawer Dresser shown with optional mirror')
      //li.item(style='background-image: url(img/product/Amq5PuczxT.jpg);', data-big-img='img/product/Amq5PuczxT.jpg', data-title='6 Drawer Dresser shown with optional mirror')
      //li.item(style='background-image: url(img/product/yKelvO0K53.jpg);', data-big-img='img/product/yKelvO0K53.jpg', data-title='7 Drawer Dresser shown with optional mirror')
      //li.item(style='background-image: url(img/product/5aa15072b8457.jpeg);', data-big-img='img/product/5aa15072b8457.jpeg', data-title='8 Drawer Dresser shown with optional mirror')
    .product-photo-controls
      button.btn.slick-arrow.slick-prev(type='button')
      button.btn.slick-arrow.slick-next(type='button')
.product-photo-main
          img.img-fluid(src='img/product/tmp_product.jpg', alt='#', data-bs-toggle='modal', data-bs-target='#mainimage_popup')
          p.title 10 Drawer Dresser shown with optional mirror
