//.product-photo
//    .product-photo-carousel
//        ul
//            li.item.selected(style='background-image: url(img/product/tmp_product.jpg);', data-big-img='img/product/tmp_product.jpg', data-title='Carolina Crown Amish Bed 1', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 1")
//            li.item(style='background-image: url(img/product/R2hSOu8nsm.jpg);', data-big-img='img/product/R2hSOu8nsm.jpg', data-title='Carolina Crown Amish Bed 2', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 2")
//            li.item(style='background-image: url(img/product/rW7GwEdO13.jpg);', data-big-img='img/product/rW7GwEdO13.jpg', data-title='Carolina Crown Amish Bed 3', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 3")
//            li.item(style='background-image: url(img/product/WTr0ZgXRKA.jpg);', data-big-img='img/product/WTr0ZgXRKA.jpg', data-title='Carolina Crown Amish Bed 4', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 4")
//            li.item(style='background-image: url(img/product/Amq5PuczxT.jpg);', data-big-img='img/product/Amq5PuczxT.jpg', data-title='Carolina Crown Amish Bed 5', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 5")
//            li.item(style='background-image: url(img/product/yKelvO0K53.jpg);', data-big-img='img/product/yKelvO0K53.jpg', data-title='Carolina Crown Amish Bed 6', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 6")
//            li.item(style='background-image: url(img/product/5aa15072b8457.jpeg);', data-big-img='img/product/5aa15072b8457.jpeg', data-title='Carolina Crown Amish Bed 7', data-bs-descr="Lorem ipsum dolor sit amet, consectetur adipisicing elit 7")
//        .product-photo-controls
//            button.btn.slick-arrow.slick-prev(type='button')
//            button.btn.slick-arrow.slick-next(type='button')
//.product-photo-main.product-photo-main--new
//    .zoom
//        img.img-fluid(src='img/product/tmp_product.jpg', alt='#')
//        .zoom-inner(data-bs-toggle='modal', data-bs-target='#mainimage_popup')
//            i.fa.fa-search
//    p.title Carolina Crown Amish Bed
//    p.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 1
.pdpGallery
    .swiper-container.pdpGallery-thumbs
        .swiper-wrapper
            .swiper-slide
                img.pdpGallery-thumb(src="img/product/tmp_product.jpg")
            .swiper-slide
                img.pdpGallery-thumb(src="img/product/R2hSOu8nsm.jpg")
            .swiper-slide
                img.pdpGallery-thumb(src="img/product/rW7GwEdO13.jpg")
            .swiper-slide
                img.pdpGallery-thumb(src="img/product/WTr0ZgXRKA.jpg")
            .swiper-slide
                img.pdpGallery-thumb(src="img/product/Amq5PuczxT.jpg")
            .swiper-slide
                img.pdpGallery-thumb(src="img/product/yKelvO0K53.jpg")
    .swiper-container.pdpGallery-top(id="product-gallery")
        .pdpGallery-zoom(id="product-gallery-zoom")
            i.fa.fa-search
        .swiper-wrapper
            .swiper-slide
                .pdpGallery-item(data-src="img/product/tmp_product.jpg",data-sub-html=".pdpGallery-item__info")
                    img.pdpGallery-img.swiper-lazy(loading="lazy", src="img/product/tmp_product.jpg")
                    .pdpGallery-item__info
                        h4.pdpGallery-title Carolina Crown Amish Bed 1
                        p.pdpGallery-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 1
            .swiper-slide
                .pdpGallery-item(data-src="img/product/R2hSOu8nsm.jpg",data-sub-html=".pdpGallery-item__info")
                    img.pdpGallery-img.swiper-lazy(loading="lazy", src="img/product/R2hSOu8nsm.jpg")
                    .pdpGallery-item__info
                        h4.pdpGallery-title Carolina Crown Amish Bed 2
                        p.pdpGallery-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 2
            .swiper-slide
                .pdpGallery-item(data-src="img/product/rW7GwEdO13.jpg",data-sub-html=".pdpGallery-item__info")
                    img.pdpGallery-img.swiper-lazy(loading="lazy", src="img/product/rW7GwEdO13.jpg")
                    .pdpGallery-item__info
                        h4.pdpGallery-title Carolina Crown Amish Bed 3
                        p.pdpGallery-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 3
            .swiper-slide
                .pdpGallery-item(data-src="img/product/WTr0ZgXRKA.jpg",data-sub-html=".pdpGallery-item__info")
                    img.pdpGallery-img.swiper-lazy(loading="lazy", src="img/product/WTr0ZgXRKA.jpg")
                    .pdpGallery-item__info
                        h4.pdpGallery-title Carolina Crown Amish Bed 4
                        p.pdpGallery-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 4
            .swiper-slide
                .pdpGallery-item(data-src="img/product/Amq5PuczxT.jpg",data-sub-html=".pdpGallery-item__info")
                    img.pdpGallery-img.swiper-lazy(loading="lazy", src="img/product/Amq5PuczxT.jpg")
                    .pdpGallery-item__info
                        h4.pdpGallery-title Carolina Crown Amish Bed 5
                        p.pdpGallery-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 5
            .swiper-slide
                .pdpGallery-item(data-src="img/product/yKelvO0K53.jpg",data-sub-html=".pdpGallery-item__info")
                    img.pdpGallery-img.swiper-lazy(loading="lazy", src="img/product/yKelvO0K53.jpg")
                    .pdpGallery-item__info
                        h4.pdpGallery-title Carolina Crown Amish Bed 6
                        p.pdpGallery-descr Lorem ipsum dolor sit amet, consectetur adipisicing elit 6
        // Add Arrows
        .btn-arrow.swiper-button-next
        .btn-arrow.swiper-button-prev

script.
    // let itemGallery = document.getElementById('product-gallery');
    // let itemGalleryImages = itemGallery.getElementsByTagName('img');
    // let realIndexSlider;
    // let itemGalleryDynamic = [];
    // for (let i = 0; i < itemGalleryImages.length; i++) {
    //     const img = itemGalleryImages[i];
    //     itemGalleryDynamic[i] = {
    //         src: img.getAttribute('src'),
    //         thumb: img.getAttribute('src'),
    //     };
    // }
    // let itemGalleryLight = lightGallery(itemGallery, {
    //     dynamic: true,
    //     autoplayFirstVideo: false,
    //     pager: false,
    //     galleryId: "nature",
    //     plugins: [lgZoom, lgThumbnail, lgAutoplay, lgVideo, lgFullscreen, lgHash],
    //     mobileSettings: {
    //         controls: true,
    //         showCloseIcon: true,
    //         download: true,
    //         rotate: false
    //     },
    //     dynamicEl: itemGalleryDynamic,
    // });
    // // let imgSlider = new Swiper('#product-tab-gallery', {
    // //     speed: 800,
    // //     spaceBetween: 30,
    // //     watchOverflow: true,
    // //     autoHeight: true,
    // //     loop: true,
    // // });
    // itemGallery.addEventListener('click', function (e) {
    //     realIndexSlider = itemGallery.getElementsByClassName('swiper-slide-active');
    //     realIndexSlider = Number(realIndexSlider[0].getAttribute('data-swiper-slide-index'));
    //     itemGalleryLight.openGallery(realIndexSlider);
    // });
