.product-photo
    .product-photo-carousel
        ul
            li.item.selected(style='background-image: url(img/product/tmp_product.jpg);', data-big-img='img/product/tmp_product.jpg', data-title='Carolina Crown Amish Bed 1')
            li.item(style='background-image: url(img/product/R2hSOu8nsm.jpg);', data-big-img='img/product/R2hSOu8nsm.jpg', data-title='Carolina Crown Amish Bed 2')
            li.item(style='background-image: url(img/product/rW7GwEdO13.jpg);', data-big-img='img/product/rW7GwEdO13.jpg', data-title='Carolina Crown Amish Bed 3')
            li.item(style='background-image: url(img/product/WTr0ZgXRKA.jpg);', data-big-img='img/product/WTr0ZgXRKA.jpg', data-title='Carolina Crown Amish Bed 4')
            li.item(style='background-image: url(img/product/Amq5PuczxT.jpg);', data-big-img='img/product/Amq5PuczxT.jpg', data-title='Carolina Crown Amish Bed 5')
            li.item(style='background-image: url(img/product/yKelvO0K53.jpg);', data-big-img='img/product/yKelvO0K53.jpg', data-title='Carolina Crown Amish Bed 6')
            li.item(style='background-image: url(img/product/5aa15072b8457.jpeg);', data-big-img='img/product/5aa15072b8457.jpeg', data-title='Carolina Crown Amish Bed 7')
        .product-photo-controls
            button.btn.slick-arrow.slick-prev(type='button')
            button.btn.slick-arrow.slick-next(type='button')
.product-photo-main.product-photo-main--new
    .zoom
        img.img-fluid(src='img/product/tmp_product.jpg', alt='#')
        .zoom-inner(data-toggle='modal', data-target='#mainimage_popup')
            i.fa.fa-search
    p.title Carolina Crown Amish Bed
