section.promotions
    .container
        h1.text-center.mb-4 Promotions
        .row
            <!--Promotion 01-->
            .col-lg-6.col-md-12
                .card
                    .card-img(style="background-image: url('img/promo/promo-01.png');")
                    .card-img-overlay
                        h2.card-title.text-white Buy Pre-build Items with Great Discount
                        .card-footer
                            a(href="#").btn.btn-order Shop now
            <!--Promotion 01 end-->
            <!--Promotion 02-->
            .col-lg-6.col-md-12
                .card
                    .card-img(style="background-image: url('img/promo/promo-02.png');")
                    .card-img-overlay
                        h2.card-title.text-label Super Classy Collection with Discount
                    .card-footer
                        a(href="#").btn.btn-order Shop now
            <!--Promotion 02 end-->
            <!--Promotion 03-->
            .col-lg-6.col-md-12
                .card
                    .card-img(style="background-image: url('img/promo/promo-03.png');")
                    .card-img-overlay
                        h2.card-title.text-dark 25% off on outdoor gazebo structures
                    .card-footer
                        a(href="#").btn.btn-order Shop now
            <!--Promotion 03 end-->
            <!--Promotion 04-->
            .col-lg-6.col-md-12
                .card
                    .card-img(style="background-image: url('img/promo/promo-04.png');")
                    .card-img-overlay
                        h2.card-title.text-dark Get an extra chair
                        p.card-text.text-dark Buy one char and get secont for free. For all orders over $450
                    .card-footer
                        a(href="#").btn.btn-order Shop now
            <!--Promotion 04 end-->

