section.product-features.mb-5
  .container
    .row
      .col-md-4.product-features-list
        h6.product-title Standard Features
        ul
          li Choice of wood species & stains
          li 1” thick top
          li Rounded corner top (small radius)
          li Jasper edges
          li 30" high
          li Wooden extension slides
          li Center leg on tables with 3 or more 12” leaves
          li Pewter nail heads on Collinsville chairs
          li 2 styles of chairs
          li Upholstered seats & backs (Collinsville chairs)
          li Upholstered seats (Mc Cohen chairs)

      .col-md-3.offset-md-1.product-features-list
        h6.product-title Optional Features
        ul
          li Choice of edge profiles
          li V-groove in solid tops
          li Breadboard ends
          li 1-18" butterfly leaf
          li Up to 4-12" leaves
          li Drawer in solid top table
          li Silverware drawer organizer
          li Exceptional variety of high-quality leather or fabric upholsteries
          li Nail head choices for Collinsville chairs
      .col-md-3.offset-md-1
        h6.product-title More Product details
        ul.list-unstyle
          li #[a.more(href="#", data-toggle="modal", data-target="#care_instructions") <i class="fa fa-exclamation-triangle"></i> Care instructions]
          li #[a.more(href="#", data-toggle="modal", data-target="#motor_freight_shipping") <i class="fa fa-exclamation-triangle"></i> Motor freight shipping]
          li #[a.more(href="#", data-toggle="modal", data-target="#motor_freight_shipping") Product specs]
          li #[a.more(href="#", data-toggle="modal", data-target="#motor_freight_shipping") Delivery information]
