section.product-reviews
  .container
    h5.product-title Customer Reviews for Indian Creek Panel Amish Bed
    .row.mb-4
      .col-md-8.border-right
        ul.product-reviews-list
          li.product-review.border-b-dashed.mb-3
            .avatar
              i.fa.fa-user
            .name
              | Sally Schenk
              +rating-small-review("80")
              .via via Yotpo
            .tagline Ocean Shores, WA March 7, 2018
            .text
              | I received my Squanto Bed and it is perfect in every way. The stain and style matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture and the people that I dealt with from placing.
          li.product-review.border-b-dashed.mb-3
              .avatar
                i.fa.fa-user
              .name
                | Sally Schenk
                .via via Cabinfield
              .tagline Ocean Shores, WA March 7, 2018
              .text
                | I received my Squanto Bed and it is perfect in every way. The stain and style of the bed matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture and the people that I dealt with from placing the order to delivery. Everyone was very helpful with questions I had and I believe went out of their way to accommodate my special request to lower the bed a few inches. I would recommend this company to anyone...
                a(href='#') more
          li.product-review.border-b-dashed.mb-3
            .avatar
              i.fa.fa-user
            .name
              | Sally Schenk
              .via via Yotpo
            .tagline Ocean Shores, WA March 7, 2018
            .text
              | I received my Squanto Bed and it is perfect in every way. The stain and style matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture.
        a(href="#").see_all.pl-5 See all 8 reviews
      .col-md-4
        .avg_rating.justify-content-start
          h6 Average rating:
          +rating ("70", "3.5")
          .rating_line
            .rating_line_progress
              span(style='width: 87%')
            .rating_line_number 87%
          .rating_line
            .rating_line_progress
              span(style='width: 8%')
            .rating_line_number 8%
          .rating_line
            .rating_line_progress
              span(style='width: 5%')
            .rating_line_number 5%
          .rating_line
            .rating_line_progress
              span(style='width: 4%')
            .rating_line_number 4%
          .rating_line
            .rating_line_progress
              span(style='width: 2%')
            .rating_line_number 2%

    hr
        
