section.product-filters
    .container
        .row
            .col-lg-3.d-none.d-lg-flex
                .product-filters-wrap
                    h6.product-filters-title Furniture Type
                    ul.product-filters-list
                        li.checkbox.custom_checkbox
                            input#furnitureType0(type='checkbox', name='', value='')
                            label(for='furnitureType0') Bedroom Furniture Set
                        li.checkbox.custom_checkbox
                            input#furnitureType1(type='checkbox', name='', value='', checked='')
                            label(for='furnitureType1') Beds & Headboards
                        li.checkbox.custom_checkbox
                            input#furnitureType2(type='checkbox', name='', value='')
                            label(for='furnitureType2') Bedroom Storage Pieces
                        li.checkbox.custom_checkbox
                            input#furnitureType3(type='checkbox', name='', value='')
                            label(for='furnitureType3') Storage Chests & boxes
                        li.checkbox.custom_checkbox
                            input#furnitureType4(type='checkbox', name='', value='')
                            label(for='furnitureType4') Bedroom Accessories
                        li.checkbox.custom_checkbox
                            input#furnitureType5(type='checkbox', name='', value='')
                            label(for='furnitureType5') Bedroom Accessories
                        li.checkbox.custom_checkbox
                            input#furnitureType6(type='checkbox', name='', value='')
                            label(for='furnitureType6') Quick Ship Bedrooms
                    h6.product-filters-title Collection
                    ul.product-filters-list
                        li.checkbox.custom_checkbox
                            input#collection0(type='checkbox', name='', value='')
                            label(for='collection0') Kennet
                        li.checkbox.custom_checkbox
                            input#collection1(type='checkbox', name='', value='', checked='')
                            label(for='collection1') Spring Field
                        li.checkbox.custom_checkbox
                            input#collection2(type='checkbox', name='', value='')
                            label(for='collection2') Oldstead
                        li.checkbox.custom_checkbox
                            input#collection3(type='checkbox', name='', value='')
                            label(for='collection3')   Avenue West
                    h6.product-filters-title Style
                    ul.product-filters-list
                        li.checkbox.custom_checkbox
                            input#wood0(type='checkbox', name='Wood', value='')
                            label(for='wood0') Mission
                        li.checkbox.custom_checkbox
                            input#wood1(type='checkbox', name='Wood', value='')
                            label(for='wood1') Contemporary
                        li.checkbox.custom_checkbox
                            input#wood2(type='checkbox', name='Wood', value='')
                            label(for='wood2') Eclectic
                        li.checkbox.custom_checkbox
                            input#wood3(type='checkbox', name='Wood', value='')
                            label(for='wood3') Traditional

                    a.btn.btn-outline-warning.px-lg-3(href="#") Clear Filter
            .collection-listing.col-lg-9.col-md-12
                .collection-card.mb-4
                    .collection-card--img
                        img(src="img/collections/collection-02.png")
                    .collection-card--body
                        h2.collection-card--title Kennet Flat Pannel Amish Bed
                        .row
                            .col-xs-12.col-lg-12
                                span.product-number.mb-1 Product No.: FGFH1128
                                .product-rating.border-0
                                    // Product rating small in mixin.pug
                                    // star rating small without number
                                    .stars-rating.stars-rating--sm(title='80')
                                        .back-stars
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            .front-stars(collection='width: 80%')
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                        .row.align-items-end.mt-auto
                            // Product furnitureType in mixin.pug
                            // product furnitureType
                            .col-12.col-md-6.product-furnitureType.mb-0
                                span.text-brown Starting at
                                .product-furnitureType-value
                                    span $
                                    span.furnitureType-new 1,371.00
                                    span.small.ms-2 + shipping
                            .collection-card--cta.col-12.col-md-6
                                a.btn.btn-warning.text-uppercase(href='#') See Details
                .collection-card.collection-card--new.mb-4
                    .collection-card--img
                        img(src="img/collections/collection-03.png")
                    .collection-card--body
                        h2.collection-card--title Kennet Flat Pannel Amish Bed
                        .row
                            .col-xs-12
                                span.product-number.mb-1 Product No.: FGFH1128
                                .product-rating.border-0
                                    // Product rating small in mixin.pug
                                    // star rating small without number
                                    .stars-rating.stars-rating--sm(title='80')
                                        .back-stars
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            .front-stars(collection='width: 80%')
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                        .row.align-items-end.mt-auto
                            // Product furnitureType in mixin.pug
                            // product furnitureType
                            .col-12.col-md-6.product-furnitureType.mb-0
                                span.text-brown Starting at
                                .product-furnitureType-value
                                    span $
                                    span.furnitureType-new 1,371.00
                                    span.small.ms-2 + shipping
                            .collection-card--cta.col-12.col-md-6
                                a.btn.btn-warning.text-uppercase(href='#') See Details
                .collection-card.mb-4
                    .collection-card--img
                        img(src="img/collections/collection-04.png")
                    .collection-card--body
                        h2.collection-card--title Kennet Flat Pannel Amish Bed
                        .row
                            .col-xs-12
                                span.product-number.mb-1 Product No.: FGFH1128
                                .product-rating.border-0
                                    // Product rating small in mixin.pug
                                    // star rating small without number
                                    .stars-rating.stars-rating--sm(title='80')
                                        .back-stars
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            .front-stars(collection='width: 80%')
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                        .row.align-items-end.mt-auto
                            // Product furnitureType in mixin.pug
                            // product furnitureType
                            .col-6.product-furnitureType.mb-0
                                span.text-brown Starting at
                                .product-furnitureType-value
                                    span $
                                    span.furnitureType-new 1,371.00
                                    span.small.ms-2 + shipping
                            .collection-card--cta.col-12.col-md-6
                                a.btn.btn-warning.text-uppercase(href='#') See Details
                .collection-card.mb-4
                    .collection-card--img
                        img(src="img/collections/collection-02.png")
                    .collection-card--body
                        h2.collection-card--title Kennet Flat Pannel Amish Bed
                        .row
                            .col-xs-12
                                span.product-number.mb-1 Product No.: FGFH1128
                                .product-rating.border-0
                                    // Product rating small in mixin.pug
                                    // star rating small without number
                                    .stars-rating.stars-rating--sm(title='80')
                                        .back-stars
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            .front-stars(collection='width: 80%')
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                        .row.align-items-end.mt-auto
                            // Product furnitureType in mixin.pug
                            // product furnitureType
                            .col-6.product-furnitureType.mb-0
                                span.text-brown Starting at
                                .product-furnitureType-value
                                    span $
                                    span.furnitureType-new 1,371.00
                                    span.small.ms-2 + shipping
                            .collection-card--cta.col-12.col-md-6
                                a.btn.btn-warning.text-uppercase(href='#') See Details
                .collection-card.mb-4
                    .collection-card--img
                        img(src="img/collections/collection-03.png")
                    .collection-card--body
                        h2.collection-card--title Kennet Flat Pannel Amish Bed
                        .row
                            .col-xs-12
                                span.product-number.mb-1 Product No.: FGFH1128
                                .product-rating.border-0
                                    // Product rating small in mixin.pug
                                    // star rating small without number
                                    .stars-rating.stars-rating--sm(title='80')
                                        .back-stars
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            i.fa.fa-star-o
                                            .front-stars(collection='width: 80%')
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                                                i.fa.fa-star
                        .row.align-items-end.mt-auto
                            // Product furnitureType in mixin.pug
                            // product furnitureType
                            .col-6.product-furnitureType.mb-0
                                span.text-brown Starting at
                                .product-furnitureType-value
                                    span $
                                    span.furnitureType-new 1,371.00
                                    span.small.ms-2 + shipping
                            .collection-card--cta.col-12.col-md-6
                                a.btn.btn-warning.text-uppercase(href='#') See Details
        .row
            .col-lg-9.offset-lg-3.col-md-12
                hr.mt-3
                include ../components/_pagination
                p.text-center.mt-3
                    a.btn.btn-outline-primary(href="#") Show All On One Page
