.col-lg-2.col-md-2
  .product-selected
    img.img-fluid(src='img/product/yKelvO0K53.jpg')
    .product-selected-option
      h6 #[b Brown Mapple]
        br
        | OCS-101 S-2
      img(src='img/product/tmp_stain.jpg')
.col-lg-6.col-md-4
  .option-selected
    h6 #[b Carolina Crown Amish Bed]
    ul.option-selected-list
      li Bed size:
        span Queen (64"W x 86"L)
      li Bed size:
        span Queen (64"W x 86"L)
      li Headboard Style:
        span Adessa
      li Set:
        span Full Bed
      li Wood:
        span Quartersawn White Oak
      li Wood stain:
        span OCS-225 Mission Maple
      li Nail Head Style:
        span Antique Silver
      li Bed size:
        span Queen (64"W x 86"L)
      li Headboard Style:
        span Adessa
      li Set:
        span Full Bed
      li Wood:
        span Quartersawn White Oak
      li Wood stain:
        span OCS-225 Mission Maple
      li Nail Head Style:
        span Antique Silver
.col-lg-2.col-md-3.py-md-5
  +product-price-simple
.col-lg-2.col-md-3.px-0
  .wishlist-actions
    a.btn.btn-warning.mb-sm-4(href="#")
      i.fa.fa-shopping-cart
      | Move to cart
    .actions
      a.edit(href='#')
        i.fa.fa-pencil
        | Edit
      a.delete(href='#')
        i.fa.fa-trash-o
        | Delete
