.col-md-4
    .product-selected
        img.img-fluid(src='img/product/yKelvO0K53.jpg')
        .product-selected-option
            h6
                b Brown Mapple
                br
                | OCS-101 S-2
            img(src='img/product/tmp_stain.jpg')
.col-md-8
    .option-selected
        h6.product-customize-subtitle
            | Options selected:
        ul.option-selected-list
            li
                | Bed size:
                span Queen (64"W x 86"L)
            li
                | Bed size:
                span Queen (64"W x 86"L)
            li
                | Headboard Style:
                span Adessa
            li
                | Set:
                span Full Bed
            li
                | Wood:
                span Quartersawn White Oak
            li
                | Wood stain:
                span OCS-225 Mission Maple
            li
                | Nail Head Style:
                span Antique Silver
            li
                | Bed size:
                span Queen (64"W x 86"L)
            li
                | Headboard Style:
                span Adessa
            li
                | Set:
                span Full Bed
            li
                | Wood:
                span Quartersawn White Oak
            li
                | Wood stain:
                span OCS-225 Mission Maple
            li
                | Nail Head Style:
                span Antique Silver
