section.related
  .container
    h6.title Inspired by your Wish List <a href="#" class="text-brown ml-3 font-size-sm">See more <i class="fa fa-chevron-right"></i></a>
    .related-wrap
      ul.related-list
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/relatedproducts/product-01.jpg', alt='#')
            .card-body
              h5.related-title Carolina Crown Amish Bed
              p.related-price starting at: <span class="text-brown">$1,371</span>
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/relatedproducts/product-01.jpg', alt='#')
            .card-body
              h5.related-title Carolina Crown Amish Bed
              p.related-price starting at: <span class="text-brown">$1,371</span>
      .related-controls
        button.btn.btn-arrow.related-prev
          i.fa.fa-chevron-left
        button.btn.btn-arrow.related-next
          i.fa.fa-chevron-right
    hr
