section.related
  .container
    h4.underdash.text-center.mb-5 Our Customers Say it Best.
    .related-wrap
      ul.related-list.ckearfix
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/homepage/related/nightstand.png', alt='#')
            .card-body
              h5.related-title Kennet Amish Nightstand
              p.related-price starting at: <span class="text-brown">$916.00</span>
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/homepage/related/amish-bed.png', alt='#')
            .card-body
              h5.related-title Kennet Crown Amish Bed
              p.related-price starting at: <span class="text-brown">$1,371</span>
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/homepage/related/amish-bed-2.png', alt='#')
            .card-body
              h5.related-title Kennet Crown Amish Bed
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/homepage/related/amish-bed-3.png', alt='#')
            .card-body
              h5.related-title Kennet Crown Amish Bed
              p.related-price starting at: <span class="text-brown">$1,371</span>
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/homepage/related/amish-bed-4.png', alt='#')
            .card-body
              h5.related-title Kennet Crown Amish Bed
              p.related-price starting at: <span class="text-brown">$1,371</span>
        li.related-item
          a.card(href="#")
            img.card-img-top(src='img/homepage/related/amish-bed-4.png', alt='#')
            .card-body
              h5.related-title Kennet Crown Amish Bed
              p.related-price starting at: <span class="text-brown">$1,371</span>
        
      .related-controls
        button.btn.btn-arrow.related-prev
          i.fa.fa-chevron-left
        button.btn.btn-arrow.related-next
          i.fa.fa-chevron-right
