// Review Section
.review_section
    .container.review_section_wrap
        .review_summary
            +rating('50','2.5','justify-content-start')
            h3 Average customers rating
            .based_on based on 1338 reviews
            .review_summary-controls
                button.slick-prev.slick-arrow(type='button')
                button.slick-next.slick-arrow(type='button')
                a.see_all(href='#') see all
        .review_list
            .review_carousel
                .item
                    .avatar
                        i.fa.fa-user
                    .name Sally Schenk
                    .tagline about Palais Royal Table
                    .text
                        | We just love our Art Deco table in our new house and kitchen.  We have only been moved in about 3 weeks but we have received many
                        a(href='#') more
                .item
                    .avatar
                        i.fa.fa-user
                    .name Sally Schenk
                    .tagline about Palais Royal Table
                    .text
                        | We just love our Art Deco table in our new house and kitchen.  We have only been moved in about 3 weeks but we have received many
                .item
                    .avatar
                        i.fa.fa-user
                    .name Sally Schenk
                    .tagline about Palais Royal Table
                    .text
                        | We just love our Art Deco table in our new house and kitchen.  We have only been moved in about 3 weeks but we have received many
                .item
                    .avatar
                        i.fa.fa-user
                    .name Sally Schenk
                    .tagline about Palais Royal Table
                    .text
                        | We just love our Art Deco table in our new house and kitchen.  We have only been moved in about 3 weeks but we have received many
                .item
                    .avatar
                        i.fa.fa-user
                    .name Sally Schenk
                    .tagline about Palais Royal Table
                    .text
                        | We just love our Art Deco table in our new house and kitchen.  We have only been moved in about 3 weeks but we have received many
// end of Review Section
