// Review Section
.review_section.my-5
  .container.review_section_wrap
    .row.review_block.px-0 
        .review-text-section.col-md-6
            .rating
                .rating-value(style="width:90%") 
                    span 4.6
            h3 Average customers review
            p.based_on.text-dark based on 1338 reviews
            
            .review_list
                .review_carousel
                    .item
                        .text
                            | "Everything went great with my order. I think we had it 2 days after I ordered it. We love it. Thanks again."
                        .name - Sally Schenk
                    .item
                        .text
                            | "Everything went great with my order. I think we had it 2 days after I ordered it. We love it. Thanks again.
                        .name - Sally Schenk
                    .item
                        .text
                            | "Everything went great with my order. I think we had it 2 days after I ordered it. We love it. Thanks again.
                        .name - Sally Schenk
                .review_carousel-controls
                    button.slick-prev.slick-arrow(type='button')
                        <i class="fa-solid fa-angle-left"></i>
                    button.slick-next.slick-arrow(type='button')
                        <i class="fa-solid fa-angle-right"></i>
        .review-image.col-md-6.px-0.text-center.p-4
            img(src="img/homepage/furniture.png", alt="", srcset="")
            .power 
                span Powerded By
                img(src="img/homepage/avg_rating_yot_po.png", alt="", srcset="")
    
    
        
// end of Review Section
