section.widgets.widgets-inner
  .container
    .row
      <!--widget Rustic & Live Edge Bedroom-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/rustic-live-edge-bedroom.png');")
          .card-img-overlay
            h5.card-title Rustic & Live Edge Bedroom
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Rustic & Live Edge Bedroom end-->
      <!--widget Rustic & Live Edge Kitchen and Dining Room-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/rustic-live-edge-kitchen-and-dining-room.png');")
          .card-img-overlay
            h5.card-title Rustic & Live Edge Kitchen and Dining Room
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it. 
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Rustic & Live Edge Kitchen and Dining Room end-->
      <!--widget Rustic & Live Edge Living Room and Entertainment-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/rustic-liveedge-ivingroom-entertainment.png');")
          .card-img-overlay
            h5.card-title Rustic & Live Edge Living Room and Entertainment
            p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Rustic & Live Edge Living Room and Entertainment end-->
      <!--widget Rustic & Live Edge Office-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/rustic-live-edge-office.png');")
          .card-img-overlay
            h5.card-title Rustic & Live Edge Office
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Rustic & Live Edge Office end-->
      <!--widget Rustic Outdoor-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/rustic-outdoor.png');")
          .card-img-overlay
            h5.card-title Rustic Outdoor
            p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Rustic Outdoor end-->
      <!--widget Quick Ship Rustic & Live Edge-->
      .col-lg-6.col-md-12
        .card.card-border-dark.text-black.mb-3
          .card-img(style="background-image: url('img/widgets/quick-ship-rustic-live-edge.png');")
          .card-img-overlay
            h5.card-title Quick Ship Rustic & Live Edge
            p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            .card-footer
              a(href="#").btn.btn-explore explore
      <!--widget Quick Ship Rustic & Live Edge end-->
      <!--widget SHOP LIVING ROOM & ENTERTAINMENT-->
      .col-lg-6.col-md-12
        .card.card--shopstyle.card-border-dark.mb-3
          img.card-img(src='img/widgets/rustic-live-edge-style-collection.png', alt='#')
          .card-img-overlay
            h5.card-title SHOP LIVING ROOM & ENTERTAINMENT
            .shop_by
              a(href='#') By Style
              a(href='#') By Collection
      <!--widget SHOP LIVING ROOM & ENTERTAINMENT end-->