section.widgets.widgets-landing
    .container
        .row
            <!--widget Kennet Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-01.png');")
                    .card-img-overlay

                h4.text-dark.text-bold Kennet Series
                p.card-text.mb-md-4 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.

            <!--widget Kennet Series end-->
            <!--widget Springfield Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-02.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Springfield Series
                p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.

            <!--widget Springfield Series end-->
            <!--widget Oldstead Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-03.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Oldstead Series
                p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            <!--widget Oldstead Series end-->
            <!--widget Avenue West Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-04.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Avenue West Series
                p.card-text.mb-md-3 DDescription for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            <!--widget Avenue West Series end-->
            <!--widget Boulder Creek Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-05.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Boulder Creek Series
                p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            <!--widget Boulder Creek Series end-->
            <!--widget Rough Cut Maplewood Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-06.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Rough Cut Maplewood Series
                p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            <!--widget Rough Cut Maplewood Series end-->
            <!--widget Encada Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-07.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Encada Series
                p.card-text.mb-md-4 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            <!--widget Encada Series end-->
            <!--widget Ranchmen's Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-08.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Ranchmen's Series
                p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.

            <!--widget Ranchmen's Series end-->
            <!--widget Sonoma Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-09.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Sonoma Series
                p.card-text.mb-md-3 Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            <!--widget Sonoma Series end-->
            <!--widget Rural Ridge Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-10.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Rural Ridge Series
                p.card-text.mb-md-3 DDescription for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            <!--widget Rural Ridge Series end-->
            <!--widget Sonoma Series-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-11.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Sonoma Series
                p.card-text.mb-md-3 Description for the subcategory. Description for the subcategory. It is better to add a description for each subcategory instead of a carousel of the items from it.
            <!--widget Sonoma Series end-->
            <!--widget Quick Ship Beds-->
            .col-lg-6.col-md-12.mb-md-5.mb-4
                a.card.card-border-dark.text-black.mb-3(href='#')
                    .card-img(style="background-image: url('img/bedroom/bedroom-12.png');")
                    .card-img-overlay
                h4.text-dark.text-bold Quick Ship Beds
                p.card-text.mb-md-3 Discover Amish bedroom furniture in both classic and modern styles, featuring Amish beds, Amish dressers, nightstands, armoires and more.
            <!--widget Quick Ship Beds end-->
        .row
            .col-sm-12
                h2.text-dark.text-bold Mission Bedroom Furtniture Styles
                p With simple, clean lines and contours, our Mission style Amish bedrooms highlight the natural beauty of the wood, combining with artisan craftsmanship for heirloom quality Amish bedroom furniture. Discover your dream bedroom set in this extensive collection, featuring Amish beds, headboards, chest of drawers, nightstands, armoires, blanket chests and more. American Craftsman elements enhance this collection with solid wood inlays, Mission slats, cut out accents, decorative corbels and Amish dressers with beveled mirrors.
