footer.footer
    .container
        .footer-logo-box
            a(href="#").footer-logo
                img.img-fluid(src="img/general/cabinfield.svg", alt="Cabinfield")
            p.footer-copyright Copyright © 2005-2018 Cabinfield
                br
                | Woodworking LLC. All rights reserved.

        .footer-social-wrap
            include ../components/_footer-social
            a.footer-subscribe.mb-sm-3(href='#', data-bs-toggle='modal', data-bs-target='#subscribe_popup')
                i.fa.fa-envelope-o
                |    Subscribe for Newsletter
        img.img-bbb(src="img/general/BBB.png", alt="#")
        ul.footer-nav-list
            li #[a(href='#') About Us]
            li #[a(href='#') Testimonials]
            li #[a(href='#') Contact Us]
            li #[a(href='#') FAQ]
            li #[a(href='#') Promotions]
            li #[a(href='#') Gift It!]
        ul.footer-nav-list
            li #[a(href='#') Terms of Use]
            li #[a(href='#') Privacy Policy]
            li #[a(href='#') Warranty Disclaimer]
            li #[a(href='#') Cancellations/Returns Disclaimer]
            li #[a(href='#') Shipping and Delivery Disclaimer]
            li #[a(href='#') Gazebos & Playsets Disclaimer]


