header.header.mb-2
    .container.px-0
        <!--header top section-->
        .header-top
            .header-top_left
                a(href="/").header-logo
                    img.img-fluid(src="img/general/cabinfield_logo.png", alt="logo")
                span.header-title
                    | Classic Amish Craftmanship
                    | For Your Home and Garden
                form.header-search
                    input.form-control(type='search', name="search", placeholder='Search our store', aria-label='Search')
                    button.btn.btn-outline-primary(type='submit')
                        i.fa.fa-search
            .header-top_right
                ul.header-top-nav
                    li #[a.contact-phone(href="tel:866-450-WOOD(9663)") 866-450-WOOD (9663)]
                    li #[a(href="#") Testimonials]
                    li #[a(href="#") Sign In]
                    li #[a(href="#") My Wishlist]
                    li
                        a(href="#")
                            .fa.fa-shopping-cart
                            span.text-warning.ml-1 2
        <!--end header top section-->
        <!--header navigation section-->
        include _navbar-new
        //include _navbar
        <!--end of header navigation section-->

