header.header
    .container
        .header-top.d-none.d-md-flex
            <!--header top section-->
            ul.header-links
                li #[a(href="#") Contact]
                li #[a(href="#") Learning Center]
                li #[a(href="#") FAQ]
            a.header-tel(href="tel:8664509663") 866-450-WOOD(9663)

            <!--end of header top section-->
        .header-mdl
            <!--header middle section-->
            .header-brand
                a.header-brand--logo(href="index.html")
                    img.img-fluid(src="img/general/cabinfield-logo.svg", alt="logo")
                span.header-brand--title.d-none.d-xl-block
                    span.uppercase.tag CLASSIC AMISH CRAFTSMANSHIP
                    span.subtag For Your Home and Garden - EST. 2005
            form.header-search.d-none.d-lg-flex
                input.form-control(type='search', name="search", placeholder='Search our store', aria-label='Search')
                button.btn.btn-outline-primary(type='submit')
                    i.fa.fa-search
            ul.header-user-links
                li.d-block.d-md-none
                    a(href="#")
                        i.fa.fa-user
                li.d-block.d-md-none
                    a(href="#")
                        i.fa.fa-phone
                li.d-none.d-md-block #[a(href="#") Sign In]
                li.d-none.d-md-block #[a(href="#") Wishlist]
                li
                    a(href="#")
                        i.fa.fa-shopping-cart
                        span.text-warning.ms-1 2
            <!-- end of header middle section-->
    .header-btm.d-none.d-lg-flex
        <!--header navigation section-->
        .container
            include _navbar-new-design

        <!--end of header navigation section-->
    .header-mob.d-flex.d-lg-none
        .container
            .row.align-content-center
                .col-2
                    a.btn-menu(href="#mobile-menu" id="mmenu-icon")
                .col-10
                    form.header-search
                        input.form-control(type='search', name="search desctop", placeholder='Search our store', aria-label='Search')
                        button.btn.btn-outline-primary(type='submit')
                            i.fa.fa-search
    include _navbar-mob
