#optgroup-31
    #fabric-gallery.product-customize-form
        h6.product-customize-subtitle
            strong.me-1 Available Standard Fabrics:
        ul#fabric-gallery-list.fabric-gallery-list
            li.item.selected
                img.img-responsive(src='img/fabric/fabric-01.jpg')
                input(value="1-49 Gallery")
                .title 1-49 Gallery
                .description
                    h4 1-49 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-02.jpg')
                input(value="1-49 Gallery")
                .title 1-50 Gallery
                .description
                    h4  1-50 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-03.jpg')
                input(value="1-49 Gallery")
                .title 1-51 Gallery
                .description
                    h4 1-51 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-04.jpg')
                input(value="1-49 Gallery")
                .title 1-52 Gallery
                .description
                    h4  1-52 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-05.jpg')
                input(value="1-53 Gallery")
                .title 1-53 Gallery
                .description
                    h4 1-53 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-06.jpg')
                input(value="1-54 Gallery")
                .title 1-54 Gallery
                .description
                    h4  1-54 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-07.jpg')
                input(value="1-45 Gallery")
                .title 1-55 Gallery
                .description
                    h4 1-55 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-08.jpg')
                input(value="1-56 Gallery")
                .title 1-56 Gallery
                .description
                    h4  1-56 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus
            li.item
                img.img-responsive(src='img/fabric/fabric-09.jpg')
                input(value="1-57 Gallery")
                .title 1-57 Gallery
                .description
                    h4 1-57 Gallery
                    p
                        strong Fiber Content:
                        |  60% Polyester, 40% Acrylic
                    p
                        strong Pattern Repeat:
                        |  Railroaded
                    p
                        strong Cleaning Code:
                        |  S
                    p
                        strong Abrasion Rating:
                        |  M
                .enlarge( aria-expanded="false" aria-controls="#fabric-fullsize")
                    i.fa.fa-search-plus




        #fabric-fullsize.lightgallery-content-wrap
            .lightgallery-img
                img(src='#', alt='#')
            .lightgallery-content
                //h4.title
                .description

            a.closeFabricFullsize.font(href="#") View Standard Previews
            a.prev_img(href='#')
                i.fa.fa-chevron-left
            a.next_img(href='#')
                i.fa.fa-chevron-right

        include ../components/_pagination
        p.show-all--btn.text-center.w-100
            a.btn.btn-outline-blue(href="#") Show All On one page

