.product-fabric-list
    li.product-option.option-stain(data-slick-index='0')
        input#fabric-01(type='radio', name='fabric')
        label(for='fabric-01')
            img.img-fluid(src='img/fabric/fabric-01.jpg', alt='#')
            p.name 1-49 Gallery
            .description
                h3 1-49 Gallery
                p
                    strong Fiber Content:
                    |  60% Polyester, 40% Acrylic
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='1')
        input#fabric-02(type='radio', name='fabric')
        label(for='fabric-02')
            img.img-fluid(src='img/fabric/fabric-02.jpg', alt='#')
            p.name 4-10 Dove
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='2')
        input#fabric-03(type='radio', name='fabric')
        label(for='fabric-03')
            img.img-fluid(src='img/fabric/fabric-03.jpg', alt='#')
            p.name 4-10 Dove
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='3')
        input#fabric-04(type='radio', name='fabric')
        label(for='fabric-04')
            img.img-fluid(src='img/fabric/fabric-04.jpg', alt='#')
            p.name 1-49 Gallery
            .description
                h3 1-49 Gallery
                p
                    strong Fiber Content:
                    |  60% Polyester, 40% Acrylic
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='4')
        input#fabric-05(type='radio', name='fabric')
        label(for='fabric-05')
            img.img-fluid(src='img/fabric/fabric-05.jpg', alt='#')
            p.name 4-10 Dove
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='5')
        input#fabric-06(type='radio', name='fabric')
        label(for='fabric-06', data-description='')
            img.img-fluid(src='img/fabric/fabric-06.jpg', alt='#')
            p.name 4-10 Dove
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='6')
        input#fabric-07(type='radio', name='fabric')
        label(for='fabric-07')
            img.img-fluid(src='img/fabric/fabric-07.jpg', alt='#')
            p.name 1-49 Gallery
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='7')
        input#fabric-08(type='radio', name='fabric')
        label(for='fabric-08')
            img.img-fluid(src='img/fabric/fabric-08.jpg', alt='#')
            p.name 4-10 Dove
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
    li.product-option.option-stain(data-slick-index='8')
        input#fabric-09(type='radio', name='fabric')
        label(for='fabric-09')
            img.img-fluid(src='img/fabric/fabric-09.jpg', alt='#')
            p.name 4-10 Dove
            .description
                h3 4-10 Dove
                p
                    strong Fiber Content:
                    |  65% Viscose, 35% Polyester
                p
                    strong Pattern Repeat:
                    |  Railroaded
                p
                    strong Cleaning Code:
                    |  S
                p
                    strong Abrasion Rating:
                    |  M
            .enlarge
                i.fa.fa-search-plus
