.footer {
    background: $footer-bg;
    width: 100%;
    padding: 25px 0;
    display: block;
    
    > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 6px;
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            height: 100%;
        }
    }
    
    @media (max-width: 1200px) {
        min-height: auto;
        > .container {
            flex-wrap: wrap;
        }
    }
    
    &-logo-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 210px;
        padding: 8px 0 0 0;
        @media (max-width: 1200px) {
            margin-bottom: 1rem;
        }
        
    }
    
    &-logo {
        display: block;
        width: 100%;
        margin-bottom: 21px;
    }
    
    &-copyright {
        color: $footer-copy-color;
        font-family: $font-family-base;
        font-size: 0.6875rem;
        line-height: 0.9375rem;
        @media (max-width: 1200px) {
            margin-bottom: 1rem;
        }
    }
   
    
    &-nav-list {
        padding: 0 10px 0 0;
        margin: 0;
        list-style: none;
        
        &:last-child {
            padding: 0;
        }
        
        a {
            color: $primary;
            font-family: $font-family-base;
            font-size: .875rem;
            line-height: 1rem;
            
            &:hover,
            &:focus {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
            text-align: center;
            padding: 0;
            a {
                display: block;
                width: 100%;
                line-height: 32px;
                border-bottom: 1px solid #EFE9E7;
            }
        }
    }
    
    &-social-wrap {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
    }
    
    &-social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
        
        @media (max-width: 1200px) {
            margin-bottom: 1rem;
        }
        
        a {
            font-size: 30px;
            line-height: 30px;
            text-align: left;
        }
        
        @include media-breakpoint-down(md) {
            margin-bottom: 1rem;
        }
    }
    
    &-subscribe {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 0.875rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        align-items: center;
        .fa {
            font-size: 22px;
            line-height: 24px;
            margin-right: 5px;
        }
    }
    
    .img-bbb {
        display: block;
        max-height: 90px;
        margin-top: -6px;
        @media (max-width: 1200px) {
            margin-top: 1rem;
        }
    }
    
    @include media-breakpoint-down(md) {
        height: auto;
        padding: 2rem 1rem;
    }
    @include media-breakpoint-down(sm) {
        padding: 1rem 0;
        .footer-logo-box {
            width: 100%;
            max-width: 100%;
            flex-direction: column;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
        }
        
        .footer-logo {
            max-width: 180px;
        }
        
        .footer-nav {
            margin-right: 7px;
        }
        
        .footer-social-wrap {
            margin-right: 0;
        }
    
        .img-bbb {
            margin: 0 auto 20px;
        }
        
        .footer-copyright {
            text-align: center;
        }
    }
    @media (max-width: 525px) {
        .footer-nav {
            display: none;
        }
        .footer-logo-box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .footer-social-wrap {
            margin: 0 auto 1rem;
        }
        
    }
}
