html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: $font-family-base;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.content {
	padding: 1rem 0;
	flex: 1 0 auto;
	@include media-breakpoint-down(sm) {
		padding: .5rem 0;
		.border-right,
		.border-left {
			border: 0 !important;
		}
	}
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol > li {
	list-style-type: decimal;
}

b, strong {
	font-weight: 600;
}

h1 {
	font-family: $font-family-base;
	font-size: 30px;
	line-height: 40px;
	font-weight: 400;
	padding: 0 0 12px 0;
}

p {
	font-size: $font-size-base;
	margin-bottom: .5rem;
}

a:hover,
a:focus {
	cursor: pointer;
}

.text-brown {
	color: $brown !important;
}

.text-black {
	color: $black !important;
}

.text-dark {
	color: $dark;
}

.text-bold {
	font-weight: 700;
}

.text-underline,
.fa.fa-pencil {
	text-decoration: underline !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.more {
	color: $link-color;
	font-size: 0.9375rem;
	line-height: 1rem;
	
	&:after {
		content: "\f105";
		font-family: $font-awesome;
		padding-left: 0.5rem;
	}
	
	&.toggle-details span {
		padding: 0;
		color: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

.more-wrapper {
	.product-details {
		display: none;
	}
	
	&.active {
		.more:after {
			content: "\f106";
		}
		
		.product-details {
			display: block;
		}
	}
}

.edit {
	background: transparent;
	border: 0;
	color: $primary;
	
	.fa {
		text-decoration: underline;
	}
}

.back {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.1px;
	line-height: 14px;
	
	.fa {
		margin-right: .5rem;
	}
}

.log_out {
	border-left: 1px solid $border-color;
	margin-left: 10px;
	padding-left: 10px;
}

.see_all {
	color: $link-color;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.125rem;
}

.select {
	text-transform: uppercase;
	display: inline-block;
	border: $border-width solid $bodrer-color-default;
	border-radius: $border-radius;
	background-color: $bkg-color-default;
	box-shadow: inset 0 -3px 0 0 $link-color, inset 0 2px 0 0 $default-bo-shadow-color;
	color: $white;
	font-size: 0.9375rem;
	letter-spacing: 0.11px;
	padding: .25rem .5rem;
	line-height: 1.25rem;
	text-align: center;
	text-decoration: none !important;
}

.catalog {
	display: block;
	color: $link-color;
	font-size: 0.9375rem;
	letter-spacing: 0.11px;
	line-height: 1.125rem;
	font-weight: 400;
	text-decoration: none !important;
	position: relative;
	padding-left: 27px;
	
	.fa {
		position: absolute;
		font-size: 28px;
		left: 0;
		top: 4px;
	}
	
	@include media-breakpoint-down(md) {
		padding-left: 0;
		.fa {
			position: relative;
			margin-right: .5rem;
		}
	}
	@include media-breakpoint-down(sm) {
		margin-bottom: 1rem;
	}
}

.font-size-sm {
	font-size: 0.9375rem;
	
	.fa {
		font-size: 10px;
	}
}

.d-hidden {
	display: none;
}

.hr-lg {
	border-top: 7px solid #9B9B9B;
}

.border-b-dashed {
	border-bottom: 1px dashed $product-border-color;
	padding-bottom: 1rem;
}

.lead {
	margin: 0 auto 20px;
	font-size: 0.9375rem;
	line-height: 1.1875rem;
	
	a {
		color: $brown;
	}
	
}

.label-color {
	color: $label-color;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	> button {
		border: 0;
		background: transparent;
	}
	
	> a,
	> button {
		font-size: 0.75rem;
		font-weight: 600;
		line-height: 1rem;
		text-transform: uppercase;
		padding: 0 .5rem;
		color: $link-color;
		
		.fa {
			margin-right: 0.5rem;
		}
	}
	
	a + a,
	button + button,
	a + button,
	button + a {
		border-left: 1px solid $product-border-color;
	}
	
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		a + a,
		button + button {
			border: 0;
			margin: 0;
			padding: .5rem .5rem 0;
		}
	}
}


.shop_by {
	width: 40%;
	min-width: 320px;
	border-top: 2px solid rgba($review-border-color, .53);
	border-bottom: 2px solid rgba($review-border-color, .53);
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	@include media-breakpoint-down(md) {
		width: 50%;
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	@include media-breakpoint-down(xs) {
		min-width: 200px;
		a {
			padding: 8px 12px !important;
		}
		a + a {
			margin-left: 0;
		}
	}
	
	.title {
		text-align: center;
		position: absolute;
		top: -15px;
		left: 0;
		right: 0;
		
		span {
			display: inline-block;
			color: $text-dark;
			font-size: 0.75rem;
			line-height: 1.4375rem;
			text-transform: uppercase;
			background-color: $white;
			padding: 0 9px;
		}
	}
	
	a {
		color: $black;
		font-family: $font-family-base;
		font-size: 1rem;
		line-height: 1.5625rem;
		display: inline-block;
		padding: 8px 33px 8px 60px;
		text-decoration: none !important;
		position: relative;
	}
	
	a + a {
		padding: 8px 60px 8px 33px;
	}
	
	a + a:before {
		content: "";
		position: absolute;
		left: -1px;
		top: 50%;
		width: 2px;
		height: 20px;
		background: $brown;
		transform: rotate(20deg) translateY(-50%);
		@include media-breakpoint-down(xs) {
			left: -4px;
		}
	}
}

.row {
	position: relative;
	
	.border-outline {
		padding: 2rem 1rem;
		outline-offset: -1rem;
		outline: 1px solid $border-color;
	}
}

.search_no_results {
	height: 400px;
	height: 50vh;
	color: #AEA7A5;
	font-family: $font-family-base;
	font-size: 28px;
	font-weight: 700;
	line-height: 33px;
	border-bottom: 2px solid #EFE9E7;
	margin-bottom: 80px;
	margin-bottom: 10vh;
}

.product .quick-ship {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: .5rem 0 0;
	margin-top: .5rem;
	border-top: 1px solid $border-color;
	
	.btn {
		min-width: 160px;
		margin: 0;
	}
	
	p {
		color: $label-color;
		font-size: 12px;
	}
	
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		text-align: center;
		.btn {
			margin-bottom: .5rem;
		}
	}
}

.inline-gallery-container {
	width: 100%;
	min-height: 600px;
	position: relative;
	display: none;
	@include media-breakpoint-down(md) {
		min-height: 400px;
	}
	.lg-backdrop {
		background: $white;
	}
	.lg-container.lg-show {
		//width: 100%;
		//height: 100%;
	}
	.lg-outer {
		//top: 50%;
		//transform: translateY(-50%);
	}
	.lg-toolbar.lg-group {
		//opacity: 0;
		//display: none;
	}
	
	.lg-sub-html {
		background: $white;
		border: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		label {
			display: inline-flex;
			width: auto;
			background: transparent;
			outline: none;
			border: 0;
		}
		
		input:checkbox {
			margin-left: 8px;
		}
	}
	
	.lg-outer .lg-object {
		min-width: 80%;
		height: 100%;
	}
	
	.lg-content {
		.lg-icon {
			color: $brown;
			height: 45px;
			padding: 0;
			width: 25px;
			border: 1px solid #ded8d5;
			border-radius: 2px;
			background-color: $white;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: center;
			align-items: center;
			
			&:after {
				display: none;
			}
			
			&:before {
				font-family: FontAwesome;
			}
			
			&.lg-next:before {
				content: "\f105";
			}
			
			&.lg-prev:before {
				content: "\f104";
			}
		}
	}
}


.popup-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: $font-size-base;
	font-size: 12px;
	height: $font-size-base;
	line-height: $font-size-base;
	border-radius: 50%;
	border: 1px solid $blue;
	color: $blue;
	background: transparent;
	margin: auto auto auto 8px;
	
	&.popup-info:not(.btn) {
		font-size: 12px;
	}
	
	&:hover,
	&:focus {
		color: $white;
		background: $blue;
	}
}

button.popup-info[data-bs-toggle=modal] {
	border: 1px solid $blue;
}

button.btn-text {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	color: $link-color;
}

.person-message {
	width: 100%;
	max-width: 484px;
	textarea {
		width: 100%;
		background: $white;
		border-color: $review-border-color;
		padding: .5rem;
		color: $label-color;
		border-radius: $border-radius;
		box-shadow: inset 0 3px 0 0 #F4F2F2;
	}
	.btn {
		width: 100%;
		margin-bottom: 2rem;
		@include media-breakpoint-up(md) {
			width: 224px;
		}
	}
}

.card.card-grey {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #F8F6F7;
	border: 10px solid #F0ECED;
	padding: 40px;
}

.tab-content > form > .tab-pane {
	display: none;
}

.tab-content > form > .active {
	display: block;
}


@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

.load {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	border: solid 2px $brown;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transition: all 0.5s ease-in;
	animation-name: loading;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.summary-text {
	.collapse:not(.show) {
		min-height: 78px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		margin-bottom: 12px;
	}
	.collapse.show {
		margin-bottom: 12px;
	}
	.collapsing {
		min-height: 42px !important;
	}
	
	a.collapsed:after {
		content: '+ Read More';
	}
	
	a:not(.collapsed):after {
		content: '- Read Less';
	}
}
