.header{
  display: block;
  @include media-breakpoint-down(md) {
    margin-bottom: 1rem;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 0;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 4px;
    background-color: $primary;
    border-bottom: 1px solid $blue-light;
  }
  &-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 74px;
    padding: 14px 15px 10px 12px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      height: 150px;
    }
    @include media-breakpoint-down(sm) {
      height: auto;
      flex-direction: row;
      align-items: center;
    }
    &-nav{
      flex-direction: row;
      list-style: none;
      flex-wrap: nowrap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 240px;
      font-size: 0.875rem;
      line-height: 1.1875rem;
      font-family: "Open Sans";
      font-weight: 500;
      margin-bottom: 0;
      position: relative;
      a{
        display: flex;
        flex-direction: row;
      }
      a,
      span,
      .fa{
        line-height: 1.1875rem;
      }
      @media(max-width: 1200px) {
        flex-direction: column;
        border: 0;
        width: 40%;
        padding-right: 40px;
        li:last-child{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      @include media-breakpoint-down(md){
        flex-direction: row;
        li:last-child{
          position: relative;
          transform: translatey(0);
        }
      }
      @include media-breakpoint-down(sm){
        width: 100%;
        justify-content: flex-end;
        padding-right: 0;
        li +li{
          margin-left: 1rem;
        }
        li {
          a{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            font-size: 0.75rem;
            line-height: 1;
          }
          span,
          .fa{
            line-height: 1;
            font-size: 0.75rem;
          }
        }
      }
      .fa{
        font-size: 1.25rem;
      }
    }
    .contact {
      justify-content: center;
      @media(min-width: 992px)and(max-width: 1200px) {
        padding-left: 15px;
        width: 165px;
      }
      @include media-breakpoint-down(sm){
        display: none;
      }
    }
  }
  &-top_left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 1200px) {
      width: 65%;
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      flex-wrap: wrap;
      padding: 1rem 0 0;
    }
    @include media-breakpoint-down(sm) {
      width: 30%;
      flex-wrap: wrap;
      padding: 0;
      justify-content: flex-start;
    }
  }
  &-top_right{
    display: flex;
    width: 100%;
    max-width: 470px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: 100% ;
      .border-left.py-3{
        display: none;
      }
    }
    @include media-breakpoint-down(sm) {
      width: 70%;
      max-width: 70%;
    }
  }
  &-logo{
    width: 180px;
    margin-right: 15px;
    @include media-breakpoint-down(md) {
      margin-right: 1rem;
    }
  }
  &-title{
    width: 200px;
    color: $brown-light;
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    margin-right: 31px;
    @include media-breakpoint-down(md) {
      margin-right: auto;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &-search{
    width: 208px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    input{
      padding: .5rem .75rem;
      font-size: 14px;
    }
    .btn{
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid transparent;
      box-shadow: none;
      padding: 6px 9px;
      .fa{
        font-size: 16px;
      }
    }
    @include media-breakpoint-down(md) {
      width: 100%;
      margin: 0;
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
