

.header {
    &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    &-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        a {
            color: $warning;
            font-family: $header-font;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1rem;
            padding: 0 10px;
            &:hover,
            &:focus {
                cursor: pointer;
                color: $primary;
                transition: $transition-base;
            }
        }
        li:first-child {
            a {
                padding-left: 0;
            }
        }
        li + li {
            border-left: 1px solid #ECE9E9;
        }
    }
    &-tel {
        color: $brown-text;
        font-family: $header-font;
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
        text-align: right;
        &:hover,
        &:focus {
            cursor: pointer;
            color: $primary;
            transition: $transition-base;
        }
    }
    &-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &--logo {
            max-width: 166px;
            width: 100%;
        }
        &--title {
            color: $warning;
            font-family: $header-font;
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            max-width: 170px;
            margin-left: 1rem;
        }
    }
    &-mdl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    &-user-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        a {
            padding: 0 10px;
            color: $primary;
            font-family: $header-font;
            font-style: normal;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1rem;
        }
        li + li {
            border-left: 1px solid #ECE9E9;
        }
        li:last-child {
            a {
                padding-right: 0;
            }
        }
    }
    &-search {
        width: 390px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        
        input {
            padding: .5rem .75rem;
            font-size: 14px;
        }
        
        .btn {
            position: absolute;
            right: 0;
            top: 0;
            border: 1px solid transparent;
            box-shadow: none;
            padding: 6px 9px;
            height: 35px;
            
            .fa {
                font-size: 16px;
            }
        }
        
        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0;
            display: none;
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &-btm {
        display: flex;
        align-items: center;
        width: 100%;
        background: $primary;
        min-height: 54px;
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            .dropdown-toggle {
                font-family: $header-font;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 20px;
                text-transform: uppercase;
                color: $white;
                &:after {
                    display: none;
                }
            }
            .caret {
                display: none;
            }
            .dropdown-menu {
                margin: 1rem 0 0;
                padding: 0;
                border: 1px solid $warning;
                &-btm {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 20px;
                    background: #F8F6F7;
                    color: $brown-text;
                    p {
                        margin-bottom: 0;
                    }
                    a {
                        color: $warning;
                        text-decoration: underline;
                        margin: 0 3px;
                    }
                }
            }
            .dropdown-menu.columns-2 {
                min-width: 480px;
            }
            .dropdown-menu.columns-3 {
                min-width: 840px;
            }
            .multi-column-dropdown {
                list-style: none;
                padding: 20px;
            }
            .multi-column-dropdown li a {
                display: block;
                width: 100%;
                font-family: $header-font;
                font-style: normal;
                font-weight: 700;
                font-size: 13px;
                line-height: 20px;
                color: $warning;
                margin-bottom: 20px;
                
            }
            .multi-column-dropdown li a:hover {
                text-decoration: underline;
            }
            .multi-column-dropdown li:last-child a {
                margin-bottom: 0;
            }
        }
        
    }
}
