.header {
    
    &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    &-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        a {
            color: $warning;
            font-family: $header-font;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-base;
            line-height: 1rem;
            padding: 0 10px;
            &:hover,
            &:focus {
                cursor: pointer;
                color: $primary;
                transition: $transition-base;
            }
        }
        li:first-child {
            a {
                padding-left: 0;
            }
        }
        li + li {
            border-left: 1px solid #ECE9E9;
        }
    }
    &-tel {
        color: $brown-text;
        font-family: $header-font;
        font-style: normal;
        font-weight: 700;
        font-size: $font-size-base;
        line-height: 1rem;
        text-align: right;
        &:hover,
        &:focus {
            cursor: pointer;
            color: $primary;
            transition: $transition-base;
        }
    }
    &-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &--logo {
            max-width: 166px;
            width: 100%;
        }
        &--title {
            color: $warning;
            font-family: $header-font;
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            max-width: 170px;
            margin-left: 1rem;
        }
    }
    
    &-mdl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
      
    }
    
    &-user-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        a {
            padding: 0 10px;
            color: $primary;
            font-family: $header-font;
            font-style: normal;
            font-weight: 400;
            font-size: $font-size-base;
            line-height: 1rem;
        }
        
        li + li {
            border-left: 1px solid #ECE9E9;
        }
        
        li:last-child {
            a {
                padding-right: 0;
            }
        }
    }
    &-search {
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        width: 80%;
        input {
            padding: .5rem .75rem;
            font-size: $font-size-sm;
        }
        
        .btn {
            position: absolute;
            right: 0;
            top: 0;
            border: $border-width solid transparent;
            box-shadow: none;
            padding: 6px 9px;
            height: 35px;
            
            .fa {
                font-size: 16px;
            }
        }
    
        @include media-breakpoint-up(md) {
            width: 390px;
        }
       
    }
    &-btm {
        display: flex;
        align-items: center;
        width: 100%;
        background: $primary;
        min-height: 54px;
        .container {
            position: relative;
        }
        
        .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            position: relative;
            @include media-breakpoint-down(md){
                display: none;
            }
            .dropdown {
                position: initial;
                &:hover {
                    cursor: pointer;
                }
                &:hover >.dropdown-menu {
                    display: flex;
                }
    
            }
            
            .dropdown-toggle {
                font-family: $header-font;
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 54px;
                text-transform: uppercase;
                color: $white;
                &:after {
                    display: none;
                }
                @include media-breakpoint-down(xl) {
                    font-size: $font-size-sm;
                }
            }
            .caret {
                display: none;
            }
            
            .dropdown-menu {
                flex-direction: row;
                flex-wrap: wrap;
                border: $border-width solid $warning;
                width: 100%;
                position: absolute;
                top: 50px;
                left: 0;
                overflow: hidden;
                &.show {
                    display: flex;
                    transform: translate3d(0, 22px, 0) !important;
                }
                &-left {
                    display: flex;
                    flex-flow: column wrap;
                    width: 100%;
                    max-width: 60%;
                    height: 100%;
                    max-height: 400px;
                    overflow: auto;
                    /* Force new columns */
                    &::before,
                    &::after {
                        content: "";
                        flex-basis: 100%;
                        width: 0;
                        order: 2;
                    }
                }
                &-right {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 40%;
                    width: 100%;
                }
                &-btm {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 20px;
                    background: #F8F6F7;
                    color: $brown-text;
                    width: 100%;
                    p {
                        margin-bottom: 0;
                    }
                    a {
                        color: $warning;
                        text-decoration: underline;
                        margin: 0 3px;
                    }
                }
            }
            &-submenu {
                max-width: 40%;
                margin-bottom: 20px;
                padding: 0 20px;
            }
            &-submenu-list {
                list-style: none;
            }
            &-subtitle {
                margin-bottom: 10px;
                font-family: $header-font;
                font-style: normal;
                font-weight: 700;
                font-size: $font-size-sm;
                line-height: 26px;
                a {
                    font-family: $header-font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: $font-size-sm;
                    text-decoration: underline;
                    color: #70444A;
                }
            }
            ul a {
                font-family: $header-font;
                font-style: normal;
                font-weight: 700;
                font-size: $font-size-sm;
                line-height: 26px;
                color: #CC7654;
            }
            &-pictures {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                a {
                    width: 100%;
                    max-width: 270px;
                    
                }
                a + a {
                    margin-top: 20px;
                }
            }
        }
        
    }
    
    &-mob{
        display: flex;
        align-items: center;
        width: 100%;
        background: $primary;
        min-height: 54px;
        height: 66px;
        .container {
            position: relative;
        }
        .header-search {
            margin-left: auto;
            width: 100%;
        }
    }
}
