section.about.mb-5
  .container
    .row.mb-md-5
        .col-lg-6.offset-lg-3.col-md-12
            img.img-fluid(src="img/general/about_welcome.jpg", alt="Welcome to Cabinfield")
    .row.mb-5
        .col-lg-6.col-md-12
            h6.about-title Our Relationships with Amish Craftsmen Give You Affordable and Unique Handcrafted Treasures
        .col-md-12
            p.mb-0 Affordable and high-quality are not always mutually exclusive; so we learned when we visited the farms and workshops of Amish craftsmen in Pennsylvania, Ohio and Indiana. Enchanted at the quaintness and beauty of their functional works of art, we cautiously asked about pricing—and were delighted with what we found! Because the Amish create such lovely, detailed and high-quality pieces, we automatically assumed we would pay dearly —but much to our delight, we were wrong! We thought you would feel the same as we do—and thus Cabinfield Woodworking, LLC was born.
    .row.mb-5
        .col-sm-12
            .about-fullscreen
                img(src="img/general/about.png", alt="About Cabinfield")
    .row.flex-lg-row-reverse.pt-4.mb-5
        .col-lg-6.col-md-12
            p.mb-5.mb-lg-0 As a national distributor based near Amish country, we bring you unique home and outdoor furnishings and accents direct from Amish workshops and farms. And because we keep merchandising, inventory and marketing costs to a minimum, we’re able to pass even more savings along to you. Merchandising and inventory costs are low because we don’t operate from a brick and mortar location. When you place your order, we send it direct to our Amish friends who then create your pieces and send them directly to you. Marketing costs are low because we don’t produce fancy brochures, send repeat mailings and hire telemarketing staff to bother you. Instead, we leverage the power of the Internet to inform and educate you. Of course should you have any questions, you’re always welcome to e-mail or call.
        .col-lg-6.col-md-12
            img.about-amish(src="img/general/amishhandcrafted.png", alt="Amish Handcrafted")
    .row.mb-5
      .col-md-12.col-sm-12
        .card.card-grey.card-about.pb-0
            h6.about-title.text-center Our Online Price Calculator Gives You Your Final Price
            p.text-center We love shopping online! But we’re always annoyed when made to guess at shipping costs, or when we must hope that the extras we want will be affordable. So at Cabinfield, we’ve created a unique zip code-based price calculator: you enter your zip code, and the price you see includes shipping. No hidden costs. No surprises.
            img.img-fluid(src="img/general/bedroom_collection.png", alt="Our Online Price Calculator")
    .row
        .col-lg-6.col-md-12
            h6.about-title Our Dedication Gives You Exceptional Service
        .col-sm-12
            p.mb-3 We know how you feel about not being able to reach someone when you need answers to your questions. Our support staff is readily available—by toll-free phone during business hours, and by rapid response e-mail. We won’t make you wait. You’ll get the answers you need, when you need them. We truly strive to provide the best customer service in the industry, and want to hear your comments and suggestions.
            p.mb-3 Email us at #[a.text-brown(href="mailto:service@cabinfield.com") service@cabinfield.com] or call #[a.text-brown(href="tel:866-450-WOOD(9663)") 866-450-WOOD (9663)] anytime if you have any questions.
            p Thanks for visiting us. Enjoy your stay.
