section.cart.address-section
    .container
        a.back.text-brown(href='#')
            i.fa.fa-chevron-left
            | Back to cart
        h1 Review
        .row.wishlist-item
            .col-lg-8.col-md-6.col-sm-12
                .row
                    .col-lg-6
                        h6.h6.text-bold.mb-3 Shipping Information
                        .addr.mb-3
                            p John Doe
                            p 700 Carpenters Crossing
                            p BWW Ste 286309
                            p Folcroft,PA19032-2011
                            p United States
                            p (484) 5400190
                        a.edit.ml-0(href='#')
                            i.fa.fa-pencil
                            span.ml-3 edit

                    .col-lg-6.border-dashed-b
                        .d-flex.flex-column.justify-content-between
                            h6.h6.text-bold.mb-3 Billing address
                            .checkbox.custom_checkbox
                                input#billing_same_as_ship(type='checkbox' name='' value='', checked="")
                                label.mb-1.text-primary(for='billing_same_as_ship') Same as shipping address
                            form.form.form-address-billing(action='', style="display: none;")
                                .row.mb-3
                                    .form-group.col-md-6.mb-3.mb-md-0
                                        label.mb-md-0 First name
                                        input.form-control(type='text' name='first-name')
                                    .form-group.col-md-6.mb-3.mb-md-0
                                        label.mb-md-0  Last name
                                        input.form-control(type='text' name='last-name')
                                .row.mb-3
                                    .form-group.col-md-12.mb-3.mb-md-0
                                        label Company name (optional)
                                        input.form-control(type='text' name='company-name')
                                .row.mb-3
                                    .form-group.col-md-12.mb-3.mb-md-0
                                        label Street address
                                        input.form-control.mb-2(type='text' name='street-address-1')
                                    .form-group.col-md-12.mb-3.mb-md-0
                                        label Address line 2 (optional)"
                                        input.form-control(type='text' name='street-address-2')
                                .row.mb-3
                                    .form-group.col-md-6.mb-3.mb-md-0
                                        label City
                                        input.form-control(type='text' name='city')
                                    .form-group.col-md-6.mb-3.mb-md-0
                                        label State
                                        input.form-control(type='text' name='state')
                                .row.mb-3
                                    .form-group.col-md-6.mb-3.mb-md-0
                                        label Zip-code
                                        input.form-control(type='text' name='Zip-code')
                                    .form-group.col-md-6.mb-3.mb-md-0
                                        label Ext (optional)
                                        input.form-control(type='text' name='ext')
                                .row.mb-3
                                    .form-group.col-lg-6.col-md-12.mb-3.mb-md-0
                                        label Phone
                                        input.form-control(type='text' name='phone')

                            a.edit.ml-0(href='#')
                                i.fa.fa-pencil
                                span.ml-3 edit
            .col-lg-4.col-md-6.col-sm-12
                .proceed_to_checkout.mt-5.mt-md-0
                    .title.mt-0 Order Summary
                    .item
                        span.name Items:
                        span.price $1,321.00
                    .item
                        span.name Shipping & handling:
                        span.price $234.00
                    .item
                        span.name Savings on combined shipping:
                        span.price.text-brown  - $128.24
                    .item
                        span.name Total before tax:
                        span.price $1,371.00
                    .item
                        span.name Estimated tax to be collected:
                        span.price $0.00
                    .item.full_price
                        span.name Order total:
                        span.price $1,371.00
                    .item
                        span.name Due today
                            a.popup-info.mr-0(href='#') ?
                            | :
                        span.price $0.00
                    .d-flex.justify-content-center.w-100.mt-3
                        a(href='#').btn.btn-warning.text-uppercase.w-100
                            b Continue to Payment

                    .checkbox.custom_checkbox.mt-3
                        input#terms(type='checkbox' name='' value='')
                        label.mb-1.text-primary(for='terms') By clicking “Place Your Order” above you agree to Cabinfield’s Terms of Use and Privacy Policy.
