section.cart.address-section
    .container
        //a.back.text-brown(href='#')
        //    i.fa.fa-chevron-left
        //    | Back
        h1.mb-3.text-dark Review
        .row.wishlist-item
            .col-lg-8.col-md-6.col-sm-12
                .row
                    .col-lg-6
                        h6.h6.text-bold.text-dark.mb-3 Shipping Information
                        .addr
                            p John Doe
                            p 700 Carpenters Crossing
                            p BWW Ste 286309
                            p Folcroft,PA19032-2011
                            p United States
                            p (484) 5400190
                            a.edit.ms-0(href='#')
                                i.fa.fa-pencil
                                span.ms-3 edit
                    .col-lg-6
                        h6.h6.text-bold.text-dark.mb-3 Billing address
                        .addr
                            p 700 Carpenters Crossing
                            p BWW Ste 286309
                            p Folcroft,PA19032-2011
                            p United States
                            a.edit.ms-0(href='#')
                                i.fa.fa-pencil
                                span.ms-3 edit
                .row.mt-3
                    .col-lg-6
                        h6.h6.text-bold.text-dark.mb-3 Payment Info
                        .addr
                            p xxxx-xxxx-xxxx-4444
                            a.edit.ms-0(href='#')
                                i.fa.fa-pencil
                                span.ms-3 edit
                    .col-lg-6
                        h6.h6.text-bold.text-dark.mb-3 Gift Note
                        .addr
                            p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                            a.edit.ms-0(href='#')
                                i.fa.fa-pencil
                                span.ms-3 edit
            .col-lg-4.col-md-6.col-sm-12
                .proceed_to_checkout.mt-5.mt-md-0
                    .title.mt-0 Order Summary
                    .item
                        span.name Items:
                        span.price $1,321.00
                    .item
                        span.name Shipping & handling:
                        span.price $234.00
                    .item
                        span.name Savings on combined shipping:
                        span.price.text-brown  - $128.24
                    .item
                        span.name Total before tax:
                        span.price $1,371.00
                    .item
                        span.name Estimated tax to be collected:
                        span.price $0.00
                    .item.full_price
                        span.name Order total:
                        span.price $1,371.00
                    .item
                        span.name Due today
                            a.popup-info.me-0(href='#') ?
                            | :
                        span.price $0.00
                    .d-flex.justify-content-center.w-100.my-3
                        a(href='#').btn.btn-warning.text-uppercase.w-100
                            b Place Your Order

                    a(href="#") By clicking “Place Your Order” above you agree to Cabinfield’s updated Terms of Use and Privacy Policy.
        .row.text-dark
            .col-md-12
                h3.mb-3 Important! Please read before submitting your order!

                p We treasure the opportunity to partner with our customers in designing and building beautiful handcrafted furniture that will last for generations.

                p When you submit your order, you will receive a detailed email order confirmation, which includes the final specs of your order. We urge you to read through your order confirmation carefully.

                p We cannot remember every detail of our many phone and email conversations with customers, so it is vital that you check the order confirmation to verify that the details of your order are correct and all the options and specs you desire are included.
                p Your order will be built according to the specs on the site and the specific information included in your written order confirmation.

                p If you do not receive an order confirmation shortly after submitting your order, please check your spam/junk folder.
                p If you are unable to locate your order confirmation please contact us immediately by phone or email at service@cabinfield.com.
        hr.my-3.my-md-5
        h2.h2.text-dark.mb-3.mb-md-5
            strong Order Summary
        .row
            .col-md-4.col-sm-6
                .product-selected
                    img.img-fluid(src='img/product/yKelvO0K53.jpg')
                .option-selected
                    h3.text-dark Carolina Crown Amish Bed
                    include _option-selected-list-checkout-info-viewAll

            .col-md-4.col-sm-6
                .product-selected
                    img.img-fluid(src='img/product/yKelvO0K53.jpg')
                .option-selected
                    h3.text-dark Carolina Crown Amish Bed
                    include _option-selected-list-checkout-info-viewAll

            .col-md-4.col-sm-6
                .product-selected
                    img.img-fluid(src='img/product/yKelvO0K53.jpg')
                .option-selected
                    h3.text-dark Carolina Crown Amish Bed
                    include _option-selected-list-checkout-info-viewAll

            .col-md-4.col-sm-6
                .product-selected
                    img.img-fluid(src='img/product/yKelvO0K53.jpg')
                .option-selected
                    h3.text-dark Carolina Crown Amish Bed
                    include _option-selected-list-checkout-info-viewAll

            .col-md-4.col-sm-6
                .product-selected
                    img.img-fluid(src='img/product/yKelvO0K53.jpg')
                .option-selected
                    h3.text-dark Carolina Crown Amish Bed
                    include _option-selected-list-checkout-info-viewAll
