section.cart
  .container.mb-5
    h1 Shopping cart
    .row.wishlist-item
      .wishlist-item-left
        hr.mt-0
        .row.px-0.mb-3
          .col-md-3.col-sm-6
            .product-selected
              img.img-fluid(src='img/product/yKelvO0K53.jpg')
              .product-selected-option
                h6 #[b Brown Mapple]
                  br
                  | OCS-101 S-2
                img(src='img/product/tmp_stain.jpg')
              .product-selected-text Buying this as a gift?
                br
                a(href='#', data-toggle='modal', data-target='#gifting_options') See gifting options

          .col-md-6.col-sm-6.border-b-dashed
            .option-selected
              h6 #[b Carolina Crown Amish Bed]
              include _option-selected-list
            .actions
              a.edit(href='#')
                i.fa.fa-pencil
                | Edit
              a.wishlist(href='#')
                i.fa.fa-heart-o
                | Move to wishlist
              a.delete(href='#')
                i.fa.fa-trash
                | Delete
          .col-md-3.border-b-dashed
            .values
              span.values_inline_label Quantity:
              input(type='number', name='quantity', value='1')
            .values
              span.values_inline_label Subtotal:
              span.price $1,371.00
        .row.px-0
          .col-md-3.col-sm-6
            .product-selected
              img.img-fluid(src='img/product/Amq5PuczxT.jpg')
              .product-selected-option
                h6 #[b Brown Mapple]
                  br
                  | OCS-101 S-2
                img(src='img/product/tmp_stain.jpg')
              .product-selected-text Buying this as a gift?
                br
                a(href='#', data-toggle='modal', data-target='#gifting_options') See gifting options

          .col-md-6.col-sm-6.border-b-dashed
            .option-selected
              h6 #[b Carolina Crown Amish Bed]
              include _option-selected-list
            .actions
              a.edit(href='#')
                i.fa.fa-pencil
                | Edit
              a.wishlist(href='#')
                i.fa.fa-heart-o
                | Move to wishlist
              a.delete(href='#')
                i.fa.fa-trash
                | Delete
          .col-md-3.border-b-dashed
            .values
              span.values_inline_label Quantity:
              input(type='number', name='quantity', value='1')
            .values
              span.values_inline_label Subtotal:
              span.price $1,371.00
        .row
          .col-lg-3.col-md-0
          .col-lg-5.col-md-12
            .values.mt-3 Savings on combined shipping:
              span.save_price $32.00

          .col-lg-4.col-md-12
            .values.text-right.mt-3  Combined shipping (2 items):
              span.price.price_shipping $71.00
            .values.text-right.mb-3.mt-0
              span Delivery:
                a.more(href='#') Inside delivery with setup
        hr.mt-0
        .row.px-0.mb-3
          .col-md-3.col-sm-6
            .product-selected
              img.img-fluid(src='img/product/5aa15072b8457.jpeg')
              .product-selected-option
                h6 #[b Brown Mapple]
                  br
                  | OCS-101 S-2
                img(src='img/product/tmp_stain.jpg')
              .product-selected-text Buying this as a gift?
                br
                a(href='#', data-toggle='modal', data-target='#gifting_options') See gifting options

          .col-md-6.col-sm-6.border-b-dashed
            .option-selected
              h6 #[b Carolina Crown Amish Bed]
              include _option-selected-list
            .actions
              a.edit(href='#')
                i.fa.fa-pencil
                | Edit
              a.wishlist(href='#')
                i.fa.fa-heart-o
                | Move to wishlist
              a.delete(href='#')
                i.fa.fa-trash
                | Delete
          .col-md-3.border-b-dashed
            .values
              span.values_inline_label Quantity:
              input(type='number', name='quantity', value='1')
            .values
              span.values_inline_label Subtotal:
              span.price $1,371.00
            .values
              span.values_inline_label Shipping:
              span.price.price_shipping $71.00
            .values
              span.values_inline_label Delivery:
              a.more.align-self-end(href='#') Inside delivery with setup
        .row.px-0
          .col-md-3.col-sm-6
            .product-selected
              img.img-fluid(src='img/product/Amq5PuczxT.jpg')
              .product-selected-option
                h6 #[b Brown Mapple]
                  br
                  | OCS-101 S-2
                img(src='img/product/tmp_stain.jpg')
              .product-selected-text Buying this as a gift?
                br
                a(href='#', data-toggle='modal', data-target='#gifting_options') See gifting options

          .col-md-6.col-sm-6.border-b-dashed
            .option-selected
              h6 #[b Carolina Crown Amish Bed]
              include _option-selected-list
            .actions
              a.edit(href='#')
                i.fa.fa-pencil
                | Edit
              a.wishlist(href='#')
                i.fa.fa-heart-o
                | Move to wishlist
              a.delete(href='#')
                i.fa.fa-trash
                | Delete
          .col-md-3.border-b-dashed
            .values
              span.values_inline_label Quantity:
              input(type='number', name='quantity', value='1')
            .values
              span.values_inline_label Subtotal:
              span.price $1,371.00
            .values
              span.values_inline_label Shipping:
              span.price.price_shipping $71.00
            .values
              span.values_inline_label Delivery:
              a.more.align-self-end(href='#') Inside delivery with setup
        .row
          .col-lg-3.col-md-6.col-sm-6
          .col-lg-5.col-md-6
            .values.mt-3 Savings on combined shipping:
              span.save_price $32.00

          .col-lg-4.col-md-6
            .values.text-right.mt-3  Combined shipping (2 items):
              span.price.price_shipping $71.00
            .values.text-right.mb-3.mt-0
              span Delivery:
                a.more(href='#') Inside delivery with setup
        hr.mb-1
        hr.mt-0
        .extended_price
          | Extended price (includes shipping):
          span.text-brown $1,371.00
      .wishlist-item-right
        .proceed_to_checkout
          .d-flex.justify-content-center
            a(href='#').btn.btn-order
              b PROCEED TO CHECKOUT
          .item
            span.name Items:
            span.price $1,321.00
          .item
            span.name Shipping & handling:
            span.price $135.00
          .item
            span.name Sales tax #[a(href="#", data-toggle="modal", data-target="#customize_popup11").popup-info.mr-0 i] :
            span.price.text-brown  - $128.24
          .item.full_price
            span.name Extended price:
            span.price $1,371.00
        .delivery_information
          .title Delivery information:
          p This piece of Fine Furniture will be ready in approximately 8 weeks. Please allow about 2 weeks shipping time. Most Fine Furniture pieces are delivered fully assembled, with the exception of beds & dining tables. You will be contacted before delivery. There is a 25% deposit and the balance is charged when it ships.
        .d-flex.justify-content-center
          img.img-fluid.mb-3(src="img/general/norton_secured.png", alt="#")
  .container
    h1 Shopping cart
    hr
    .row.wishlist-item.mb-5
      .wishlist-item-left
        .row
          .col-lg-3.col-md-6.col-sm-6
            .card.border-0
              img.card-img-top(src='img/product/yKelvO0K53.jpg', alt='#')
              .card-body.p-0
                h5.card-title #[b Carolina Crown Amish Bed]
                .product-selected-option.flex-row-reverse.justify-content-end
                  h6.text-left
                    b Brown Mapple
                    br
                    | OCS-101 S-2
                  img(src='img/product/tmp_stain.jpg').ml-0.mr-1
                .price_wrapper
                  | Product price:
                  span.price  $1,371.00
                a.btn.btn-primary.w-100(href='#')
                  i.fa.fa-shopping-cart.mr-1
                  | Move to cart
                .actions.mt-3
                  a.edit(href='#')
                    i.fa.fa-pencil
                    | Edit
                  a.delete(href='#')
                    i.fa.fa-trash
                    | Delete
          .col-lg-3.col-md-6.col-sm-6
            .card.border-0
              img.card-img-top(src='img/product/Amq5PuczxT.jpg', alt='#')
              .card-body.p-0
                h5.card-title #[b Carolina Crown Amish Bed]
                .product-selected-option.flex-row-reverse.justify-content-end
                  h6.text-left
                    | WOOD STAIN
                    br
                    | NOT SELECTED
                  img(src='img/svg/wood-not-selected-icon.svg').ml-0.mr-1
                .price_wrapper
                  | Product price:
                  span.price  $1,371.00
                a.btn.btn-outline-primary.w-100(href='#')
                  | Customize and buy
                .actions.mt-3
                  a.delete(href='#')
                    i.fa.fa-trash
                    | Delete
          .col-lg-3.col-md-6.col-sm-6
            .card.border-0
              img.card-img-top(src='img/product/yKelvO0K53.jpg', alt='#')
              .card-body.p-0
                h5.card-title #[b Carolina Crown Amish Bed]
                .product-selected-option.flex-row-reverse.justify-content-end
                  h6.text-left
                    b Brown Mapple
                    br
                    | OCS-101 S-2
                  img(src='img/product/tmp_stain.jpg').ml-0.mr-1
                .price_wrapper
                  | Product price:
                  span.price  $1,371.00
                a.btn.btn-primary.w-100(href='#')
                  i.fa.fa-shopping-cart.mr-1
                  | Move to cart
                .actions.mt-3
                  a.edit(href='#')
                    i.fa.fa-pencil
                    | Edit
                  a.delete(href='#')
                    i.fa.fa-trash
                    | Delete
  .spinner-border.text-warning
