section.contact-us
  .container
    h1.contact-us-title.text-center.mb-4 Contact Us
    .row
      .col-lg-8.col-md-6
        form.form.contact-form.row.mb-3
          .col-lg-6.col-md-12
              .form-group
                label.col-form-label.col-form-label-sm Your name
                input.form-control(type='text', name='contact-name')
              .form-group
                label.col-form-label.col-form-label-sm Your email
                input.form-control(type='email', name='contact-email')
          .col-lg-6.col-md-12
            .form-group
              label.col-form-label.col-form-label-sm Message
              textarea.form-control.mb-3(rows="8")
              a.btn.btn-warning.d-block(href="#") Send
      .col-lg-4.col-md-6
        .contact-us-wrap
          .contact
            span Email
            a(href='mailto:service@cabinfield.com') service@cabinfield.com
          .contact
            span Phone
            a(href='phone:+18664509663') 866-450-WOOD (9663)
