section.signin
    .container
        .row
            .col-md-12
                h1.mb-5 My Information
        .row
            .col-lg-6.col-md-12.col-sm-12
                form
                    .row
                        .col-md-6.col-sm-12
                            .mb-3
                                label(for='firstname') First Name
                                input#firstname.form-control(type='text')
                        .col-md-6.col-sm-12
                            .mb-3
                                label(for='Lastname') Last Name
                                input#Lastname.form-control(type='text')

                    .row
                        .col-md-6.col-sm-12
                            .mb-3
                                label(for='createPass') Create Password
                                input#createPass.form-control(type='password', aria-describedby='createPassHelp')
                        .col-md-6.col-sm-12
                            .mb-3
                                label(for='confirmPass') Confirm Password
                                input#confirmPass.form-control(type='password', aria-describedby='createPassHelp')
                    .row
                        .col-md-6.col-sm-12
                            .mb-3
                                label(for='email') Email Address
                                input#email.form-control(type='email')
                        .col-md-6.col-sm-12
                            .mb-3.pt-3
                                .mb-4
                                .checkbox.custom_checkbox
                                    input#Newsletters-subcrs(type='checkbox' name='' value='')
                                    label.form-check-label(for='Newsletters-subcrs') Sign Up for Newsletters
                    .row.mt-5
                        .col-lg-6.col-md-6
                            .mb-5
                                button.w-100.btn.btn-warning(type='submit')
                                    span.text-uppercase.fw-bold Create account
                                small.form-text.text-muted.mt-2 Already a member?  #[a(href="sign-in.html") Sign in]
