section.faq
  .container
    h1 Frequently Asked Questions
    .row
      .col-md-8.content_col
        ul.faq_list.scroll_anchor
          li
            a(href='#section1') How long before I receive my order?
          li
            a(href='#section2') When do you charge my credit card?
          li
            a(href='#section3') Do your products come with a warranty?
          li
            a(href='#section4') How can I save money on shipping?
          li
            a(href='#section5') Can I get a Amish-handcrafted gazebo in my part of the country?
          li
            a(href='#section6') How do I prepare my site for a gazebo?
          li
            a(href='#section7')
              | I would like to order a custom-designed gazebo in a size and with options that are not shown on your site. Can you help?
          li
            a(href='#section8') Do you deliver and install custom gazebos in my local area?
        #section1.faq_item
          .question How long before I receive my order?
          .answer
            | During our busiest season, expect delivery of your gazebo within four to six weeks. A Cabinfield representative will contact you after your order is placed to give you a realistic estimate. Lawn furniture and lawn ornaments will be delivered in two to four weeks. Home accents and toys are typically delivered within two weeks. If an item you order is out of stock, we’ll send you an email with an estimated shipping date. You may inquire about your order status at any time by sending an e-mail to 
            a(href='mailto:service@cabinfield.com') service@cabinfield.com
            | . To keep our prices competitive, products are shipped to you directly from the Amish manufacturer.
        #section2.faq_item
          .question When do you charge my credit card?
          .answer
            | We do not charge your credit card until we are ready to ship your order. If you are ordering a gazebo or an item that is customized by staining, burning, or a personalized message, we will charge your card for a 50% deposit at the time of your order, and the balance is charged when the item is ready to be shipped. All Fine Furniture orders are charged a 25% deposit at the time of your order and the balance is charged when we are ready to ship your order.
        #section3.faq_item
          .question Do your products come with a warranty?
          .answer
            | Cabinfield Woodworking gives you the best warranty on gazebos in the industry. Gazebos feature a one-year warranty against defects in the manufacturer’s materials. This does not include minor cracking typically associated with all wood structures. We also warranty the wood and construction of our gazebos against damage from rot or termites—for as long as you live in your hom
        #section4.faq_item
          .question How can I save money on shipping?
          .answer
            | Cabinfield offers special savings to customers purchasing two or more pieces that ship by motor freight from any of our Fine Furniture and Home Accent categories. When you purchase two or more qualifying items, you'll pay regular shipping charges only for the largest item in your order, and a discounted fee for each additional piece shipped to the same address. Take advantage of these special savings to furnish an entire room, or to add accent pieces to your order, such as lamps, chairs, and occasional tables. Your shipping discount will be automatically applied as you shop. The shipping charges shown will be based on the items in your Shopping Cart and will include your savings based on shipping the item together with the items that you already have in your Cart. All eligible items will have the Combined Shipping logo displayed.
        #section5.faq_item
          .question Can I get a Amish-handcrafted gazebo in my part of the country?
          .answer
            | Our Amish gazebo manufacturers ship custom designed do-it-yourself gazebo kits, complete with easy-to-follow instructions, to any address within the continental United States. If you’re not a do-it-yourselfer, depending upon where you live, you may choose manufacturer or installer assembly for an additional fee. Our wide network of hand-selected gazebo installers, mostly Amish themselves, is available in 40 states. Visit our 
            a(href='#') Gazebo page
            |  to select the Gazebo of your dreams and determine shipping costs to your area.
        #section6.faq_item
          .question How do I prepare my site for a gazebo?
          .answer
            p
              | Clear an area that is 2 feet larger than the size of the gazebo in length and width. This way there will be a foot of drainage on all sides of the gazebo. Dig down 4-6 inches and make sure the ground is level. Use crushed stone (for example, 2B gravel) to fill the space. If you give the nursery the measurements they can tell you how much crushed stone you will need. Once the stone is in the ground you will have to make sure that the stone is level within 1-2 inches all around.
            p.text-uppercase To make sure the ground is level:
            ol
              li
                | Place a stake in the ground at the starting point (highest point) of the stone pad for your structure and attach a string to it.
              li
                | Measure out the length of the stone pad. (1' larger on both sides) Place another stake.
              li
                | Hang a line level in the center of the string.( line levels are available at any hardware store for approx $3)
              li
                | Raise or lower the string until the bubble in the level appears between the lines and tie it off.
              li
                | Measure the distance between the string to the ground (low side). When digging out the area to accept the stone, start at the lowest area and establish the grade by digging down 4-6″. You can now excavate the rest of the site keeping in mind the site should be level when finished.
              li This will determine the slope of the ground.
        #section7.faq_item
          .question
            | I would like to order a custom-designed gazebo in a size and with options that are not shown on your site. Can you help?
          .answer
            | Absolutely! While our Online Price Calculator includes the most common shapes, styles and options, our Amish craftsmen have been designing custom gazebos for years. With their unquestionable dedication to quality and our extremely competitive prices and commitment to service, you’ll find that ordering your unique, custom gazebo through Cabinfield.com a most rewarding experience! If you’d like to discuss a custom order, please e-mail us at 
            a(href='mailto:service@cabinfield.com') service@cabinfield.com
            | , or call us toll-free at 1-866-450-WOOD (9663).
        #section8.faq_item
          .question Do you deliver and install custom gazebos in my local area?
          .answer
            p
              | Almost certainly! Cabinfield.com has arranged with many independent contractors, all carefully selected, to install gazebos for our customers in their local areas.
              | Right now, we're able to arrange for these professionals to install gazebos in many parts of 45 states and in the District of Columbia.  See below for a partial list of where we can arrange for your gazebo to be installed:
            p.text-uppercase Find Your Area
            .row
              .col-4.col-md-2.text-right
                b Alabama:
              .col-8.col-md-10
                | Auburn, Birmingham, Decatur, Gadsden, Huntsville, Montgomery, Scottsboro, Talladega, Troy, Tuscaloosa
              .col-4.col-md-2.text-right
                b Arizona:
              .col-8.col-md-10
                | Apache Junction, Chandler, Gilbert, Glendale, Mesa, Peoria, Phoenix, Scottsdale, Sun City, Tempe, Tucson, Yuma
              .col-4.col-md-2.text-right
                b Arkansas:
              .col-8.col-md-10
                | Bentonville, Conway, Fayetteville, Fort Smith, Hot Springs, Jonesboro, Little Rock, Mountain Home, Pine Bluff, Springdale, West Memphis
              .col-4.col-md-2.text-right
                b California:
              .col-8.col-md-10
                | Anaheim, Bakersfield, Long Beach, Los Angeles, Oakland, Sacramento, San Diego, San Francisco, San Jose, Santa Ana
              .col-4.col-md-2.text-right
                b Colorado:
              .col-8.col-md-10
                | Aurora, Boulder, Breckenridge, Colorado Springs, Denver, Fort Collins, Greeley, Lakewood, Limon, Pueblo
              .col-4.col-md-2.text-right
                b Connecticut:
              .col-8.col-md-10
                | Ansonia, Bridgeport, Canaan, Danbury, Greenwich, Hartford, New Britain, New Haven, New Milford, Norwalk, Oxford, Redding, Seymour, Stamford, Waterbury

      .col-lg-5.col-xl-4.side_panel
        .contact_form_side.mb-3
          h3 Did not find the answer?
            br
            | Contact us.
          p Email us at 
            a(href='mailto:service@cabinfield.com') service@cabinfield.com
          p call 
            span 866-450-WOOD (9663)
          p or fill out the form below
          form.form
            .form-group
              label.col-form-label.col-form-label-sm Your name
              input.form-control(type='text', name='contact-name')
            .form-group
              label.col-form-label.col-form-label-sm Your email
              input.form-control(type='email', name='contact-email')
            .form-group
              label.col-form-label.col-form-label-sm Message
              textarea.form-control(rows="6", name='message')
            .d-flex.justify-content-center
              button(type='submit').btn.btn-outline-warning.btn-lg.w-100 Submit
