section.help
    .container
        .row.page-title
            .col-12 
                h1.text-dark.text-bold Help Center
        .row.d-flex.terms-area
            .col-md-3.sidebar 
                ul
                    li.active 
                        a(href="#") Terms of Use
                    li 
                        a(href="#") Privacy Policy
                    li 
                        a(href="#") Warranty
                    li 
                        a(href="#") Cancellation/Return
                    li 
                        a(href="#") Shipping & Delivery 
                    li 
                        a(href="#") Gazebos & Playsets 
                    
                        
            .col-md-9.main-info
                h2.text-dark.text-bold.section-title Terms of Use
                
                #block1.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec1' aria-expanded='true' aria-controls='flush-collapse0a')
                            | Return Policy
                        #sec1.accordion-collapse.collapse.show(aria-labelledby='flush-heading0a' data-bs-parent='#block1')
                            #terms1.accordion-body
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack1' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Returns Policy for All Non-Customized Cabinfield Products 
                                    #pack1.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms1')
                                        .accordion-body
                                            p We want you to be 100% satisfied with your purchase, and we recognize that there are certain times when it’s “just not right”.  At Cabinfield, we understand that there may be times when, for whatever reason, you may wish to return your purchase, and we want to make sure that the return process is a easy as possible. 

                                            p If you are not completely satisfied, you may return your non-customized purchase within 30 days of delivery, and we will make a complete exchange for something you prefer or issue you a refund - your choice.  To initiate your return or exchange, please call us toll-free at 866-450-WOOD (9663), or send an e-mail to: service@cabinfield.com, and we will provide you with a Return Authorization and our shipping address.  It’s that simple.

                                            p We are committed to exceeding your expectations, and because we want our customers to be satisfied with their purchase, we never charge restocking fees.  We will give you instructions on how to return, at your expense, any new, undamaged furniture in its original packaging. We will refund the cost of the item, less our shipping and packaging costs (see “Shipping and Packing Costs”).
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack2' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Shipping and Packing Costs 
                                    #pack2.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms1')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack3' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Return Policy for Customized Orders 
                                    #pack3.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms1')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack4' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Damage-Return Policy 
                                    #pack4.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms1')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack5' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Fine Furniture Customized Stains
                                    #pack5.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms1')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                
                #block2.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec2' aria-expanded='false' aria-controls='flush-collapse0a')
                            | Delivery Time
                        #sec2.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block2')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                
                #block3.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec3' aria-expanded='false' aria-controls='flush-collapse0a')
                            | Order Cancellation
                        #sec3.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block3')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                
                #block4.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec4' aria-expanded='true' aria-controls='flush-collapse0a')
                            | Payment Terms
                        #sec4.accordion-collapse.collapse.show(aria-labelledby='flush-heading0a' data-bs-parent='#block4')
                            #terms4.accordion-body
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack41' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Payment - Cabinfield Products 
                                    #pack41.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms2')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack42' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Credit Card Verification
                                    #pack42.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms2')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                
                #block5.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec5' aria-expanded='true' aria-controls='flush-collapse0a')
                            | Shipping Policy
                        #sec5.accordion-collapse.collapse.show(aria-labelledby='flush-heading0a' data-bs-parent='#block5')
                            #terms51.accordion-body
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack51' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Delivery of Indoor Furniture 
                                    #pack51.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms51')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack52' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Delivery of Outdoor Furniture
                                    #pack52.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms52')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack53' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Special Delivery Preperation
                                    #pack53.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms53')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #block6.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec6' aria-expanded='true' aria-controls='flush-collapse0a')
                            | Site Preparation
                        #sec6.accordion-collapse.collapse.show(aria-labelledby='flush-heading0a' data-bs-parent='#block6')
                            #terms6.accordion-body
                                .accordion-item.policy-pack
                                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pack61' aria-expanded='false' aria-controls='flush-collapse01')
                                        | Special Note for Fully Assembled Gazebo & Playhouse Delivery 
                                    #pack61.accordion-collapse.collapse(aria-labelledby='flush-heading01' data-bs-parent='#terms6')
                                        .accordion-body
                                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                
                #block7.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec7' aria-expanded='false' aria-controls='flush-collapse0a')
                            | Inclement Weather Policy
                        #sec7.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block7')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #block8.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec8' aria-expanded='false' aria-controls='flush-collapse0a')
                            | International Orders
                        #sec8.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block8')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #block9.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec9' aria-expanded='false' aria-controls='flush-collapse0a')
                            | Limitation of Liability
                        #sec9.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block9')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #block10.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec10' aria-expanded='false' aria-controls='flush-collapse0a')
                            | Trademarks, Copyrights and Other Intelectual Property
                        #sec10.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block10')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                #block11.accordion.accordion-flush
                    .accordion-item.section-pack
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sec11' aria-expanded='false' aria-controls='flush-collapse0a')
                            | Governing Law
                        #sec11.accordion-collapse.collapse(aria-labelledby='flush-heading0a' data-bs-parent='#block11')
                            .accordion-body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                