.product-img
    img.img-fluid(src='img/product/yKelvO0K53.jpg')
.product-option.mb-3
    h4.title #[b Carolina Crown Amish Bed]
    h5.subtotal Subtotal: 
        span.text-warning.text-bold $1371.00
    ul.option-list
        li Bed size: 
            span Queen
        li Headboard Style: 
            span Adessa
        li Set: 
            span Full Bed
        li Wood: 
            span Quartersawn White Oak
    a.link(href="#") View All
.delivery-option
    h5 Delivery Option: 
    select.selectpicker.w-100
        option.text-dark(value='2') Option 1
        option.text-dark(value='3') Option 2


