section.cart.address-section
    .container
        a.back.text-brown(href='#')
            i.fa.fa-chevron-left
            | Back
        h1 Order samples
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .row.mb-3
            .col-md-12
                h6.h6.text-bold.mb-3 Choose up to 6 combinations:
            .col-lg-4.col-md-6.col-sm-12.border-b-dashed
                .row.mb-3
                    .col-12
                        label.mb-md-0 Combination 1:
                .row
                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Wood:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Stain:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

            .col-lg-4.col-md-6.col-sm-12.border-b-dashed
                .row.mb-3
                    .col-12
                        label.mb-md-0 Combination 2:
                .row
                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Wood:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Stain:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

            .col-lg-4.col-md-6.col-sm-12.border-b-dashed
                .row.mb-3
                    .col-12
                        label.mb-md-0 Combination 3:
                .row
                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Wood:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Stain:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

        .row.mb-5
            .col-lg-4.col-md-6.col-sm-12.border-b-dashed
                .row.mb-3
                    .col-12
                        label.mb-md-0 Combination 4:
                .mb-3.row
                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Wood:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Stain:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

            .col-lg-4.col-md-6.col-sm-12.border-b-dashed
                .row.mb-3
                    .col-12
                        label.mb-md-0 Combination 5:
                .mb-3.row
                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Wood:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Stain:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

            .col-lg-4.col-md-6.col-sm-12.border-b-dashed
                .row.mb-3
                    .col-12
                        label.mb-md-0 Combination 6:
                .row.mb-3
                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Wood:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

                    .col-md-6.mb-3.mb-md-0
                        label.mb-0.d-flex.flex-row.align-items-center Select Stain:
                        select.selectpicker.form-control(data-container=".content")
                            option.text-dark(value='2') Option 1
                            option.text-dark(value='3') Option 2

        .row
            .col-md-12
                h6.h6.text-bold.mb-3 Shipping address:
            .col-lg-6.col-md-12
                form.form(action='')
                    .row.mb-3
                        .mb-3.col-md-6
                            label First name
                            input.form-control(type='text' name='first-name')
                        .mb-3.col-md-6
                            label Last name
                            input.form-control(type='text' name='last-name')
                    .row.mb-3
                        .mb-3.col-md-12
                            label Address
                            input.form-control.mb-2(type='text' name='street-address-1')
                        .mb-3.col-md-12
                            label City
                            input.form-control(type='text' name='city')
                    .row.mb-3
                        .mb-3.col-md-6
                            label State
                            input.form-control(type='text' name='state')
                        .mb-3.col-md-6
                            label ZIP
                            input.form-control(type='text' name='Zip-code')
                    .row.mb-3
                        .mb-3.col-md-6
                            label Email (optional)
                            input.form-control(type='email' name='email')
                    .row.mb-3
                        .mb-3.col-md-12
                            label Shopping Message
                            textarea.form-control.w-100(type='text' rows='10')
                    .row.mb-3
                        .col-sm-6
                            a.btn.btn-warning.text-uppercase.w-100(href="#")
                                strong Order SAMPLES
