section.product
    .container
        .d-flex.flex-column.flex-lg-row
            .product-left
                .product-left-top
                    h1.product-right-title.mb-3 Indian Creek Panel Amish Bed
                    span.product-number.mb-3 Product No.: FGFH1128
                    a(href="#", data-toggle='modal', data-target='#mainimage_popup').text-underline.mb-3 View Gallery
                <!--Product photos in components/_product-photos.pug-->
                include ../layout/_product-photos-new
                <!--Product photos in components/_product-photos.pug end-->
            .product-right
                .row
                    .col-sm-12
                        .seal-list
                            a(href="#")
                                img.seal(src='img/svg/eco-icon-blue.svg', alt='#')
                            a(href="#")
                                img.seal(src='img/svg/amish-blue.svg', alt='#')
                            a(href="#")
                                img.seal(src='img/svg/quickship-blue.svg', alt='#')
                    .col-sm-12
                        <!--Product price in mixin.pug-->
                        +product-price
                        <!--Product price in mixin.pug end-->
                .row
                    .col-sm-12
                        .product-rating
                            h5.text-warning.text-bold Shipping discount on two or more items
                            <!--Product rating small in mixin.pug-->
                            +rating-null("90", "justify-content-start")
                            <!--Product rating small in mixin.pug end-->
                .row
                    .product-right-btns.flex-column.col-xl-6.col-lg-9.col-sm-12
                        //a.btn.btn-warning.text-uppercase.w-100(data-toggle='tab' href='#nav-customize' role='tab' aria-controls='nav-customize' aria-selected='true')
                        a.btn.btn-warning.text-uppercase.w-100(onclick="$('#nav-tab a[href='#nav-customize']').click();" href='javascript:void(0);')
                            strong Choose Options
                        //a#nav-customize-tab.nav-link.active(data-toggle='tab' href='#nav-customize' role='tab' aria-controls='nav-customize' aria-selected='true') Customize
                        a.btn.btn-outline-primary.text-uppercase.w-100.mt-3(href='#')
                            strong Add to wishlist
                .row
                    .col-sm-12
                        ul.mb-3
                            li #[a(href="#") • Delivery Information ]
                            li #[a(href="#") • Return Policy ]
                            li #[a(href="#") • Pre-Built Options ]
                            li #[a(href="#") • Order Samples ]
                    .col-sm-12
                        h6.text-dark.mb-0 Product Information:
                        p.text-dark
                            | With a handcrafted wood kitchen set mealtimes will become the special bonding time you’ve always dreamed of.
                            | Solidly constructed fan back chairs are optionally stained in 2 tones, creating
                            | #[a(href="#") Read more...]
