section.product-customize
  .container
    h5.product-title Customize your Indian Creek Panel Amish Bed
    .row
      .col-md-9.border-right
        form#options-form
          #optgroup-1
            .product-customize-form
              h6.product-customize-subtitle Bed size: Full Bed
              .product-customize-list
                .product-option
                  input( type="radio" id="bed-size-01" name="bed-size" checked)
                  label(for="bed-size-01") Twin Bed
                    span - $102
                .product-option
                  input( type="radio" id="bed-size-02" name="bed-size")
                  label(for="bed-size-02") Full Bed
                    span - $102
                .product-option
                  input( type="radio" id="bed-size-03" name="bed-size")
                  label(for="bed-size-03") Queen Bed
                    span + $156
                .product-option
                  input( type="radio" id="bed-size-04" name="bed-size")
                  label(for="bed-size-04") King Bed
                    span + $195
                .product-option
                  input( type="radio" id="bed-size-05" name="bed-size")
                  label(for="bed-size-05") California King Bed
                    span + $562
          #optgroup-2
            .product-customize-form
              h6.product-customize-subtitle Wood: Brown Maple
              .product-customize-list
                .product-option
                  input( type="radio" id="wood-01" name="wood")
                  label(for="wood-01") Oak
                    span - $102
                .product-option
                  input( type="radio" id="wood-02" name="wood" checked)
                  label(for="wood-02") Brown Maple
                .product-option
                  input( type="radio" id="wood-03" name="wood")
                  label(for="wood-03") Sap Cherry
                    span + $102
          #optgroup-3
            .product-customize-form
              h6.product-customize-subtitle
                strong Wood Stain:
                |  Natural
                a.more.pl-3.ml-3.border-left(href="#",data-toggle="modal", data-target="#customize--fullsize") Open full-sized previews
              .product-includes.warning
                p Please note that the stain or paint colors shown may not appear the same on all computer monitors. Actual results on your furniture may also vary due to natural variations in the color, grain, and texture of the wood. You may call or email to request stain samples.
              .product-customize-list
                .product-option.option-stain
                  input( type="radio" id="wood-stain-01" name="wood-stain")
                  label(for="wood-stain-01")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span Natural Natural Natural
                .product-option.option-stain
                  input( type="radio" id="wood-stain-02" name="wood-stain" checked)
                  label(for="wood-stain-02")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span OCS-101 S-2
                .product-option.option-stain
                  input( type="radio" id="wood-stain-04" name="wood-stain")
                  label(for="wood-stain-04")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span OCS-105 Black W
                .product-option.option-stain
                  input( type="radio" id="wood-stain-05" name="wood-stain")
                  label(for="wood-stain-05")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span OCS-105 Black W
                .product-option.option-stain
                  input( type="radio" id="wood-stain-06" name="wood-stain")
                  label(for="wood-stain-06")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span OCS-105 Black W
                .product-option.option-stain
                  input( type="radio" id="wood-stain-07" name="wood-stain")
                  label(for="wood-stain-07")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span OCS-105 Black W
                .product-option.option-stain
                  input( type="radio" id="wood-stain-08" name="wood-stain")
                  label(for="wood-stain-08")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_stain.jpg", alt="#").img-fluid
                    span OCS-105 Black W
          #optgroup-4
            .product-customize-form
              h6.product-customize-subtitle
                strong Headboard Style:
                |  Lilly
                a.more.pl-3.ml-3.border-left(href="#",data-toggle="modal", data-target="#customize--fullsize") Open full-sized previews
              .product-customize-list
                .product-option.option-hboard
                  input( type="radio" id="hboard-01" name="headboard")
                  label(for="hboard-01")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_headboard.jpg", alt="#").img-fluid
                    span
                      strong Elliot
                      | - $242
                .product-option.option-hboard
                  input( type="radio" id="hboard-02" name="headboard" checked)
                  label(for="hboard-02")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_headboard.jpg", alt="#").img-fluid
                    span
                      strong Elliot
                      | + $102
                .product-option.option-hboard
                  input( type="radio" id="hboard-03" name="headboard")
                  label(for="hboard-03")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_headboard.jpg", alt="#").img-fluid
                    span
                      strong Lily
                .product-option.option-hboard
                  input( type="radio" id="hboard-04" name="headboard")
                  label(for="hboard-04")
                    .enlarge(data-big-img="img/product/furniture_big.jpg", data-title="Elliot")
                      i.fa.fa-search
                      | enlarge
                    img(src="img/product/tmp_headboard.jpg", alt="#").img-fluid
                    span
                        strong Gbrielle
                        | - $242
          #optgroup-5
            .product-customize-form
              h6.product-customize-subtitle
                strong Upholstery:
                |  Faux Leather 15-32 Bomber
              .product-customize-list
                .product-option-half.selected(data-toggle="modal", data-target="#customize_popup1")
                  .option-half-descr
                    p.title Standard
                      span.name  -$345
                    p.text-dark 25 options
                  .option-half-img
                    img(src="img/product/upholstery.png", alt="#")
                  i.fa.fa-chevron-right
                .product-option-half(data-toggle="modal", data-target="#customize_popup1")
                  .option-half-descr
                    p.title Faux Leather
                    p.text-dark 15-32 Bomber
                  .option-half-img
                    img(src="img/product/upholstery.png", alt="#")
                  i.fa.fa-chevron-right
                .product-option-half(data-toggle="modal", data-target="#customize_popup1")
                  .option-half-descr
                    p.title Faux Leather
                    p.text-dark 15-32 Bomber
                  .option-half-img
                    img(src="img/product/upholstery.png", alt="#")
                  i.fa.fa-chevron-right
                .product-option-half(data-toggle="modal", data-target="#customize_popup1")
                    .option-half-descr
                      p.title Revolution® Performance…
                        span +$345
                      p.text-dark 47 options
                    .option-half-img
                      img(src="img/product/upholstery.png", alt="#")
                    i.fa.fa-chevron-right
          #optgroup-6
            .product-customize-form.border-bottom-0
              h6.product-customize-subtitle
                strong Optional Features:
                |  2 x Lock, 3 x USB Charging Station, No Bun Feet, Otoman
              .product-customize-list.optional-features-list
                #optgroup-237146
                  input(type="hidden" id="og-stamps-237146" name="og_stamps[237146]" value="3682444456")
                #optgroup-237148
                #optgroup-237141
                  input(type="hidden" id="og-stamps-237141" name="og_stamps[237141]" value="3682444456")
                #optgroup-237112
                #optgroup-237142
                  input(type="hidden" id="og-stamps-237142" name="og_stamps[237142]" value="3682444456")
                #optgroup-237158
                #optgroup-237147
                  input(type="hidden" id="og-stamps-237147" name="og_stamps[237147]" value="3682444456")
                #optgroup-237144
                #optgroup-634234234
                  .product-option-half.selected(data-toggle="modal", data-target="#customize_popup5")
                    .option-half-prev
                      img(src="img/product/locks.png", alt="#")
                    .option-half-descr
                      p.title Lock(s)
                      p #[span $23 per lock]
                    i.fa.fa-chevron-right
                #optgroup-634234232
                  .product-option-half(data-toggle="modal", data-target="#customize_popup5")
                    .option-half-prev
                      img(src="img/product/locks.png", alt="#")
                    .option-half-descr
                      p.title #[b Lock(s)]
                      p
                        span.border-right.text-black.mr-2.pr-2 #[b x2]
                        span adds $46
                    i.fa.fa-chevron-right
                #optgroup-63423423123123123
                  .product-option-half(data-toggle="modal", data-target="#customize_popup7")
                    .option-half-prev
                      img(src="img/product/pillows.png", alt="#")
                    .option-half-descr
                      p.title 16" x 16" Pillow(s)
                      p #[span adds $46]
                    i.fa.fa-chevron-right
                #optgroup-63423423123123
                  .product-option-half(data-toggle="modal", data-target="#customize_popup8")
                    .option-half-prev
                      img(src="img/product/pillows.png", alt="#")
                    .option-half-descr
                      p.title #[b 16" x 16" Pillow(s)]
                      p
                        span.border-right.text-black.mr-2.pr-2 #[b x2]
                        span adds $46
                    i.fa.fa-chevron-right
                #optgroup-63423423324
                  .product-option-half(data-toggle="modal", data-target="#customize-popup-9")
                    .option-half-prev
                      img(src="img/product/bun_feet.png", alt="#")
                    .option-half-descr
                      p.title MODAL 9
                      p #[span Yes (standard)]
                    i.fa.fa-chevron-right
                #optgroup-63423423412313
                  .product-option-half(data-toggle="modal", data-target="#customize-popup-10")
                    .option-half-prev
                      img(src="img/product/bun_feet.png", alt="#")
                    .option-half-descr
                      p.title MODAL 10v
                      p #[b No]
                    i.fa.fa-chevron-right
                #optgroup-634234231
                  .product-option-half
                    .option-half-prev
                      img(src="img/product/pillows.png", alt="#")
                    .option-half-descr
                      p.title Standard
                        span.name -$345
                      p.text-dark 25 options
                    i.fa.fa-chevron-right
                #optgroup-634234245
                  .product-option-half
                    .option-half-prev
                      img(src="img/product/pillows.png", alt="#")
                    .option-half-descr
                      p.title Standard
                        span.name -$345
                      p.text-dark 25 options
                    i.fa.fa-chevron-right
                #optgroup-6342342309
                  .product-option-half
                    .option-half-prev
                      img(src="img/product/bun_feet.png", alt="#")
                    .option-half-descr
                      p.title Standard
                        span.name -$345
                      p.text-dark 25 options
                    i.fa.fa-chevron-right
                #optgroup-63423423123
                  .product-option-half
                    .option-half-prev
                      img(src="img/product/bun_feet.png", alt="#")
                    .option-half-descr
                      p.title Standard
                        span.name -$345
                      p.text-dark 25 options
                    i.fa.fa-chevron-right
      .col-md-3
        .option-selected
          h6.product-customize-subtitle
            b The price reflects selected options:
          ul.option-selected-list
            li Bed size:
              span Queen (64"W x 86"L)
            li Bed size:
              span Queen (64"W x 86"L)
            li Headboard Style:
              span Adessa
            li Set:
              span Full Bed
            li Wood:
              span Quartersawn White Oak
            li Wood stain:
              span OCS-225 Mission Maple
            li Nail Head Style:
              span Antique Silver
            li Bed size:
              span Queen (64"W x 86"L)
            li Headboard Style:
              span Adessa
            li Set:
              span Full Bed
            li Wood:
              span Quartersawn White Oak
            li Wood stain:
              span OCS-225 Mission Maple
            li Nail Head Style:
              span Antique Silver
          .product-price
            .product-price-value $1,371.00
            .product-price-shipping
              span + $30.40
              |  Shipping
          a.btn.btn-order.d-block(href="#") Add to cart
hr.hr-lg.py-2.my-5
section.product-customize.product-customize--dr-dw
  .container
    h5.product-title.mb-5.text-center How optional features customization works
    .row.example_option
      .col-md-4.pt-5
        .d-block.w-50.ml-auto
          img.img-fluid(src='img/product/customization_arrow1.png', alt='#')
        .product-customize-list
          .product-option-half.w-100
            .option-half-prev
              img(src='img/product/pillows.png', alt='#')
            .option-half-descr
              p.title 16" x 16" Pillow(s)
              p #[span adds $46]
            i.fa.fa-chevron-right
      .col-md-4
        .example_popup_text
          .title POP-UP
          .text WITH DESCTIPTION AND OPTIONS
          a(href='#') (Click to see example)
      .col-md-4.pt-5
        .d-block.w-50.mr-auto
          img.img-fluid(src='img/product/customization_arrow2.png', alt='#')
        .product-customize-list
          .product-option-half.w-100
            .option-half-prev
              img(src='img/product/pillows.png', alt='#')
            .option-half-descr
              p.title 16" x 16" Pillow(s)
              p #[span adds $46]
            i.fa.fa-chevron-pencil

