section.product
    .container
        .d-flex.flex-column.flex-lg-row.pb-3.border-bottom
            .product-left
                <!--Product photos in components/_product-photos.pug-->
                include ../layout/_product-photos
                <!--Product photos in components/_product-photos.pug end-->
            .product-right
                h1.product-right-title Indian Creek Panel Amish Bed
                .row
                    .col-sm-5.pe-0
                        span.product-number.mb-1 Product No.: FGFH1128
                        .product-rating
                            <!--Product rating small in mixin.pug-->
                            +rating-small("80", "<a href='#'> 8 customer reviews </a>")
                            <!--Product rating small in mixin.pug end-->
                    .col-sm-6
                        .seal-list
                            a(href="#")
                                img.seal(src='img/svg/amishhandcrafted-icon.svg', alt='#')
                    .col-sm-12
                        <!--Product price v2 in mixin.pug-->
                        +product-price-v2
                        <!--Product price v2 in mixin.pug end-->
                .product-right-btns
                    a.btn.btn-warning(href='#') Customize and Buy
                    a.btn.btn-outline-blue.my-0.border-0(href='#') Save to Wishlist
                p.product-overview
                    | With a handcrafted wood kitchen set mealtimes will become the special bonding time you’ve always dreamed of. Solidly constructed fan back chairs are optionally stained in 2 tones, creating natural wood and black kitchen chairs with custom contoured seats. The natural and black kitchen table features elegantly curved table legs, and is optionally an expandable kitchen table with self storing leaves.
                .product-includes
                    p Shown in quartersawn white oak with Michael's cherry stain. This suite includes bed, dresser with optional mirror, armoire, nightstand and blanket chest with cedar bottom.
                        a(href='#') See product features and specs
