section.cart-summary
    .container
        .row
            .cart-details
                img.cart-img(src="img/product/thumb.png", alt="#")
                .cart-text
                    h5.product-name Indian Creek Panel Amish Bed
                    .price.mb-0
                        span.value.text-warning $1,371.00
                        span.addition.text-warning  + $33.40
                        span.note Standard curbside delivery to 10001
            .cart-buttons
                .wishlist 
                    a(href="#").btn
                        i.text-warning.fa.fa-heart-o
                        span.text-dark Add to wishlist
                .add-cart
                    a(data-bs-target="#modal--add-to-card").btn.text-uppercase
                        i.fa.fa-shopping-cart
                        span Add to Cart
                        





