section.cart
    .container.mb-5
        h1 Shopping cart
        .row.wishlist-item
            //.wishlist-item-left
            .col-lg-8.col-md-6.col-sm-12
                //Start of Shipping group 1
                .row.px-0.mb-3
                    .col-md-12
                        h4.h4.mb-3 Individual Shiping Item
                        //label Delivery:
                        //li.checkbox.custom_checkbox
                        //    input#ship01(type='checkbox' name='' value='')
                        //    label(for='ship01') Standard curbside delivery
                        //li.checkbox.custom_checkbox
                        //    input#ship02(type='checkbox' name='' value='' checked='')
                        //    label(for='ship02') Inside delivery with set up

                //start PDP 1 group 1
                .row.mb-3.border-b-dashed
                    .col-lg-6.col-md-12
                        .product-selected.mb-3
                            img.img-fluid(src='img/product/yKelvO0K53.jpg')
                        .option-selected.mb-3
                            include _option-selected-list-viewAll
                    .col-lg-6.col-md-12
                        h4.h4.mb-3.fw-bold.text-black Carolina Crown Amish Bed
                        label.mb-3 Subtotal: #[span.h4.text-brown.fw-bold.mb-0 $1,371.00]
                        .row
                            .col-sm-12.mb-3
                                .checkbox.custom_checkbox
                                    input#assembly0(type='radio' name='assembly' value='' checked='checked')
                                    label.mb-0(for='assembly0') On-site assembly #[span.text-brown + $800.00]

                        .row
                            .col-sm-12.mb-3
                                label.mb-1 Delivery Option:
                                select.selectpicker.w-100
                                    option.text-dark(value='2') Option 1
                                    option.text-dark(value='3') Option 2
                        .row
                            .col-sm-12.mb-3
                                label.mb-1 Quantity:
                                .quantity.plus_minus
                                    .quantity__btn.quantity__btn--down &#x268A;
                                    input(type="number", min="1", max="99", step="1", value="1")
                                    .quantity__btn.quantity__btn--up &#x271A;
                        .actions.mb-3
                            a.edit(href='#')
                                | Edit
                            button.wishlist
                                | Move to wishlist
                            button.delete
                                | Delete
                //End PDP 1 group 1

                //start PDP 1 group 2
                .row.mb-5.border-b-dashed
                    .col-lg-6.col-md-12
                        .product-selected.mb-3
                            img.img-fluid(src='img/product/Amq5PuczxT.jpg')
                        .option-selected.mb-3
                            include _option-selected-list-viewAll
                    .col-lg-6.col-md-12
                        h4.h4.mb-3.fw-bold.text-black Carolina Crown Amish Bed
                        label.mb-3 Subtotal: #[span.h4.text-brown.fw-bold.mb-0 $1,371.00]
                        .row
                            .col-sm-12.mb-3
                                .checkbox.custom_checkbox
                                    input#assembly2(type='radio' name='assembly' value='' checked='checked')
                                    label.mb-0(for='assembly2') On-site assembly #[span.text-brown + $800.00]

                        .row
                            .col-sm-12.mb-3
                                label.mb-1 Delivery Option:
                                select.selectpicker.w-100
                                    option.text-dark(value='2') Option 1
                                    option.text-dark(value='3') Option 2
                        .row
                            .col-sm-12.mb-3
                                label.mb-1 Quantity:
                                select.selectpicker.w-100
                                    option.text-dark(value='2') Option 1
                                    option.text-dark(value='3') Option 2
                        .actions.mb-3
                            a.edit(href='#')
                                | Edit
                            button.wishlist
                                | Move to wishlist
                            button.delete
                                | Delete
                //End PDP 1 group 2
                .extended_price (Combined) Standard curbside delivery of 2 items above
                .extended_price Shipping group total:
                    span.ms-3 $130.67
                .extended_price You saved:
                    span.ms-3.text-brown - $32.00

                //End of Shipping group 1

            //.wishlist-item-right
            .col-lg-4.col-md-6.col-sm-12
                .proceed_to_checkout
                    .title Order Summary
                    .item
                        span.name Items:
                        span.price $1,321.00
                    .item
                        span.name Shipping & handling:
                        span.price $135.00
                    .item
                        span.name Savings on combined shipping:
                        span.price.text-brown  - $128.24
                    .item.full_price
                        span.name Extended price:
                        span.price $1,371.00

                    a(href='#').btn.btn-warning.w-100
                        b PROCEED TO CHECKOUT

                .proceed_to_checkout
                    .title.mt-0.mb-3 Calculate Shipping
                    .row.mb-3
                        .col-12
                            label Enter Zip:
                            input.form-control
                    .row
                        .col-12
                            a.btn.btn-outline-warning.w-100.text-uppercase(href="#")
                                b Calculate


