section.signin
    .container
        .row
            .col-md-12
                h1.mb-5 My Account
        .row
            .col-lg-4.col-md-6.col-sm-12
                form.w-100
                    .mb-5
                        label(for='username') Username
                        input#username.form-control(type='text')
                    .mb-5
                        label(for='userPassword') Password
                        input#userPassword.form-control(type='password', aria-describedby='userPassword')
                        small#userPasswordHelp.form-text.text-muted Forgot #[button( data-bs-toggle="modal" data-bs-target="#modal--forgot-pass") Password]
                            | ?
                    .mb-5
                        button.w-100.btn.btn-warning(type='submit')
                            span.text-uppercase.fw-bold Log In

                    .mb-5
                        label Not yet a member?
                        button.w-100.btn.btn-outline-warning(type='submit')
                            span.text-uppercase.fw-bold Create an account

