section.testimonials
  .container
    h1.testimonials-title Tetimonials
    .row.border-b-dashed.mb-3
      .col-md-3
        img.img-fluid.pt-md-4.pt-lg-0(src="img/svg/sealofapproval-icon.svg", alt="#")
      .col-md-9
        p.pl-5.pt-lg-4.pt-xl-5 We at Cabinfield are very proud of our Amish furniture products. We make every effort to inform our visitors about our fine-quality, handmade Amish furniture products and superior customer service. But it’s the Cabinfield testimonials, the straight-from-the-customer reviews we receive that speak most eloquently.
          br
          | Please take a few minutes to read through some Cabinfield customer reviews and find out for yourself what others have already discovered in value, quality, and satisfaction when they choose Cabinfield Amish furniture. Give us a try. We feel certain you’ll agree.

    .row.border-b-dashed.mb-3
      .col-md-3
        .product-review
            .avatar
              i.fa.fa-user-circle-o
            .name Sally Schenk
            .tagline Ocean Shores, WA March 7, 2018
      .col-md-6
        .product-review
            p.text.font-italic.ml-0
              | I received my Squanto Bed and it is perfect in every way. The stain and style matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture and the people that I dealt with from placing the order to delivery. Everyone was very helpful with questions I had and I believe went out of their way to accommodate my special request to lower the bed a few inches. I would recommend this company to anyone. The stain and style matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture and the people that I dealt with from placing the order to delivery. Everyone was very helpful with questions I had and I believe went out of their way to accommodate my special request to lower the bed a few inches. I would recommend this company to anyone.
      .col-md-3.testimonials-product
        .testimonials-product-list
          | 1 x
          a(href='#', data-id='1') Carolina Crown Amish Bed
          | 2 x
          a(href='#', data-id='2') Ultra Amish Office Set
          | 1 x
          a(href='#', data-id='3') Ultra Massive Amish Tabbl
          | 1 x
          a(href='#', data-id='4') Carolina Crown Amish Bed
          | 2 x
          a(href='#', data-id='5') Ultra Amish Office Set
        .testimonials-img-list
          a(href='#', data-id='1')
            img.img-fluid(src='img/product/R2hSOu8nsm.jpg',alt="#")
          a(href='#', data-id='2')
            img.img-fluid(src='img/product/rW7GwEdO13.jpg',alt="#")
          a(href='#', data-id='3')
            img.img-fluid(src='img/product/WTr0ZgXRKA.jpg',alt="#")
          a(href='#', data-id='4')
            img.img-fluid(src='img/product/yKelvO0K53.jpg',alt="#")
          a(href='#', data-id='5')
            img.img-fluid(src='img/product/5aa15072b8457.jpeg',alt="#")
    .row.border-b-dashed.mb-3
      .col-md-3
        .product-review
            .avatar
              i.fa.fa-user-circle-o
            .name Sally Schenk
            .tagline Ocean Shores, WA March 7, 2018
      .col-md-6
        .product-review

            p.text.font-italic.ml-0
              | I received my Squanto Bed and it is perfect in every way. The stain and style matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture and the people that I dealt with from placing the order to delivery. Everyone was very helpful with questions I had and I believe went out of their way to accommodate my special request to lower the bed a few inches.
      .col-md-3.testimonials-product
        .testimonials-product-list
          | 1 x
          a(href='#', data-id='1') Carolina Crown Amish Bed
          | 2 x
          a(href='#', data-id='2') Ultra Amish Office Set
          | 1 x
          a(href='#', data-id='3') Ultra Massive Amish Tabbl
          | 1 x
          a(href='#', data-id='4') Carolina Crown Amish Bed
        .testimonials-img-list
          a(href='#', data-id='1')
            img.img-fluid(src='img/product/R2hSOu8nsm.jpg',alt="#")
          a(href='#', data-id='2')
            img.img-fluid(src='img/product/rW7GwEdO13.jpg',alt="#")
          a(href='#', data-id='3')
            img.img-fluid(src='img/product/WTr0ZgXRKA.jpg',alt="#")
          a(href='#', data-id='4')
            img.img-fluid(src='img/product/yKelvO0K53.jpg',alt="#")
    .row.border-b-dashed.mb-3
      .col-md-3
        .product-review
            .avatar
              i.fa.fa-user-circle-o
            .name Sally Schenk
            .tagline Ocean Shores, WA March 7, 2018
      .col-md-6
        .product-review
            p.text.font-italic.ml-0
              | I received my Squanto Bed and it is perfect in every way. The stain and style matched my other furniture beautifully and I can't say enough good things about the craftmanship of the furniture and the people that I dealt with from placing the order to delivery. Everyone was very helpful with questions I had and I believe went out of their way to accommodate my special request to lower the bed a few inches.
      .col-md-3.testimonials-product
        .testimonials-product-list
          | 1 x
          a(href='#', data-id='1') Carolina Crown Amish Bed
        .testimonials-img-list
          a(href='#', data-id='1')
            img.img-fluid(src='img/product/R2hSOu8nsm.jpg',alt="#")
    .row
      .col-md-8.offset-md-2
        include _pagination
