//section.top-section.d-block.mb-5(style="position:relative;")
section.top-section
    .container.d-flex.justify-content-between.align-items-center
        .top-section-left
            img.top-section-img(src="img/product/tmp_product.jpg", alt="#")
            .top-section-descr
                h5.top-section-title Indian Creek Panel Amish Bed
                .product-price.mb-0
                    .product-price-value $1,371.00
        .top-section-right
            a(href="#").save-wish Save to Wishlist

