section.wishlist
  .container
    h1.wishlist-title My Wish List
    .row.wishlist-item
      include ../layout/_product-selected-wishlist
    hr
    .row.wishlist-item
      include ../layout/_product-unselected-wishlist
    hr.mb-5